@import '@common/styles/index.scss';

.container {
  padding: $padding-4n $padding-4n 0;
  background: $white;
}

.content {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  padding-bottom: 6px;
  color: $text-color-primary;
  .text {
    font-family: 'PingFangSC-Regular';
    font-size: $font-size-primary;
    text-align: left;
    line-height: 16px;
  }
  .money {
    font-family: 'PingFang SC';
    font-weight: 600;
    font-size: $font-size-middle;
    text-align: left;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  font-family: 'PingFangSC-Regular';
  font-weight: normal;
  font-size: $font-size-label;
  .time {
    text-align: left;
    color: $text-color-secondary;
  }
  .withdrawalStatus1 {
    color: $primary-color;
  }
  .withdrawalStatus2 {
    color: $text-color-regular;
  }
  .withdrawalStatus3 {
    color: $error-color;
  }
  .withdrawalStatus4 {
    color: $success-color;
  }
}

.serialNumber {
  font-family: 'PingFangSC-Regular';
  font-weight: normal;
  font-size: $font-size-label;
  text-align: left;
  color: $text-color-secondary;
  padding: $padding-2n 0 22px;
  border-bottom: $border-solid-1;
}
