@import '@common/styles/index.scss';


.container {
    padding: 16px 16px 0;
    background: var(--color-white);
}

.content {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    padding-bottom: 16px;
    color: var(--color-text-primary);
    .text {
        font-family: 'PingFangSC-Regular';
        font-size: 14px;
        text-align: left;
        line-height: 16px;
    }
    .money {
        font-family: "PingFang SC";
        font-weight: 600;
        font-size: 16px;
        text-align: left;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    font-family: 'PingFangSC-Regular';
    font-weight: normal;
    font-size: 12px;
    .time {
        text-align: left;
        color: var(--color-text-secondary);
    }
    .withdrawalStatus1 {
        color: var(--color-primary);
    }
    .withdrawalStatus2 {
        color: $text-color-regular;
    }
    .withdrawalStatus3 {
        color: var(--color-error);
    }
    .withdrawalStatus4 {
        color: var(--color-success);
    }
}

.serialNumber {
    font-family: 'PingFangSC-Regular';
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    color: var(--color-text-secondary);
    padding: 16px 0;
    border-bottom: var(--border-border);
}