@import '@common/styles/index.scss';

.container {
  box-sizing: content-box;
  height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem($padding-6n);
}
// var(--color-primary)
.circle {
  width: rem(14);
  height: rem(14);
  font-size: rem(4);
  border-radius: 50%;
  border: solid rem(2) var(--border-line-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  .spot {
    width: rem(4);
    height: rem(4);
    border-radius: 50%;
    background: var(--color-white);
  }
}
.selectedCircle {
  border: solid rem(2) var(--color-primary);
  .selectedSpot {
    background: var(--color-primary);
  }
}

.line {
  width: rem(2);
  height: rem(119);
  background: var(--border-line-color);
}

.detailed {
  position: relative;
  .left {
    position: absolute;
    left: rem(2);
    top: rem(2);
    .linePosition {
      position: absolute;
      left: rem(8);
    }
  }

  .rigth {
    padding-left: rem(38);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .text {
      font-family: 'PingFang SC';
      font-weight: normal;
      font-size: rem($font-size-primary);
      line-height: 24px;
      text-align: left;
      color: var(--color-text-primary);
      padding-left: rem($padding-2n);
    }
    .textColor {
      color: var(--color-primary);
    }
  }
}