@import '@common/styles/mixin/login.scss';
.container {
  @include mini_container;
  .button {
    @include mini_button;
    margin-top: 0;
  }
  .exit {
    @include mini_button;
    @include button_exit;
    &:hover {
      @include button_exit;
    }
    &:active{
      @include button_exit;
    }
    margin-top: $margin-4n;
    padding: 0;
    .clickBtn {
      @include button_exit;
      width: 100%;
    }
  }
}
.content {
  @include mini_content;
  .title {
    @include mini_title;
  }
  .tips{
    @include mini_tips;
  }
  .functionalRegion {
    @include functionalRegion;
  }
}
