@import '@styles/index.scss';
.emoji-container {
  display: inline-flex;
  // justify-content: center;
  padding-left: 10px;
  align-items: center;
  flex-wrap: wrap;
  background: white;

  .emoji-item {
    width: 25px;
    height: 25px;
    margin: 4px;
  }
}