@import "@common/styles/index.scss";
@mixin flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup {
  :global {
    .dzq-popup__overlay {
      background-color: $body-bg-color;
    }
    .dzq-popup__container {
      height: 100%;
    }
  }
}

.wrapper {
  height: 100vh;
  height: -webkit-fill-available;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  background: $body-bg-color;

  .header {
    @include flex();
    width: 100%;
    padding: $padding-4n $padding-4n $padding-2n;
    background: $white;
    box-sizing: border-box;

    .input-box {
      flex: 1;
      @include flex();
      padding: 0 $padding-2n;
      background: $text-bg-color2;
      opacity: 0.78;
      border-radius: $border-radius-small;

      .icon-box {
        flex: 0 0 32px;
        height: 32px;
        height: 36px;
        display: flex;
      }
      .search-icon {
        margin: auto;
        color: $icon-color-light;
      }
      .delete-icon {
        margin: auto;
        color: $disabled-color;
      }
    }

    .btn-cancel {
      flex-basis: 44px;
      font-size: $font-size-primary;
      color: $text-color-secondary;
      text-align: right;
    }
  }

  :global {
    .dzq-input {
      width: 100%;
      background: $text-bg-color2;
      opacity: 0.78;

      .dzq-input__inner {
        width: 100%;
        padding: 0;
        font-size: $font-size-middle;
        color: $text-color-primary;
        background: $text-bg-color2;
        opacity: 0.78;
        border: none;
      }

      .input-placeholder {
        color: $text-color-placeholder;
      }
    }
  }

  .topic-item {
    background: $white;

    .topic-item__inner {
      @include flex();
      padding: rem($padding-4n) 0;
      margin: 0 rem($margin-4n);
      border-top: $border-solid-1;
    }
    &:first-child .topic-item__inner {
      border-top: none;
    }

    .item-left {
      max-width: rem(240px);

      .name {
        line-height: 20px;
        font-size: $font-size-primary;
        color: $text-color-primary;
        @include lamp-clamp(2);
      }
    }

    .item-right {
      font-size: $font-size-small;
      color: $text-color-secondary;
      white-space: nowrap;
    }
  }
}

.pc {
  .wrapper {
    height: 500px;
    min-height: 50vh;

    .header {
      padding-bottom: 0;
      .input-box {
        width: 100%;
        background: $white;
        padding: 0 0 $padding-2n 0;
        border-bottom: $border-solid-1;
        opacity: 1;
      }
    }

    :global {
      .dzq-input {
        box-sizing: border-box;
        background: $white;

        .dzq-input__inner {
          background: $white;
        }
      }
    }
    
    .list {
      height: 398px !important;
      min-height: 436px !important;
      .list__inner {
        @include scrollbar();
      }
    }

    .topic-item {
      padding-right: $padding-2n;
    }
  }
}
