@import "@common/styles/index.scss";
.popup {
  :global {
    .dzq-popup__overlay {
      background-color: $white;
    }
  }
}

.wrapper {
  position: relative;
  height: 100vh;

  .input {
    position: relative;

    .delete {
      position: absolute;
      top: rem(26);
      right: rem(32);
      width: rem(16);
      height: rem(16);
      background: $text-color-placeholder;
      border-radius: $border-radius-circle;
      display: flex;
      justify-content: center;
      align-items: center;

      .delete-icon {
        transform: scale(0.8);
        color: $white;
      }
    }
  }

  :global {
    .dzq-input {
      box-sizing: border-box;
      width: 100%;
      padding: rem($padding-4n $padding-4n $padding-2n);
      .dzq-input__inner {
        height: rem(36);
        font-weight: normal;
        font-size: $font-size-base;
        background: var(--background-color-text2);
        color: $text-color-primary;
        line-height: $font-line-height-base;
        padding-left: rem(30);
        border: none;
        // padding-right: 5px;
        // text-align: left;
      }
      .dzq-input__icon {
        left: rem(16);
        top: 50%;
        margin-top: rem(-14);
        color: $disabled-color2 !important;
      }
    }

    .btn-cancel {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: rem(52px);
      margin: 0 rem($margin-4n);
      display: flex;
      align-items: center;
      background: $white;
      .dzq-button {
        @include button-default;
        width: 100%;
      }
    }
  }

  .topic-wrap {
    height: calc(100vh - 110px);
  }
  .topic-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem($padding-4n) 0;
    border-bottom: $border-solid-1;
    margin: 0 rem($margin-4n);
    .item-left {
      display: flex;
      align-items: center;
      max-width: rem(240px);
      font-size: $font-size-base;
      color: $text-color-primary;
      @include text-ellipsis;

      .name {
        max-width: 197px;
        line-height: 20px;
        font-size: $font-size-base;
        color: $text-color-primary;
        word-break: break-all;
      }
      :global {
        .dzq-icon {
          margin-left: rem($margin-1n);
          font-size: $font-size-base;
          color: $primary-color;
        }
      }
    }
    .item-right {
      white-space: nowrap;
      font-size: $font-size-small;
      text-align: left;
      color: $text-color-secondary;
    }
  }
}

.pc {
  .wrapper {
    height: 500px;
  }
  .topic-wrap {
    height: calc(500px - 110px);
  }
}