.popup {
  :global {
    .dzq-popup__overlay {
      background-color: #fff;
    }
  }
}

.wrapper {
  position: relative;
  height: 100vh;

  :global {
    .dzq-input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px 16px;
      .dzq-input__inner {
        height: 40px;
        padding-left: 35px;
        padding-right: 5px;
        font-size: 16px;
        color: #0b0b37;
        background: #f6f6f6;
        border: none;
      }
      .dzq-input__icon {
        left: 16px;
        top: 50%;
        margin-top: -18px;
        color: var(--color-disabled2) !important;
      }
    }

    .btn-cancel {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 16px;
      background: #fff;
      .dzq-button {
        width: 100%;
        height: 45px;
        margin-bottom: 5px;
        font-size: 14px;
        color: #777;
        background: #f9fafc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0;
      }
    }
  }

  .topic-wrap {
    height: calc(100vh - 110px);
  }
  .topic-item {
    display: flex;
    justify-content: space-between;
    height: 20px;
    padding: 16px 16px;
    line-height: 20px;
    border-bottom: 1px solid #ededed;
    .item-left {
      display: flex;
      align-items: center;
      max-width: 235px;

      .name {
        max-width: 197px;
        line-height: 20px;
        font-size: 14px;
        font-weight: 600;
        color: #333;
        word-break: break-all;
      }
      .recommend {
        width: 20px;
        height: 20px;
        margin-left: 20px;
        margin-bottom: 8px;
        font-size: 22px;
      }
    }
    .item-right {
      font-size: 12px;
      color: rgb(51, 51, 51);
      white-space: nowrap;
    }
  }
}

.pc {
  .wrapper {
    height: 500px;
  }
  .topic-wrap {
    height: calc(500px - 110px);
  }
}