@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.container {
    padding: rem($padding-4n);
    .header {
        font-family: 'PingFang SC';
        font-weight: 600;
        font-size: rem(18);
        line-height: rem($font-line-height-primary);
        text-align: left;
        color: var(--color-text-primary);
        padding-bottom: rem($padding-4n);
        border-bottom: var(--border-border);
    }
    .body {
        .content {
            font-family: 'PingFang SC';
            font-weight: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .orderNum {
                font-size: rem($font-size-primary);
                line-height: rem(40);
                text-align: left;
                margin-right: rem($padding-2n);
            }
            .orderNum1 {
                color: var(--color-error);
            }
            .orderNum2 {
                color: var(--color-error);
                opacity: 0.8;
            }
            .orderNum3 {
                color: var(--color-error);
                opacity: 0.6;
            }
            .orderNum4 {
                color: var(--color-error);
                opacity: 0.5;
            }
            .orderNum5 {
                color: #ffc300;
            }
            .text {
                width: 100%;
                font-size: rem($font-size-middle);
                line-height: rem(40);
                color: var(--color-text-primary);
               
            }
        }
    }
    .footer {
        display: flex;
        justify-content: space-between;
        padding-bottom: rem($padding-2n);
        border-bottom: solid #eee rem(1);
        .footerLeft {
            font-family: "PingFang SC";
            font-weight: normal;
            font-size: 12px;
            line-height: 25.68px;
            text-align: left;
            color: #8490a8;
            .browseIcon {
                margin-right: rem($margin-1n);
            }
        }
        .footerRigth {
            display: flex;
            font-family: 'PingFangSC-Regular';
            font-weight: normal;
            font-size: rem($font-size-label);
            .ftrPublic {
                width: rem(40);
                height: rem(20);
                line-height: rem(20);
                text-align: center;
                border-radius: rem($border-radius-small);
                margin-left: rem($margin-2n);
            }
            .pay {
                color: #3ac15f;
                background: #ebf9ef;
                border: rem(1) solid #3ac15f;
            }
            .essence {
                color: var(--color-primary);
                background: #e8f0fe;
                border: rem(1) solid var(--color-primary);
            }
            .redPacket {
                color: var(--color-error);
                background: #fce8ea;
                border: rem(1) solid var(--color-error);
                
            }
            .reward {
                color: #ffc300;
                background: #fff9e5;
                border: rem(1) solid #ffc300;

            }
        }
    }
    
    .update {
        font-family: 'PingFang SC';
        font-weight: normal;
        font-size: rem($font-size-primary);
        line-height: rem($font-line-height-primary);
        text-align: center;
        color: #4f5a70;
        padding-top: rem($padding-4n);
        .updateIcon {
            margin-right: rem($margin-1n);
        }
    }

}