@import '@common/styles/index.scss';

.container {
  // width: 100%;
  padding: rem($padding-6n);
}

.header {
  font-family: 'PingFangSC-Regular';
  font-weight: normal;
  font-size: rem($font-size-primary);
  text-align: left;
  color: $text-color-regular;
}

.input {
  display: flex;
  align-items: center;
  padding: rem($padding-6n) 0;
  border-bottom: var(--border-border);

  :global {
    .dzq-input__inner {
      height: 44px;
      border: none;
      font-family: 'PingFang SC';
      font-weight: 600;
      font-size: rem(30);
      text-align: left;
      color: #c5c6ca;
    }
  }

  .moneyIcon {
    font-family: 'PingFang SC';
    font-weight: 600;
    font-size: rem(30);
    text-align: left;
    color: $text-color-primary;

  }

  .moneyIcon-Red {
    font-family: 'PingFang SC';
    font-weight: 600;
    font-size: rem(30);
    text-align: left;
    color: $error-color;
  }

  .InputColor>input {
    color: $text-color-primary;
  }

  .InputRedColor>input {
    color: $error-color;
  }
}

.leasterr {
  color: $error-color;
  padding-bottom: rem(8);
}

.leastMoney {
  font-family: PingFangSC-Regular;
  font-weight: normal;
  font-size: rem($font-size-label);
  text-align: left;
  color: var(--color-text-secondary);
  padding: rem($padding-6n) 0;
}