@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.container {
  box-sizing: border-box;
  padding: 0 rem($padding-4n);
  padding-bottom: 0;
  background:var(--color-white);
  border-radius: rem(5);
  cursor: pointer;

  &:hover {
    background: rgba(229, 242, 255, 0.3);
  }
  .title {
    font-size: rem($font-size-middle);
    line-height: rem(26);
    text-align: left;
    color: var(--color-text-primary);
  }

  .header {
    padding: rem($padding-4n) 0;
  }
  .content {
    position: relative;
    >* {
      margin-top: rem($margin-4n);
    }

    .cover {
      position: absolute;
      right: 0;
      left: 0;
      top: rem(-16);
      bottom: 0;
      background-color: rgba($color: #000, $alpha: 0.5);
      z-index: 10;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
  .payContent {
    min-height: rem(40);
  }
  .bottom {
    height: rem(52);
    display: flex;
    align-items: center;
    border-top: var(--border-line-color) solid rem(1);
    margin-top: rem(12);
  }
  .button {
    width: 100%;
    height: rem(36);
    font-size: rem($font-size-primary);
    line-height: rem(36);
    padding: 0;
    margin-bottom: rem($margin-4n);
    .icon {
      font-size: rem($font-size-primary);
      margin-right: rem($margin-10);
    }
  }
}

.containerBottom {
  margin-bottom: rem(10);
}