@import '@common/styles/index.scss';
@import '@common/styles/_variable.scss';

.mobileLayout {
    background: $white;
}

.unit {
    &::before {
        content: '';
        display: block;
        height: 10px;
        background: $spacer-bg-color;
    }
}

.dividerContainer {
    padding-left: $padding-4n;
    padding-right: $padding-4n;
}

.divider {
    margin: $margin-2n 0;
}

.threadUnit {
    padding: $padding-4n;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .threadTitle {
        font-weight: 600;
        font-size: $font-size-middle;
        color: $text-color-primary;
        margin-right: $margin-3n;
    }

    .threadCount {
        font-size: $font-size-small;
        color: $text-color-secondary;
    }
}