@import '@common/styles/index.scss';


.container {

  :global {
    .datepicker-modal {
      z-index: 1 !important;
    }
  }

  @include scrollbar();
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: var(--comment-content-bg-color);
}

.scroll {
  width: 100%;
  height: calc(100vh - 58px);
  overflow-y: scroll;

  .header {
    width: 100%;
  }

  .choiceTime {
    height: rem(52);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $comment-bg-color;
    padding: 0 rem($padding-4n);

    .status {
      font-family: 'PingFangSC-Regular';
      font-weight: normal;
      color: #4f5a70;
      font-size: rem($font-size-primary);

      .icon {
        margin-left: rem(9);
      }
    }
  }

  .tabs {
    width: 100%;
    border-bottom: var(--border-border);

    .tagbox {
      display: flex;
      justify-content: center;
      align-items: center;
    }


    :global {
      .dzq-tabs__panel {
        height: 0;
      }

      .dzq-tabs__list {
        display: flex;
      }

      .dzq-tabs__content {
        padding-left: 0;
        padding-right: 0;
      }

      .dzq-tabs__label {
        padding-bottom: rem(10) !important;
        font-family: "PingFang SC";
        font-weight: 600;
        font-size: rem($font-size-primary);
      }

      .dzq-tabs__item {
        height: rem(50);
        box-sizing: border-box;
        flex: 1;

        &::after {
          width: rem(82);
          margin: auto;
        }
      }
    }
  }
}

.tag {
  margin-right: $margin-2n;

}

.tag-active-green {
  color: $success-color;
}

.tag-active-blue {
  color: $warn-color;
}

.tag-active-red {
  color: $error-color;
}


.footer {
  width: 100%;
  height: rem(69);
  box-sizing: border-box;
  padding: $padding-2n $padding-4n 0px;
  background: var(--color-white);

  .button {
    width: 100%;
    height: rem(42);
    border-radius: rem($border-radius-small);
    color: var(--color-white);
    background: var(--color-primary);
    font-family: 'PingFang SC';
    font-weight: normal;
    font-size: rem($font-size-middle);
  }
}