@import '@common/styles/mixin/login.scss';
@import '@common/styles/index.scss';
.container {
  height: 100vh;
}
.banner {
  @include banner;
}
.content {
  @include content;
  .button {
    @include button;
  }
  .title {
    @include title;
  }
  .otherLogin-within__tips{
    @include otherLoginText;
  }
  .functionalRegion {
    @include functionalRegion;
  }
  .tips{
    @include titleTips;
    margin-bottom: 0;
  }
}
