@import '@common/styles/index.scss';
@import '@common/styles/_variable.scss';

.h5box {
    width: 100%;
    min-height: rem(196);
    position: relative;
    // top: rem(-10);
    margin-top: rem(-$margin-10);
    // border-bottom: var(--border-border);
    background-color: var(--color-white);
    // background-color: pink;
    padding: rem($padding-4n);
    box-sizing: border-box;
    // display: flex;
    // align-items: flex-end;
    // justify-content: center;
    border-radius: 0 0 rem($border-radius-big) rem($border-radius-big);
    .h5boxTop {
      position: relative;
      height: rem(60);
    }
    .headImgBox{
        position: absolute;
        left: 20%;
        top: 60%;
        transform: translateX(-50%) translateY(-100%);
    }
    .text{
        width: 100%;
        // text-align: center;
        font-size: rem($font-size-primary);
        color: $text-color-primary;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.2;
        color: $text-color-regular;
        margin-top: rem(12);
    }
    .userMessageList {
      display: flex;
      position: absolute;
      right: 0;
      width: rem(230);
      align-items: center;
      justify-content: center;
      line-height: rem($font-line-height-base);
    }
    .userMessageListItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 76%;
      >span:nth-child(1) {
        font-size: rem($font-size-base);
        color: $text-color-primary;
      }
      >span:nth-child(2) {
        font-size: rem($font-size-middle);
        font-weight: 600;
        color: $text-color-primary;
      }
    }
    .userNameOrTeam {
      line-height: rem($font-line-height-small);
      >span:nth-child(1) {
        font-size: rem($font-size-large);
        font-weight: 600;
        color: $text-color-primary;
        margin-right: rem($margin-2n);
      }
      >span:nth-child(2) {
        font-size: rem($font-size-small);
        color: $text-color-regular;
      }
    }
    .userBtn {
      margin-top: rem($margin-4n);
      display: flex;
      justify-content: flex-start;
      button {
        width: 100%;
        height: rem(44);
        font-size: rem($font-size-middle);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      button:nth-child(2) {
        margin-left: rem($margin-2n);
        border-color: $primary-color;
        color: $primary-color;
      }
      .userBtnText {
        margin-left: rem($margin-2n);
      }
    }
    .userFriendsBtn {
      background: $warn-color;
      border-color: $warn-color;
    }
    .shieldBtn {
      position: absolute;
      top: rem(-26);
      right: rem(16);
      display: inline-block;
      :global {
        .dzq-icon {
          vertical-align: middle;
          font-size: rem($font-size-base);
          color: $white;
        }
      }
      span {
        vertical-align: middle;
        font-size: rem($font-size-base);
        color: $white;
        margin-left: rem($margin-2n);
      }
    }
}