@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.keyboard{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  .line{
    display: flex;
    align-items: center;
    .column{
      box-sizing: border-box;
      flex: 1;
      font-size: rem($font-size-large);
      color: var(--color-text-primary);
      height: rem(50);
      text-align: center;
      border: 1px solid var(--border-line-color);
      border-bottom: none;
      border-right: none;
      line-height: rem(50);
    }
    .special{
      box-sizing: border-box;
      flex: 1;
      font-size: rem($font-size-middle);
      color: var(--color-text-primary);
      height: rem(50);
      text-align: center;
      border: 1px solid var(--border-line-color);
      border-bottom: none;
      border-right: none;
      line-height: rem(50);
      background: #ededed;
    }
  }
}