@import '@common/styles/var.scss';
@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.container {
  box-sizing: border-box;
  padding: 0 rem($padding-4n);
  padding-bottom: 0;
  background: #fff;
  .title {
    font-size: rem($font-size-middle);
    line-height: rem(26);
    text-align: left;
    color: #0b0b37;
  }

  .header {
    padding-bottom: rem(24);
    padding-top: rem(16);
  }
  .content {
    position: relative;
    >* {
      margin-top: rem(16);
    }

    .cover {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: #111;
      background-color: rgba($color: #000, $alpha: 0.5);
      z-index: 10;
      display: flex;
      align-items: center;
    }
  }
  .bottom {
    height: rem(52);
    display: flex;
    align-items: center;
    border-top: var(--border-line-color) solid rem(1);
    margin-top: rem(12);
  }
  .button {
    width: 100%;
    height: rem(36);
    font-size: rem($font-size-primary);
    line-height: rem(36);
    padding: 0;
    margin-bottom: rem(16);
    .icon {
      font-size: rem($font-size-primary);
      margin-right: rem($margin-10);
    }
  }
}