@import '@common/styles/index.scss';
.orCode{
  width: rem(327);
  height: rem(220);
  margin-top: rem(10);
  position: relative;
  text-align: center;
  .orCode__img {
    margin-top: rem(20);
    width: rem(150);
    height: rem(150);
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
      display: inline-block;
      border: $border-solid-1;
    }
  }
  .orCode__text {
    font-size: rem($font-size-small);
    padding: rem(20) rem(20) 0;
    text-align: center;
    line-height: rem(22);
  }
}

// ----------------------PC
.pc_orCode {
  width: 198px;
  text-align: center;
  margin: 0 auto;
  .pc_orCode__img {
    width: 198px;
    height: 198px;
    box-sizing: border-box;
    text-align: center;
    border: $border-solid-1;
    img {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
  .pc_orCode__text {
    padding-top: $padding-6n;
    font-weight: normal;
    font-size: $font-size-middle;
    line-height: $font-line-height-middle;
    color: #0b0b37;
  }
}
.pc_orCode_mini {
  overflow: hidden;
  border-radius: 50%;
  padding: 16px;
}