@import '@common/styles/index.scss';

.container {
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: space-between;
    height: rem(36);
    padding: 0 rem($padding-4n);
    border-radius: rem(5) rem(5) 0 0;
    background-color: $comment-bg-color;
    font-family: "PingFang SC";
    font-weight: normal;
    font-size: rem($font-size-primary);
    text-align: left;
    line-height: rem(36);
    color: #4f5a70;

    .left {
        width: 40%;
    }
    .leftWidth {
        width: 30%;
    }
    .rigthWidth {
        width: 70%;
    }

    .rigth {
        width: 60%;
        display: flex;
        justify-content: space-around;
        .type {
            width: 33%;
        }
        .money {
            width: 33%;
        }
        .status {
            width: 33%;
        }
        .time {
            width: 33%;
        }
        .payWidth {
            width: 25%;
        }
    }
}

.content {
    display: flex;
    justify-content: space-between;
    height: rem(36);
    padding: rem($padding-2n) rem($padding-4n);
    font-weight: normal;
    font-size: rem($font-size-primary);
    text-align: left;
    line-height: rem(36);
    border-bottom: var(--border-border);

    .left {
        width: 40%;
        font-family: "PingFang SC";
        font-weight: normal;
        font-size: rem($font-size-primary);
    }
    .leftWidth {
        width: 30%;
    }
    .rigthWidth {
        width: 70%;
    }

    .rigth {
        width: 60%;
        display: flex;
        justify-content: space-around;
        text-align: left;
        .type {
            font-family: "PingFang SC";
            width: 33%;
            font-weight: normal;
            color: var(--color-text-primary);
        }
        .status {
            font-family: "PingFang SC";
            width: 33%;
            font-weight: normal;
            // color: var(--color-text-primary);
        }
        .money {
            width: 33%;
            font-family: "PingFang SC";
            font-weight: 600;
            font-size: rem($font-size-middle);
            color: var(--color-error);
        }
        .time {
            width: 33%;
            font-family: 'PingFangSC-Regular';
            font-weight: normal;
            color: var(--color-text-secondary);
        }
        .payWidth {
            width: 25%;
        }
    }
}