@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.container {
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: space-between;
    height: rem(36);
    padding: 0 rem($padding-4n);
    border-radius: rem(5) rem(5) 0 0;
    background: var(--comment-box-bg-color);
    font-family: "PingFang SC";
    font-weight: normal;
    font-size: rem($font-size-primary);
    text-align: left;
    line-height: rem(36);
    color: #4f5a70;

    .left {
        width: 33%;
    }

    .rigth {
        width: 66%;
        display: flex;
        justify-content: space-around;
        .type {
            width: 33%;
        }
        .money {
            width: 33%;
        }
        .time {
            width: 33%;
        }
    }
}

.content {
    display: flex;
    justify-content: space-between;
    height: rem(36);
    padding: 0 rem($padding-4n);
    font-weight: normal;
    font-size: rem($font-size-primary);
    text-align: left;
    line-height: rem(36);

    .left {
        width: 33%;
        font-family: "PingFang SC";
        font-weight: normal;
        font-size: rem($font-size-primary);
    }

    .rigth {
        width: 66%;
        display: flex;
        justify-content: space-around;
        text-align: left;
        .type {
            font-family: "PingFang SC";
            width: 33%;
            font-weight: normal;
            color: var(--color-text-primary);
        }
        .money {
            width: 33%;
            font-family: "PingFang SC";
            font-weight: 600;
            font-size: rem($font-size-middle);
            color: var(--color-error);
        }
        .time {
            width: 33%;
            font-family: 'PingFangSC-Regular';
            font-weight: normal;
            color: var(--color-text-secondary);
        }
    }
}