.title {
  width: 3.43rem;
  margin: 10px auto;
  border: none;
  border-bottom: var(--border-border);

  :global {
    .dzq-input__inner {
      padding: 8px 0;
      font-size: 20px;
      line-height: 22px;
      border: none;
      color: #0B0B37;
    }
  }
}

.is-display{
  display: none;
}
