@import '@common/styles/index.scss';
.userContent {
  .section {
    background: $white;
    border-radius: rem($border-radius-small);
    margin-bottom: rem($margin-10);
  }
}

.wrapper {
  padding: 0;
}

.hr {
  height: rem(10);
  background-color: $body-bg-color;
}

.userInfoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: rem(16);
  padding-bottom: rem(16);
  justify-content: space-between;

  .userInfoKey {
    color: #4F5A70;
    font-size: 14px;
  }

  .userInfoValue {
    color: #0B0B37;
  }
}

.friendsWrapper {
  overflow: hidden;
}