@import '@common/styles/index.scss';
.userContent {
  .section {
    background: $white;
    border-radius: rem($border-radius-small);
    margin-bottom: rem($margin-10);
  }
}

.wrapper {
  padding: 0;
}

.hr {
  height: rem($padding-10);
  background-color: $body-bg-color;
}
.threadHr {
  height: rem($padding-10);
  background-color: $body-bg-color;
  margin: 0 rem(-24);
}

.userInfoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: rem($padding-4n);
  padding-bottom: rem($padding-4n);
  justify-content: space-between;
  border-bottom: 1px solid $body-bg-color;
  &:last-child {
    border-bottom: none;
  }
  .userInfoKey {
    color: $text-color-regular;
    font-size: rem($font-size-primary);
  }

  .userInfoValue {
    color: $text-color-primary;
  }
}

.friendsWrapper {
  overflow: hidden !important;
  >div {
    border-bottom: 1px solid $border-color;
    &:last-child {
      border-bottom: none;
    }
    >div {
      >div {
        padding: rem($padding-4n) 0;
      }
    }
  }
}