@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.container {
  overflow: hidden;
  .payButton {
    height: rem(100);
    border-radius: rem($border-radius-small);
    background: #e8f0fe;
    text-align: center;
    line-height: rem(100);
  }
}
.button {
  width: rem(234);
  height: rem(36);
  font-size: rem($font-size-primary);
  line-height: rem(36);
  padding: 0;
  .icon {
    font-size: rem($font-size-primary);
    margin-right: rem($margin-10);
  }
}