@import '@common/styles/index.scss';
@import '@common/styles/base64/attachment-icons.scss';

.wrapper {
  :last-child {
    margin-bottom: 0;
  }
}
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem($padding-4n);
  height: rem(50);
  border-radius: rem($border-radius-small);
  background: $body-bg-color;
  margin-bottom: rem(8);

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      flex: 1;
      width: 70%;
    }

    .right {
      width: rem(68);
      font-size: rem($font-size-label);
      color: $text-color-regular;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .span {
    cursor: pointer;
  }

  .label {
    margin-left: rem($padding-4n);
  }

  .containerText {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    margin-left: rem(10);
    margin-right: rem(8);
    margin-top: rem(2);
    flex: 1;
  }
  .size {
    color: $text-color-regular;
    font-size: rem($font-size-label);
    line-height: rem(17);
  }
  .containerIcon {
    background-size: rem(20);
    color: $success-color;
    font-size: rem(20);
    width: rem(20);
    height: rem(20);
    &.xlsOutlined {
      background-image: $xls-outlined-icon;
    }
    &.docOutlined {
      background-image: $doc-outlined-icon;
    }
    &.pptOutlined {
      background-image: $ppt-outlined-icon;
    }
    &.zipOutlined {
      background-image: $zip-outlined-icon;
    }
    &.pdfOutlined {
      background-image: $pdf-outlined-icon;
    }
    &.textOutlined {
      background-image: $text-outlined-icon;
    }
    &.videoOutlined {
      background-image: $video-outlined-icon;
    }
    &.audioOutlined {
      background-image: $audio-outlined-icon;
    }
    &.imageOutlined {
      background-image: $image-outlined-icon;
    }
    &.formOutlined {
      background-image: $form-outlined-icon;
    }
    &.fileOutlined {
      background-image: $file-outlined-icon;
    }
  }
  .content {
    color: $text-color-primary;
    font-size: rem($font-size-primary);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: rem(17);
  }
  .a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
.containerPay {
  justify-content: center;
  cursor: pointer;

  .content {
    overflow: hidden;
    white-space: nowrap;
    margin-left: rem(8);
    margin-right: rem(8);
    max-width: 70%;
  }
}

.spinner {
  width: 22px;
}
