@import '@common/styles/index.scss';
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem($padding-4n);
  height: rem(52);
  border-radius: rem($border-radius-small);
  background: $body-bg-color;
  margin-bottom: rem(8);

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      flex: 1;
      width: 70%;
    }

    .right {
      width: rem(64);
      font-size: rem($font-size-label);
      color: $text-color-regular;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  
  .span {
    cursor: pointer;
  }

  .containerText {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    margin-left: rem(8);
    margin-right: rem(8);
    flex: 1;
  }
  .size {
    color: var(--color-text-regular);
    font-size: rem($font-size-label);
    line-height: rem(17);
  }
  .containerIcon {
    color: var(--color-success);
    font-size: rem(20);
    line-height: rem(17);
  }
  .content {
    color: var(--color-text-primary);
    font-size: rem($font-size-primary);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
.containerPay {
  justify-content: center;
  cursor: pointer;

  .content {
    overflow: hidden;
    white-space: nowrap;
    margin-left: rem(8);
    margin-right: rem(8);
    max-width: 70%;
  }
}