@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem($padding-4n);
  height: rem(52);
  border-radius: 5px;
  background: var(--background-color-text);
  margin-bottom: rem(8);

  .size {
    color: #4f5a70;
    font-size: rem($font-size-label);
  }
  .content {
    margin: 0 rem(8);
    color: var(--color-text-primary);
    font-size: rem($font-size-primary);
  }
}