@import '@common/styles/index.scss';

.wrapper {
  width: 100%;

  :global {
    .dzq-popup__overlay {
      width: 100%;
      background: var(--color-black);
      opacity: 0.5;
    }

    .dzq-popup__container {
      padding: 0 16px;
      background: #fff;
      border-radius: 10px 10px 0 0;
      overflow: hidden;
    }

    .dzq-button {
      max-width: 300px;
      min-width: 75px;
      padding: 8px 10px;
      font-size: var(--font-size-primary);
      font-weight: normal;
      color: var(--color-text-primary);
      line-height: var(--font-line-height-primary);
      background: var(--background-color-text2);
      border: none;
      border-radius: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .title {
    margin-top: var(--margin-4n);
    font-size: var(--font-size-middle);
    color: var(--color-text-primary);
    font-weight: var(--font-weight-regular);
    line-height: 18px;
    text-align: left;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: $font-size-base;
    text-align: center;
    :global { /* stylelint-disable-line */
      .dzq-button {
        max-width: 310px;
        margin-right: $margin-10;
        margin-bottom: $margin-10;
      }
    }
  }

  .content-parent {
    padding: var(--padding-4n) 0;
    border-bottom: 1px solid $border-color;
    .active {
      color: #fff;
      background: #2469f6;
    }
  }

  .content-child {
    padding: var(--margin-4n) 0;
    border-bottom: 1px solid $border-color;

    .active {
      color: #2469f6;
      background-color: #e8f0fe;
    }
  }

  .btn {
    height: 44px;
    line-height: 44px;
    font-size: var(--font-size-primary);
    color: #4f5a70;
    text-align: center;
    @include ios-safe-area-inset-bottom;
  }
}
