:global {
  .dzq-popup {
    .dzq-popup__overlay {
      background-color: #fff;
    }
  }

  .dzq-card__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dzq-checkbox-wrap {
    -webkit-tap-highlight-color: transparent;
    .dzq-checkbox {
      border: 1px solid #eee;
      border-radius: 5px !important;
      &:after {
        border: none !important;
      }
    }
    .dzq-checkbox__label.is-checked {
      color: #0b0b37;
    }
  }

  .dzq-input {
    display: inline-block;
    margin-right: 3px;
    .dzq-input__inner {
      border: none;
      padding: 0;
      text-align: center;
    }
  }
}

.redpacket-box {
  height: 100vh;
}

.likenum {
  margin-left: 265px;
  text-align: center;
  background-color: white;
  margin-top: 6px;
  border-bottom: 1px solid #eee;
}
.btn {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 94%;
  height: 53px;
  margin-right: 3%;
  margin-left: 3%;
  line-height: 53px;
  justify-content: space-between;
  text-align: center;
  .btn-one {
    text-align: center;
    width: 166px;
    height: 44px;
    color: #333;
    background: #eee;
    border: none;
    &:hover {
      background-color: #2469f6;
      color: white;
    }
  }
  .btn-two {
    text-align: center;
    width: 166px;
    height: 44px;
    color: #333;
    background: #eee;
    border: none;
    &:hover {
      background-color: #2469f6;
      color: white;
    }
  }
}
