@import '@common/styles/index.scss';

.redpacket-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  .line-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
  }
  :global {
    .dzq-card__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .dzq-checkbox-wrap {
      -webkit-tap-highlight-color: transparent;
      .dzq-checkbox {
        border: 1px solid #eee;
        border-radius: 5px !important;
        &:after {
          border: none !important;
        }
      }
      .dzq-checkbox__label.is-checked {
        color: #0b0b37;
      }
    }

    .dzq-input {
      display: inline-block;
      margin-right: 3px;
      width: rem(80);
      .dzq-input__inner {
        border: none;
        padding: 0;
        text-align: right;
        padding-right: 4px;
      }
    }
  }
}

.likenum {
  padding: 0 rem(16);
  display: flex;
  flex-direction: row-reverse;
}
.btn {
  position: absolute;
  bottom: 0;
  display: flex;
  width: rem(343);
  height: 52px;
  border-top: 1px solid #eee;
  padding: 0 rem(16);
  justify-content: space-between;
  align-items: center;
  :global {
    .dzq-button {
      width: rem(166);
      height: 42px;
    }
  }
}

.pc {
  z-index: var(--zindex-dialog);
  .redpacket-box {
    position: static;
    width: 100%;
    height: 386px;
  }
  .btn {
    position: static;
    width: 100%;
    padding: 0;
    margin-top: var(--margin-6n);
    justify-content: center;
    border: none;
    :global {
      .dzq-button {
        width: 116px;
        height: 36px;
        &:first-child {
          margin-right: var(--margin-4n);
        }
      }
    }
  }
}