@import '@common/styles/index.scss';

.popup {
    max-height: 90%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.container {
    box-sizing: border-box;
    padding: rem(25) rem(16) 0 rem(16);
    padding-bottom: constant(safe-area-inset-bottom); ///兼容 IOS<11.2/
    padding-bottom: env(safe-area-inset-bottom); ///兼容 IOS>11.2/
    background-color: var(--color-white);
    border-top-right-radius: rem($border-radius-big);
    border-top-left-radius: rem($border-radius-big);
    position: relative;
    display: flex;
    flex-direction: column;

    .content {
        flex: 1;
        overflow: hidden;
    }

    .moduleWrapper {
        margin-bottom: rem(8);
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: rem(11);
    }

    // .list {
    //     overflow-y: scroll;
    //     height: 100%;
    //     width: 100%;
    //     overflow-x: hidden;
    // }

    .title {
        font-weight: bold;
        font-size: rem($font-size-middle);
        line-height: 24px;
        text-align: left;
        color: var(--color-text-primary);
        margin-bottom: rem(16);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .span {
        font-size: rem($font-size-primary);
        width: 100%;
        height: rem(36);
        border-radius: rem($border-radius-small);
        background: var(--background-color-text2);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text-color-primary;
    }

    .active {
        background: var(--color-primary);
        color: var(--color-white);
    }


}

.footer {
    background-color: var(--color-white);
    text-align: center;
    height: rem(120);

    .button {
        width: rem(290);
        height: rem(42);
        margin-bottom: rem(24);
        font-size: rem($font-size-middle);
        display: inline-block;
        margin-top: rem($padding-3n);
    }

    .footerBtn {
        position: relative;
        line-height: rem(42);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem($font-size-primary);
        color: $text-color-regular;

        &:before {
            content: ' ';
            position: absolute;
            right: rem(-16);
            left: rem(-16);
            height: 1px;
            top: 0;
            background-color: var(--border-line-color);
        }
    }
}