@import '../vars.scss';

.h5InteractionBox {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  padding-top: rem($padding-2n);
  padding-bottom: rem($padding-2n);
  background-color: var(--color-white);
  width: 100vw;

  .inputWrapper {
    display: flex;
    background-color: var(--background-color-text2);
    border-radius: rem($border-radius-small);
    flex: 2;
    justify-content: space-between;
    margin-left: $im-pagebed-padding;
    :global {
      .dzq-input {
        width: auto;
      }
      .dzq-input__inner {
        background-color: var(--background-color-text2);
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        &:focus-visible {
          border: none;
        }
      }
    }
  }

  .tools {
    align-items: center;
    padding: rem($padding-2n);
  }

  .submit {
    align-items: center;
    margin-left: rem($margin-2n);
    margin-right: $im-pagebed-padding;
  }

  .pictureUpload {
    margin-left: rem($margin-2n);
  }
}

.pcInteractionBox {
  @include im-pagebed;
  border-top: var(--border-border);

  .tools {
    padding: rem($margin-4n) 0;
  }

  .emoj {
    margin-left: rem($margin-1n);
  }

  .pictureUpload {
    margin-left: rem($margin-4n);
  }

  .typingArea {
    width: 100%;
    border: none;
    textarea {
      resize: none;
      padding: 0;
    }
  }

  .submit {
    justify-content: flex-end;
  }

  .submitBtn {
    padding: rem($padding-2n) rem($padding-6n);
    margin: rem($margin-4n) 0;
  }
}

.tools {
  display: flex;
}

.submit {
  display: flex;
}
