@import '@common/styles/index.scss';
.container {
  min-height: 100vh;
  background-color: $body-bg-color;
}
.wrapper {
  padding: $padding-4n 0;
  background-color: $body-bg-color;

  &-inner {
    margin: 0 auto;
    padding: 48px 104px;
    width: 892px;
    // min-height: calc(100vh - 60px - 40px - 96px);
    background-color: $white;
    border-radius: $border-radius-small;
    box-shadow: 0px 0px 8px $border-shadow-color2;
  }
  .no-padding {
    :global {
      .dzq-upload {
        padding: 0;
        padding-bottom: $padding-4n;
      }
    }
  }
}
.editor {
  position: relative;
  padding: 16px 16px 52px;
  min-height: 428px;
  max-height: 550px;
  overflow-y: scroll;
  border: $border-solid-1;
  border-radius: $border-radius-small;
  &:hover {
    border-color: $border-color-hover;
  }
  :global { /* stylelint-disable-line */
    .vditor {
      border: none;
    }
    .vditor-toolbar {
      display: none;
    }
    .vditor-reset {
      padding: 0 !important;
    }
    .vditor-bubble-toolbar {
      .dzq-icon { /* stylelint-disable-line */
        color: $white;
      }
    }
  }
}
.money-box {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: $padding-4n $padding-6n;
  width: calc(892px - 44px);
  :global {
    .dzq-tag {
      @include tag-default;
      margin-right: $margin-4n;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .editor-count {
    position: absolute;
    bottom: $margin-4n;
    right: $margin-6n;
    font-size: $font-size-label;
    color: $text-color-placeholder;
  }
}
.toolbar {
  position: relative;
  display: flex;
  height: 54px;
  align-items: center;
  justify-content: space-between;
  border-bottom: $border-solid-1;
  &-left {
    display: flex;
    align-items: center;
  }
  .divider {
    display: inline-block;
    height: 20px;
    width: 1px;
    background-color: $border-color;
  }
}
.footer {
  margin-top: 48px;
  text-align: center;
  :global { /* stylelint-disable-line */
    .dzq-button {
      @include button-default;
      width: 130px;
      height: 36px;
      &:first-child {
        margin-right: $margin-6n;
      }
      &:last-child {
        @include button-primary;
      }
    }
  }
}

