@import '@common/styles/index.scss';
.header{
  height: 40px;
  display: block;
  .headerContent{
    display: flex;
    padding: 0 $padding-4n;
    box-sizing: border-box;
    background: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid var(--border-line-color);
    z-index: $zindex-backtotop;
    align-items: center;
    .left{
      width: 50%;
      font-size: $font-size-base;
      color: $text-color-primary;
      display: flex;
      align-items: center;
      .icon{
        position: relative;
        top: -1px;
    }
      .text {
        font-size: $font-size-base;
        // line-height: 24);
        padding-left: $padding-base;
      }
    }
    .right{
      width: 50%;
      display: block;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .icon{
        &:not(:last-child) {
          margin-right: $margin-4n;
        }
        font-size: 18px !important;
        color: var(--color-text-secondary);
      }
    }
  }
  :global(.dzq-icon) {
    cursor: none;
  }
}