@import '@common/styles/index.scss';

.dialog {
  :global {
    .dzq-modal__container {
      padding: $padding-6n;
      min-width: 500px;
      width: 80vw;
      max-width: 1000px;
      min-height: 500px;
      height: 80vh;
      max-height: 1000px;
      border-radius: $border-radius-small;

      iframe {
        height: calc(100% - 20px);
        width: 100%;
      }
    }
    .dzq-modal__body {
      padding: 0;
      height: 100%;
    }
  }
}
.popup {
  :global {
    .dzq-popup__container {
      height: 100vh;

      iframe {
        height: 100%;
        width: 100%;
      }
    }
    .dzq-popup__body {
      padding: 0;
      height: 100%;
    }
  }
}
