.container {
  height: 100%;
  .button {
    width: 327px;
    height: 42px;
    margin-top: 32px;
    line-height: 24px;
  }
  .input {
    width: 327px;
    :global(.dzq-input__inner) {
      height: 68px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #eee;
    }
    :global(.dzq-icon-EyeOutlined) {
      top: 25px
    }
  }
}
.content {
  padding: 48px 24px;
  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: var(--color-text-primary);
  }
  .tips{
    font-size: 16px;
    margin: 32px 0;
    line-height: 30px;
    text-align: left;
    color: var(--color-text-primary);
  }
}
