@import '@common/styles/index.scss';
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: rem(16) 0 rem(8);
  cursor: pointer;
}
.userImg {
  display: flex;
  .numText {
    line-height: rem(24);
    font-size: rem($font-size-label);
    color: #8490a6;
    margin-left: rem(8);
  }
}
.commentSharing {
  display: flex;
  .division {
    line-height: rem(24);
    font-size: rem($font-size-label);
    color: #8490a6;
    margin: 0 rem(4);
  }
  .commentNum {
    line-height: rem(24);
    font-size: rem($font-size-label);
    color: #8490a6;
  }
}
.users {
  margin: 0;
}
.operation {
  height: rem(52);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: var(--border-line-color) solid rem(1);
  cursor: pointer;
  box-sizing: border-box;
}
.operations {
  height: rem(52);
  display: flex;
  margin-top: rem(16);
  align-items: center;
  justify-content: space-between;
  border-top: var(--border-line-color) solid rem(1);
  cursor: pointer;
  box-sizing: border-box;
}
.fabulous {
  line-height: rem(20);
  .fabulousPost {
    margin-left: rem(8);
    font-size: rem($font-size-primary);
    line-height: rem(20);
    color: var(--color-text-secondary);
  }
  .fabulousCancel {
    margin-left: rem(8);
    font-size: rem($font-size-primary);
    line-height: rem(20);
    color: var(--color-primary);
  }
  .icon {
    margin-bottom: rem(2);
    color: var(--color-text-secondary);
  }
}