@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .userImg {
    display: flex;
    .numText {
      line-height: rem(24);
      font-size: rem($font-size-label);
      color: #8490a8;
      margin-left: rem(4);
    }
  }
  .commentSharing {
    display: flex;
    .division {
      line-height: rem(24);
      font-size: rem($font-size-label);
      color: #8490a8;
      margin: 0 rem(4);
    }
    .commentNum {
      line-height: rem(24);
      font-size: rem($font-size-label);
      color: #8490a8;
    }
  }
}

.operation {
  height: rem(52);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: var(--border-line-color) solid rem(1);
  margin-top: rem(12);
  .fabulous {
    line-height: rem(20);
    .fabulousPost {
      margin-left: rem(6);
      font-size: rem($font-size-primary);
      line-height: rem(20);
      color: #8590a6;
      font-weight: normal;
    }
    .icon {
      margin-bottom: rem(2);
    }
  }
}