@import '@common/styles/index.scss';
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: rem(16) 0 rem(8);
}
.userImg {
  @include cursor-on-pc;
  display: flex;
  align-items: center;
  .numText {
    line-height: rem(24);
    font-size: rem($font-size-label);
    color: #8490a6;
    margin-left: rem(4);
  }
}
.commentSharing {
  @include cursor-on-pc;
  display: flex;
  .division {
    line-height: rem(24);
    font-size: rem($font-size-label);
    color: #8490a6;
    margin: 0 rem($padding-base);
  }
  .commentNum {
    line-height: rem(24);
    font-size: rem($font-size-label);
    color: #8490a6;
  }
}
.users {
  margin: 0;
}
.operation {
  height: rem(52);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: $border-color solid rem(1);
  box-sizing: border-box;
}
.operations {
  height: rem(52);
  display: flex;
  margin-top: rem(16);
  align-items: center;
  justify-content: space-between;
  border-top: $border-color solid rem(1);
  box-sizing: border-box;
}
.fabulous {
  @include cursor-on-pc;
  display: flex;
  align-items: center;
  padding: $padding-10 0;
  .fabulousPost {
    margin-left: rem(8);
    font-size: rem($font-size-primary);
    color: $text-color-secondary;
  }
  .fabulousCancel {
    margin-left: rem(8);
    font-size: rem($font-size-primary);
    color: var(--color-primary);
  }
  :global{
    .like, .share{
      position: relative;
      top: rem(-1);
    }
  }
  .icon {
    color: $text-color-secondary;
    
    &.likedColor {
      color: $primary-color;
    }
    &.dislikedColor {
      color: $text-color-secondary;
    }
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
  :global {
    .dzq-icon {
      cursor: none;
    }
  }
}