@import '@common/styles/index.scss';

.list {
  overflow-y: auto;
  height: 70vh;
  // min-height: 40vh;
}

.tabs {
  max-width: rem(572);
  margin: 0 auto;
  border-top-left-radius: rem($border-radius-big);
  border-top-right-radius: rem($border-radius-big);
  :global(.dzq-tabs__bar.is-card) {
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    padding-left: rem(4);
    height: rem(52);
  }
  :global(.dzq-tabs__content) {
    padding: 0;
  }
  :global {
    .dzq-tabs__bar {
      cursor: auto;
    }
    .dzq-tabs__panel {
      border-top: 1px solid rgba(238, 238, 238, 0.75);
      cursor: auto;
    }
    .dzq-tabs__item {
      @include cursor-on-pc;
      justify-content: flex-start;
      flex: none;
      padding: 0 rem(12);
    }
    .dzq-tabs__item.is-active {
      font-weight: 600;
    }
    .dzq-tabs__scroll {
      width: auto;
    }
  }
}

.tabsPC {
  border-radius: rem($border-radius-big);

  .listWrapper {
    &::-webkit-scrollbar {
      margin-right: -5px;
      border-radius: $border-radius-small;
      width: 8px;
    }
  
    &:hover {
      // 整个滚动条
      &::-webkit-scrollbar {
        margin-right: -5px;
        border-radius: $border-radius-small;
      }
    }
  
    // 滚动条轨道
    &::-webkit-scrollbar-track {
      opacity: 1;
    }
  
    // 滚动条上的滚动滑块
    &::-webkit-scrollbar-thumb {
      background: $border-shadow-color;
      border-radius: 4px;
    }
  }

  .list {
    height: rem(773);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  
    &:hover {
      // 整个滚动条
      &::-webkit-scrollbar {
        display: none;
      }
    }
  
    // 滚动条轨道
    &::-webkit-scrollbar-track {
      display: none;
    }
  
    // 滚动条上的滚动滑块
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }

  .label {
    height: rem(36);
  }
  :global(.dzq-tabs__content) {
    padding: 0 rem(8);
  }
  :global(.dzq-tabs__bar.is-card) {
    height: rem(68);
  }
  :global(.dzq-tabs__item) {
    padding: 0 rem(16);
  }
}

.tabIcon {
  @include cursor-on-pc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 rem(24);
  color: $text-color-secondary;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem(20);

  .icon {
    margin-right: rem(8);
  }
  .title {
    line-height: rem(20);
    margin-right: rem(5);
  }
  .num {
  }
}

.spinner {
  height: 70vh;
  width: 100%;
  color: var(--color-text-placeholder);
}