@import '@common/styles/index.scss';

.list {
  overflow-y: auto;
  height: 70vh;
  // min-height: 40vh;
}

.tabs {
  max-width: rem(572);
  margin: 0 auto;
  border-top-left-radius: rem($border-radius-big);
  border-top-right-radius: rem($border-radius-big);
  :global(.dzq-tabs__bar.is-card) {
    box-shadow: none;
    padding-left: rem(4);
  }
  :global {
    .dzq-tabs__panel {
      border-top: 1px solid rgba(238, 238, 238, 0.75);

    }
    .dzq-tabs__item {
      justify-content: flex-start;
      flex: none;
      padding: 0 rem(12);
    }
    .dzq-tabs__item.is-active {
      font-weight: 600;
    }
    .dzq-tabs__scroll {
      width: auto;
    }
  }
}

.tabIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 rem(10);
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    margin-right: rem(4);
  }
  .title {
    line-height: 20px;
  }
  .num {
    margin-left: rem(4);
  }
}

.spinner {
  height: 70vh;
  width: 100%;
}