@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.list {
  overflow-y: auto;
  height: 70vh;
  // min-height: 40vh;
}

.tabs {
  max-width: rem(572);
  margin: 0 auto;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    margin: 0 rem(4);
  }
}