@import '@common/styles/index.scss';


.site{
  padding: rem($padding-4n);
  padding-top: 0;
  border-bottom: rem(10) solid var(--comment-content-bg-color);
  &.popularContents{
    padding-bottom: 0;
  }
  .site_title{
    padding-bottom: rem($padding-4n);
    border-bottom: rem(1) solid var(--border-line-color);
    font-size: rem($padding-4n);
    line-height: rem($font-line-height-primary);
    color: var(--color-text-primary);
  }
  .site_introduce{
    padding: rem($padding-4n) 0;
    font-size: rem($font-size-primary);
    font-weight: normal;
    line-height: rem($font-line-height-primary);
    text-align: left;
    color: var(--color-text-primary);
    border-bottom: rem(1) solid var(--border-line-color);
  }
  .site_status{
    padding-top: rem($padding-4n);
    display: flex;
    .site_status_list{
      flex: 1;
      float: left;
      text-align: center;
      font-size: rem($font-size-primary);
      &:nth-child(2):after, &:nth-child(2):before{
        float: left;
        content: '';
        height: 14px;
        width: 1px;
        background-color: var(--border-line-color);
      }
    }
    .site_status_label{
      float: left;
      margin-left: rem($margin-6n);
      margin-right: rem($margin-2n);
      color: $text-color-regular;
    }
    .site_status_item{
      float: left;
      color: var(--color-primary);
      width: rem(52);
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .site_status_list:nth-child(1) .site_status_label{
    margin-left: rem($margin-2n);
  }
}