@import '@common/styles/index.scss';

.container {
  background: var(--color-white);
  border-radius: rem($border-radius-big) rem($border-radius-big) 0 0;
}

.body {
  padding: rem($padding-4n);
  width: 100%;

  .percentage {
    height: rem(30);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem($padding-10) 0;
    .text {
      font-size: rem($font-size-label);
      padding: 0 rem($padding-1n);
    }
  }
}
