@import '@common/styles/index.scss';

@mixin input {
  box-sizing: border-box;

  :global {
    .dzq-input__inner {
      font-size: rem($font-size-primary);
      border: none;
      padding: 0;
      height: rem(17);
      line-height: rem(17);
      border-radius: 0;
      text-align: right;
      -webkit-tap-highlight-color: transparent;

      &::placeholder {
        color: $text-color-placeholder;
        font-size: rem($font-size-small);
      }
    }
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: var(--color-white);
  border-radius: rem($border-radius-big) rem($border-radius-big) 0 0;
  overflow: hidden;
  padding: rem($padding-4n);
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: rem($font-size-middle);
  font-weight: bold;
}

.rewardInput {
  margin-top: rem($margin-4n);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: $border-solid-1;
  padding-bottom: rem($padding-4n);
  color: $text-color-regular;

  .prepend {
    word-break: keep-all;
  }

  .input {
    flex: 1;
    @include input;
  }

  .append {
    padding-left: rem($padding-1n);
  }
}

.rewardList {
  margin-top: rem($margin-4n);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .reward {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-small;
    width: rem(76);
    height: rem(36);
    background: $text-bg-color2;
    margin-bottom: rem($margin-4n);
  }
}

.percentage {
  display: flex;
  align-items: center;

  .text {
    margin-right: rem($margin-2n);
    font-size: rem($font-size-primary);
  }
}

.divider {
  margin: 0;
  width: 200%;
  margin-left: rem(-40);
}

.button {
  padding-top: rem($margin-2n);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .ok {
    width: rem(167);
    height: rem(42);
  }
  .cancel {
    width: rem(167);
    height: rem(42);
    color: $text-color-regular;
    background: $text-bg-color2;
    border: none;
    margin-right: rem($margin-4n);
  }
}
