@import '@common/styles/index.scss';

.container {
  background: var(--color-white);
  text-align: center;
  padding: $padding-4n 0;
}

.init {
  font-size: $font-size-primary;
  color: $loading-text-color;
  // * {
  //   color: $loading-text-color;
  // }
}

.loadMore {
  font-size: $font-size-label;
  color: $loading-text-color;
  // * {
  //   color: $loading-text-color;
  // }
}
