@import '@common/styles/variable/index.scss';
@import '@common/styles/fn/rem.scss';
.operation {
  width: rem(343);
  height: rem(20);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .fabulous {
    line-height: rem(20);
    .fabulousPost {
      margin-left: rem(6);
      font-size: rem($font-size-primary);
      line-height: rem(20);
      color: #8590A6;
      font-weight: normal;
    }
    .icon {
      margin-bottom: rem(2);
    }
  }
}