@import '@common/styles/mixin/login.scss';
@import '@common/styles/index.scss';

.box {
    width: 100%;
    height: rem(188);
    background-position: center center;
    background-size: 100% auto;
}