@import '@common/styles/variable/index.scss';
@import '@common/styles/fn/rem.scss';

.container {
  background: var(--color-white);
  text-align: center;
  padding: rem($padding-4n) 0;
}

.init {
  font-size: rem($font-size-primary);

  * {
    // TODO: 替换token
    color: #c4c9d6;
  }
}

.loadMore {
  font-size: rem($font-size-label);

  * {
    // TODO:
    color: #c4c9d6;
  }
}
