@import '@common/styles/index.scss';
@import '@common/styles/_variable.scss';

.content {
  padding: rem($padding-6n);
  padding-bottom: 0;
  height: 100%;
  h3 {
    font-size: rem($font-size-large);
    color: $text-color-primary;
    letter-spacing: 1px;
  }
  .labelInfo {
    // padding: rem($margin-10) 0 rem($margin-6n);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(62);
    line-height: rem(62);
    box-sizing: border-box;
    padding-top: rem($padding-6n);
    .labelValue {
      color: $text-color-primary;
      font-size: $font-size-middle;
      flex: 1;
      :global {
        .dzq-input {
          width: 100%;
          height: rem(37);
        }
        .dzq-input__inner {
          width: 100%;
          border: none;
          font-size: rem($font-size-middle);
          height: rem(37);
          line-height: rem(37);
          border-bottom: rem(1) solid $border-color;
          border-radius: 0;
        }
        .dzq-icon {
          line-height: rem(50);
        }
      }
    }
  }
}

.tips {
  text-align: right;
  color: $text-color-primary;
  padding-right: $padding-6n;
  font-size: $font-size-primary;
  margin-top: rem($margin-6n);
}
#accountPwdContent {
  .bottom {
    position: fixed;
    bottom: rem(20);
    width: calc(100% - 32px);
    border-top: 1px solid $border-color;
    padding: rem($padding-2n) rem($padding-4n) rem($padding-10);
    display: flex;
    justify-content: center;
    .btn {
      height: rem(42);
      font-size: $font-size-middle;
      border-radius: $border-radius-small;
    }
  }
}
