@import '@common/styles/index.scss';

.page {
  padding-top: 16px;
  background: var(--color-white);
}
.section {
  padding: 16px;
  padding-top: 0;
  &.popularContents{
    padding-bottom: 0;
  }
}
.hr {
  height: 10px;
  background-color: var(--background-color);
}
