@import '@common/styles/index.scss';
.replyList {
  display: flex;
  padding-top: rem($padding-4n);
  .replyListAvatar {
    margin-right: rem($margin-10);
  }
  .replyListContent {
    width: 100%;
    .replyListContentText {
      padding: rem($padding-4n);
      border-radius: rem($border-radius-small);
      background-color: $comment-bg-color;
      .replyListName {
        font-weight: var(--font-weight-regular);
        font-size: rem($font-size-primary);
        line-height: rem(18);
        text-align: left;
        color: var(--color-text-primary);
      }
      .replyListText {
        font-size: rem($font-size-middle);
        line-height: rem($font-line-height-middle);
        text-align: left;
        color: var(--color-text-primary);
        width: 100%;
        word-break: break-word;

        .commentUser {
          display: inline-block;
          word-break: initial;

          .replyedAvatar {
            display: inline-block;
            margin-right: rem($margin-1n);
            position: relative;
            top: rem(4);

            .avatar {
              width: rem(18);
              height: rem(18);
              font-size: rem(10);
              line-height: rem(18);
            }
          }

          .replyedUserName {
            display: inline-block;
            font-weight: var(--font-weight-regular);
            font-size: rem($font-size-primary);
            margin-right: rem($margin-2n);
            line-height: rem(18);
            text-align: left;
            color: var(--color-primary);
          }
        }
      }
    }
    .replyListFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: rem($font-size-primary);
      text-align: left;
      color: var(--color-text-secondary);
      padding-top: rem($padding-2n);
      .replyTime {
        font-size: rem($font-size-label);
      }
      .commentLiked {
        color: var(--color-primary);
      }
      .commentLike {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
      }
      .replyReply {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
      }
      .replyDelete {
        // flex: 1;
      }
    }
  }

  .extraBottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > div {
      margin-left: rem(24);
    }
  }
}
.icon {
  margin-right: rem(8);
  font-size: rem(14) !important;
}

.active {
  color: var(--color-primary);
}

.commentInput {
  margin-top: rem(16);
}

.commentReply {
  cursor: pointer;
}