@import '@common/styles/index.scss';
.replyList {
  display: flex;
  padding-top: rem($padding-4n);
  .replyListAvatar {
    margin-right: rem($margin-10);
  }
  .replyListContent {
    width: 100%;
    .replyListContentText {
      padding: rem($padding-4n);
      border-radius: rem($border-radius-small);
      background-color: $comment-bg-color;
      .replyListName {
        font-weight: var(--font-weight-regular);
        font-size: rem($font-size-primary);
        line-height: rem(22);
        text-align: left;
        color: var(--color-text-primary);
      }
      
      .replyListText {
        margin-top: rem($margin-1n);
        font-size: rem($font-size-middle);
        text-align: left;
        color: var(--color-text-primary);
        width: 100%;
        word-break: break-all;
        line-height: $font-line-height-middle;

        .content {
          display: inline;
          font-family: "PingFang SC";
          font-weight: normal;
          font-size: $font-size-middle;
          line-height: rem(16);
          text-align: left;
          color: $text-color-primary;
          vertical-align: super;

          p {
            display: inline;
          }
        }

        .isShowOne {
          // @include lamp-clamp(3);

          // p {
          //   @include lamp-clamp(3);
          // }
        }

        img {
          height: rem(22);
        }

        .commentUser {
          display: inline-flex;
          word-break: initial;
          align-items: center;
          justify-content: flex-start;
          height: rem(28);

          .replyedAvatar {
            display: inline-block;
            margin-right: rem($margin-1n);

            .avatar {
              width: rem(18);
              height: rem(18);
              font-size: rem($font-size-small);
              line-height: rem(18);
            }
          }

          .replyedUserName {
            display: inline-block;
            font-weight: var(--font-weight-regular);
            font-size: rem($font-size-primary);
            margin-right: rem($margin-2n);
            line-height: rem(18);
            text-align: left;
            color: var(--color-primary);
          }
        }
      }
    }
    .replyListFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: rem($font-size-primary);
      text-align: left;
      color: var(--color-text-secondary);
      padding-top: rem($padding-2n);     
      .replyTime {
        font-size: rem($font-size-label);
      }
      .commentLiked {
        color: var(--color-primary);
      }
      .commentLike {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
      }
      .replyReply {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
      }
      .replyDelete {
        // flex: 1;
      }
    }
  }

  .extraBottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > div {
      margin-left: rem(24);
    }
  }
}
.icon {
  margin-right: rem(8);
  font-size: rem(14) !important;
}

.active {
  color: var(--color-primary);
}

.commentInput {
  margin-top: rem(16);
}

.commentReply {
  cursor: pointer;
}
