@import '@common/styles/index.scss';
.replyList {
  display: flex;
  padding-top: rem($padding-4n);
  .replyListAvatar {
    margin-right: rem($margin-10);
    margin-top: rem($margin-10);
  }
  .replyListContent {
    width: 100%;
    .replyListContentText {
      // padding-right: rem($padding-4n);
      border-radius: rem($border-radius-small);
      background-color: $comment-bg-color;

      &.active {
        background: $primary-color10;
      }

      .replyHeader {
        display: flex;
        justify-content: space-between;
        .userInfo {
          display: flex;
          .replyListName {
            padding-top: rem($padding-2n);
            padding-left: rem($padding-3n);
            padding-right: rem($padding-2n);
            font-weight: $font-weight-regular;
            font-size: rem($font-size-primary);
            line-height: rem(20);
            text-align: left;
            color: $text-color-primary;
          }
          .groups {
            color: var(--color-text-secondary);
            font-size: $font-size-label;
            max-width: rem(100);
            white-space: nowrap;
            overflow: hidden;
            padding-top: rem($padding-2n);
            line-height: rem(20);
          }
        }
        .isApproved {
          font-size: $font-size-primary;
          color: $error-color;
          padding: $padding-2n $padding-3n 0;
        }
      }

      .replyListText {
        padding-bottom: rem($padding-2n);
        padding-left: rem($padding-3n);
        padding-right: rem($padding-3n);
        font-size: rem($font-size-middle);
        margin-top: rem(4);
        text-align: left;
        color: $text-color-primary;
        width: 100%;
        word-break: break-all;
        line-height: $font-line-height-middle;
        box-sizing: border-box;

        .content {
          display: inline;
          font-weight: normal;
          font-size: $font-size-middle;
          line-height: rem(16);
          text-align: left;
          color: $text-color-primary;
          vertical-align: super;
          position: relative;
          top: rem(3);

          :global {
            .qq-emotion {
              width: rem(22);
              height: rem(22);
            }

            .dzq-p {
              margin-bottom: 0;
              font-size: $font-size-middle !important;
            }
          }
        }

        .commentUser {
          display: inline-flex;
          word-break: initial;
          align-items: center;
          justify-content: flex-start;
          height: rem(20);
          position: relative;
          top: rem(3);

          .replyedAvatar {
            display: inline-block;
            margin-right: rem($margin-1n);

            .avatar {
              width: rem(18);
              height: rem(18);
              font-size: rem($font-size-small);
              line-height: rem(18);
            }
          }

          .replyedUserName {
            display: inline-block;
            font-weight: $font-weight-regular;
            font-size: rem($font-size-primary);
            margin-right: rem($margin-2n);
            line-height: rem(20);
            text-align: left;
            color: $primary-color;
          }
        }
      }
    }
    .replyListFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: rem($font-size-primary);
      text-align: left;
      color: $text-color-secondary;
      padding-top: rem($padding-2n);
      .replyTime {
        font-size: rem($font-size-label);
      }
      .commentLiked {
        color: $primary-color;
      }
      .commentLike {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
      }
      .replyReply {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
      }
      .replyDelete {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
      }
    }
  }

  .extraBottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > div {
      margin-left: rem(24);
    }
  }
}
.icon {
  margin-right: rem(8);
  font-size: rem(14) !important;
}

.active {
  color: $primary-color;
}

.commentInput {
  margin-top: rem(16);
}

.commentReply {
  cursor: pointer;
}
