.commentList {
    display: flex;
    margin-top: 11px;
    .commentListAvatar {
        margin-right: 11px;
    }
    .commentListContent {
        .commentListContentText {
            padding: 8px;
            width: calc(100% - 16px);
            border-radius: 5px;
            background: #f5f7f8;
            .commentListName {
                font-family: "PingFangSC-Semibold";
                font-weight: normal;
                font-size: 14px;
                line-height: 17.8px;
                text-align: left;
                color: #0b0b37;
            }
            .commentListText {
                font-family: "PingFang SC";
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                text-align: left;
                color: #0b0b37;
            }
        }
        .commentListFooter {
            display: flex;
            font-family: PingFangSC-Regular;
            font-weight: normal;
            font-size: 14px;
            line-height: 16.8px;
            text-align: left;
            color: #8590a6;
            margin-top: 8px;
            .commentTime {
                flex: 1;
            }
            .commentLiked {
                flex: 1;
            }
            .commentReply {
                flex: 1;
            }
        }
    }
}