@import '@common/styles/index.scss';
.rightside {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.stepper-container {
  width: 100%;
  margin-bottom: $margin-10;
}

/**
* PC 消息页右侧关注列表自适应
*
*/
:global {
  .mymessage-page {
    // @include heightMedia(785px, 730px) {
    //   .user-center-follow-item:nth-last-child(-n + 2) {
    //     display: none;
    //   }
    // }

    // @include heightMedia(730px, 675px) {
    //   .user-center-follow-item:nth-last-child(-n + 3) {
    //     display: none;
    //   }
    // }

    @include heightMedia(895px, 840px) {
      .user-center-follow-list {
        max-height: 435px !important;
      }
    }

    @include heightMedia(895px, 840px) {
      .user-center-follow-list {
        max-height: 380px !important;
      }
    }

    @include heightMedia(840px, 785px) {
      .user-center-follow-list {
        max-height: 325px !important;
      }
    }

    @include heightMedia(785px, 730px) {
      .user-center-follow-list {
        max-height: 270px !important;
      }
    }

    @include heightMedia(730px, 675px) {
      .user-center-follow-list {
        max-height: 215px !important;
      }
    }

    @include heightMedia(675px) {
      .user-center-follow-mini {
        display: flex !important;
      }

      .user-center-follow-item {
        display: none;
      }
    }
  }
}