
$font-size-label: 12;
$font-size-primary: 14;
$font-size-middle: 16;
$font-size-large: 20;

$font-line-height-small: 22;
$font-line-height-primary: 24;
$font-line-height-middle: 26;
$font-line-height-large: 30;

$border-radius-small: 5;
$border-radius-big: 10;
$border-radi0c0le: 50;
$border-radius-zero: 0;

$padding-1n: 4;
$padding-2n: 8;
$padding-4n: 16;
$padding-5n: 20;
$padding-6n: 24;
$padding-5: 5;
$padding-10: 10;
$margin-1n: 4;
$margin-2n: 8;
$margin-4n: 16;
$margin-5n: 20;
$margin-6n: 24;
$margin-5: 5;
$margin-10: 10