@import '@common/styles/mixin/login.scss';
@import '@common/styles/index.scss';
@mixin captchaBtn {
  position: absolute;
  right: 8px;
  bottom: 0;
  text-align: center;
  line-height: rem(36);
  border-radius: rem(5);
  font-size: 14px;
  color: #8590a6;
  cursor: pointer;
  padding-right: 8px;
}
.pc_phone_input{
  .tips {
    @include pc_tips;
  }
  .phoneInput {
    margin-bottom: 24px;
  }
  .input {
    width: 300px;
    margin-bottom: 24px;
  }
  .sendCaptcha {
    @include captchaBtn;
  }
  .countDown {
    @include captchaBtn;
    color: #b5b5b5;
  }
  .captchaInput{
    position: relative;
    margin-bottom: 24px;
  }
}