@import '@common/styles/index.scss';
.container {
  background: var(--background-color);
}

.header {
  height: 54px;
  padding: 0 $padding-4n;
  display: flex;
  justify-content: space-between;
  background: var(--color-white);
  border-bottom: var(--border-border);
  flex: 0 0 54px;

  .number {
    font-size: $font-size-middle;
    text-align: left;
    color: var(--color-text-primary);
    line-height: 54px;
  }
  .sort {
    display: flex;
    align-items: center;
    font-size: $font-size-primary;
    line-height: 54px;
    text-align: left;
    color: var(--color-text-secondary);
    .sortText {
      padding-left: $padding-2n;
    }
    .sortIcon {
      font-size: $font-size-primary !important;
      position: relative;
      top: -1.2px;
    }
  }
}

.body {
  background: var(--color-white);

  .commentItems {
    border-bottom: var(--border-border);
  }
}
