@import '@common/styles/index.scss';

.payBox{
  background: var(--color-white);
  padding: rem($padding-6n) rem($padding-4n) rem($padding-4n) rem($padding-4n);

  .title{
    text-align: center;
    p{
      font-size: rem($paybox-pay-text-font-size);
      font-weight: bold;
    }
  }

  .list{
    margin-top: rem($margin-2n);
    margin-bottom: rem(100);

    .listItem{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem($padding-4n) 0;

        &:first-child {
          border-bottom: 1px solid $paybox-border-line-color;
        }

        .left{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 50%;
          .icon{
            margin-right: rem($margin-2n);
          }
          .text{
            font-size: rem($font-size-primary);
            color: var(--color-text-primary)
          }
        }
        .right{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 50%;
          .subText{
            font-size: rem($font-size-label);
            color: var(--color-text-secondary);
            margin-right: rem($margin-4n);
          }
          :global {
            .dzq-checkbox--radio {
              border-radius: rem(var(--border-radius-small));
              &::after {
                border-radius: rem(var(--border-radius-small));
              }
            }
          }
        }
    }
  }
  .tips{
    padding: rem($padding-2n) 0;
    text-align: center;
    font-size: rem($font-size-primary);
    color: var(--color-text-secondary);
  }

  .btnBox{
    margin-top: rem($margin-2n);
    background: var(--background-color);
    .btn{
      padding-top: rem(10);
      padding-bottom: rem(10);
      line-height: rem(24);
      font-size: rem(16);
      border-radius: 5px;
    }
  }
}

.payBoxCloseIcon {
  position: absolute;
  right: rem(16);
  top: rem(24);
  // width: rem(40);
  // height: rem(40);
  // background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8590A6;
  cursor: pointer;
}

