@import '@common/styles/index.scss';

.container {
  height: 100vh;
  width: 100vw;
  background: $white;
  // overflow: hidden;
  // padding-bottom: 65px;

  // .wrapper {
  //   height: 100%;
  //   width: 100%;
  //   overflow-y: auto;
  //   overflow-y: overlay;
  // }

  // .list {
  //   height: 520px;
  // }

  :global {
    .ReactVirtualized__Grid__innerScrollContainer {
      max-width: initial !important;
    }
  }

  .wrapperH5Center {
    display: flex;
    flex-direction: column;
    .bottomView {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
    }
  }

  .hideScrollBar {
    scrollbar-width: none; // 火狐浏览器无滑动条

    &::-webkit-scrollbar {
      display: none;
    }

    &:hover {
      // 整个滚动条
      &::-webkit-scrollbar {
        display: none;
      }
    }

    // 滚动条轨道
    &::-webkit-scrollbar-track {
      display: none;
    }

    // 滚动条上的滚动滑块
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
}


.refreshView {
  min-height: rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem($font-size-primary);
  color: $text-color-placeholder;
  padding-top: rem(11);
  line-height: rem($font-line-height-small);
  .spin {
    margin-right: rem(4);
    color: $text-color-placeholder;
  }
  .noMoreLeft{
    background-color: $text-color-placeholder;
    width: rem(79);
    height: rem(1);
    float: left;
    margin-right: rem($margin-4n);
  }
  .noMoreRight{
    background-color: $text-color-placeholder;
    width: rem(79);
    height: rem(1);
    float: right;
    margin-left: rem($margin-4n);
  }
  &.custom{
    padding-top: 0;
    display: block;
  }
  .lineSty {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bottomViewBox {
  height: rem(400);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listWrapper {
  height: 100vh;
  width: 100vw;
}

.list {
  height: 100%;
  width: 100%;
}
