@import '@common/styles/index.scss';

.container {
  padding: $padding-4n $padding-4n 0;
  background: $white;
}

.content {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
<<<<<<< Updated upstream
  padding-bottom: $padding-2n;
  color: $text-color-primary;
=======
  padding-bottom: $padding-4n;
  color: $text-color-primary;
>>>>>>> Stashed changes
  .text {
    font-family: 'PingFangSC-Regular';
    font-size: $font-size-primary;
    text-align: left;
    line-height: 16px;
  }
  .money {
    font-family: 'PingFang SC';
    font-weight: 600;
    font-size: $font-size-middle;
    text-align: left;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  border-bottom: $border-solid-1;
  font-family: 'PingFangSC-Regular';
  font-weight: normal;
  font-size: $font-size-label;
  .time {
    text-align: left;
    color: $text-color-secondary;
    padding-bottom: $padding-4n;
  }
  .payStatusTrue {
    color: $text-color-regular;
  }
  .payStatusFalse {
    color: $primary-color;
  }
}
