.index {
  height: 100vh;
  .content {
    height: 400px;
    color: red;
  }
  .comment {
    .commentHeader {
      height: 50px;
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      font-family: "PingFang SC";
      font-weight: normal;
      border-bottom: 1px solid #eee;
      .commentNum {
        font-size: 16px;
        line-height: 26px;
        text-align: left;
        color: #0b0b37;
        line-height: 50px;
      }
      .commentSort {
        font-size: 14px;
        line-height: 50px;
        text-align: left;
        color: #8590a6;
      }
    }
    .commentItems {
      padding: 0 16px;
    }
  }
  .detailFooter {
    width: calc(100% - 32px);
    height: 50px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    background: #fff;
    .createComment {
      width: 1.76rem;
      height: .36rem;
      margin-top: 7px;
      border-radius: 5px;
      background: #f5f7f8;
      border: 1px solid #eee;
      .createCommentText {
        font-family: "PingFang SC";
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        color: #c5c6ca;
      }
    }
    .detailIcon {
      display: flex;
      justify-content: space-between;
      font-family: "PingFang SC";
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: left;
      color: #c5c6ca;
      margin-top: 10px;
      .footerIcon{
        margin-right: 8px;
      }
    }
  }
}
