@mixin flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  margin: 0 16px;
  background-color: var(--color-white);

  :global{
    .dzq-input {
      max-width: 200px;

      .dzq-input__inner {
        padding: var(--padding-2n);
        text-align: right;
        border: none;
      }
    }

    .dzq-slider{
      .dzq-slider__progress--stick,
      .dzq-slider__progress--active,
      .dzq-slider__feature{
        height: 4px;
      }

      .dzq-slider__progress__button{
        width: 24px;
        height: 24px;
        background: #2469f6;
        border: 1px solid #fff;

        &::after{
          content: '';
          position: absolute;
          left: 6px;
          top: 6px;
          width: 10px;
          height: 10px;
          background: var(--color-white);
          border-radius: 50%;
        }
      }
    }
  }

  .paid-item {
    @include flex();
    padding: var(--padding-4n) 0;
    font-family: "PingFang SC";
    font-size: var(--font-size-primary);
    color: var(--color-text-primary);

    .left {
      width: 130px;
      color: #4f5a70;
      line-height: 18px;
      text-align: left;
    }

    .right {
      flex: 1;
      @include flex();
      justify-content: flex-end;
    }

  }

  .free {
    display: flex;
    flex-direction: column;
    padding: var(--padding-4n) 0;
    .free-title{
      font-size: var(--font-size-primary);
      line-height: var(--font-line-height-small);
      text-align: left;
      color: #8490a8;
    }
  }

  .btn {
    @include flex();
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 10px;
    padding: 8px 0;
    background: var(--color-white);
    border-top: var(--border-border)

    :global {
      .dzq-button {
        width: 48%;
        padding: 10px 0;
        font-size: var(--font-size-middle);
        color: #4f5a70;
        line-height: 24px;
        border: none;
        border-radius: var(--border-radius-small);
        background: var(--background-color-text2);
        -webkit-tap-highlight-color: transparent;
      }
    }

    .btn-confirm {
      color: var(--color-white);
      background-color: #1878f3;
    }
  }
}