@import '@common/styles/index.scss';
.content {
  padding: 0 $padding-6n;
  height: calc(100vh - 44px);
  padding-bottom: 44px;
  background: $white;
  z-index: 9;
  overflow-y: scroll;
}
.title {
  padding: $padding-2n 0 $padding-4n 0;
  text-align: center;
  font-weight: 600;
  font-size: $font-size-middle;
  line-height: $font-line-height-large;
  color: $text-color-primary;
}
.item_title {
  font-weight: 700;
}
.item_content {
  font-weight: normal;
  font-size: $font-size-base;
  line-height: $font-line-height-base;
  text-align: left;
  color: $text-color-primary;
  margin-bottom: $margin-6n;
}
.bottom {
  width: calc(100vw - 48px);
  padding: $padding-3n 0;
  font-weight: normal;
  font-size: $font-size-base;
  line-height: $font-line-height-small;
  text-align: center;
  color: $text-color-regular;
  position: fixed;
  bottom: 0;
  left: 24px;
  background: $white;
  border-top: $border-solid-1;
}
