@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.searchWrap {
  background: #f5f7f8;
  width: 100%;
  .searchRight {
    width: rem(286);
    overflow: hidden;
  }
  .searchContent {
    width: 100%;
    min-width: rem(652);
  }
  .section {
    margin-bottom: rem($margin-10);
    padding: 0 rem($padding-6n);
    background: var(--color-white);
    border-radius: rem($border-radius-small);
    box-shadow: 0 0 rem($padding-2n) rgba(241, 243, 244, 0.16);
  }
}

  