@import '@common/styles/mixin/login.scss';
@import '@common/styles/fn/rem.scss';
.container {
  height: 100vh;
}
.banner {
  @include banner;
}
.content {
  padding: rem(48) rem(24);
  .button {
    @include button;
  }
  .functionalRegion {
    @include functionalRegion;
    text-align: center;
    margin-top: rem(60);
  }
  .icon{
    width: rem(327);
    text-align: center;
    .icon__img {
      width: rem(150);
      height: rem(150);
      display: inline-block;
    }
  }
}
 