@import '@common/styles/mixin/login.scss';
@import '@common/styles/index.scss';
.container {
  height: 100vh;
}
.banner {
  @include banner;
}
.content {
  @include content;
  .button {
    @include button;
  }
  .functionalRegion {
    @include functionalRegion;
    line-height: rem($font-line-height-base);
    text-align: center;
    margin-top: rem(32);
  }
  .icon{
    width: rem(327);
    text-align: center;
    .icon__img {
      width: rem(150);
      height: rem(150);
      display: inline-block;
    }
  }
}

// ------------------PC
.pc_container {
  @include pc_container;
}
.pc_content {
  width: 300px;
  margin: 20px auto 0;
  padding-bottom: 30px;
  .pc_functionalRegion {
    @include functionalRegion;
    font-weight: 600;
    font-size: $font-size-large;
    line-height: $font-line-height-large;
    color: $text-color-primary;
    text-align: center;
    padding-bottom: 32px;
  }
  .pc_button {
    @include pc_button;
  }
  .pc_icon{
    width: 327px;
    text-align: center;
    .icon__img {
      width: 150px;
      height: 150px;
      display: inline-block;
    }
  }
}
