@import '@common/styles/index.scss';

.container {
  background: var(--color-white);

  .more {
    background: var(--background-color);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 rem($padding-4n);
    .moreItem {
      margin: rem($padding-4n) rem($padding-4n) 0 rem($padding-4n);

      .icon {
        width: rem(50);
        height: rem(50);
        text-align: center;
        line-height: rem(50);
        background: var(--color-white);
        border-radius: var(--border-radius-small);
        color: var(--color-text-regular);
      }

      .text {
        padding: rem($padding-2n) 0;
        text-align: center;
        color: var(--color-text-secondary);
      }
    }
  }
}

.button {
  width: 100%;
}
