@import '@common/styles/index.scss';

.page {
  padding-top: rem($padding-4n);
  height: 100vh;
  background-color: var(--color-white);
}
.section {
  padding: rem($padding-4n);
  padding-top: 0;
  &.popularContents{
    padding-bottom: 0;
  }
}
.hr {
  height: rem(10);
  background-color: var(--background-color);
}
