@import '@common/styles/index.scss';
.container{
  .captchaInput-input {
    text-align: center;
    display: inline-block;
    height: rem(52);
    width: rem(40);
    margin-right: rem($margin-4n);
    box-sizing: border-box;
    padding: rem($padding-4n) 0;
    border-bottom: rem(1) solid #eee;
    :global(.dzq-input__inner) {
      text-align: center;
      font-size: rem($font-size-middle);
      width: rem(40);
      height: rem(24);
      line-height: rem($font-line-height-base);
      padding: 0;
      border: none;
      border-radius: $border-radius-zero;
    }
  }
  .captchaInput-input:last-child {
    margin-right: 0;
  }
}