@import "@common/styles/index.scss";

.position {
  display: flex;
  align-items: center;
  height: 25px;
  border-radius: 5px;
  background: #f0f1f3;
  color: #4f5a70;
  padding: 4px 8px;
  margin: 9px 8px 9px 0;
  max-width: 80%;

  .position-icon {
    margin-right: $margin-1n;
  }

  .text {
    font-size: $font-size-label;
    line-height: 16px;
    text-align: left;
    @include text-ellipsis();
  }

  .remove-icon {
    padding-left: $padding-2n;
  }
}

.chose {
  color: var(--color-primary);
  background: #E8F0FE;
}