.container {
  height: 100vh;
}
.content {
  padding: 48px 24px;
  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: var(--color-text-primary);
  }
  .input {
    width: 327px;
    :global(.dzq-input__inner) {
      height: 68px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #eee;
    }
    :global(.dzq-icon-EyeOutlined) {
      top: 25px
    }
    :global(.dzq-input__append) {
      line-height: 68px;
      font-size: 14px;
    }
  }
  .button {
    width: 327px;
    height: 42px;
    line-height: 24px;
    margin-top: 32px;
  }
  .functionalRegion {
    margin-top: 16px;
    text-align: center;
    .clickBtn{
      color: var(--color-primary);
      cursor: pointer;
    }
  }
  .tips{
    font-size: 16px;
    margin: 32px 0;
    line-height: 30px;
    text-align: left;
    color: var(--color-text-primary);
    img {
      width: 30px;
      height: 30px;
      margin: 0 8px;
    }
    margin-bottom: 0;
  }
}