@import '@common/styles/mixin/login.scss';
@import '@common/styles/index.scss';

.container {
  @include mini_container;
}
.content {
  @include mini_content;
  .title {
    @include mini_title;
  }
  .input {
    @include mini_input;
  }
  .captchaInput{
    position: relative;
  }
  .sendCaptcha {
    @include mini_captchaBtn;
    font-size: 14px;
  }
  .countDown {
    @include mini_captchaBtn;
    color: #b5b5b5;
  }
  .button {
    @include mini_button;
  }
  .functionalRegion {
    @include mini_functionalRegion;
    margin-top: 16px;
  }
  .tips{
    @include mini_tips;
    img {
      width: 30px;
      height: 30px;
      margin: 0 8px;
    }
    margin-bottom: 0;
  }
}