
@import '@common/styles/index.scss';

.container {
  width: 100%;
  position: relative;
  overflow: hidden;
  .contentWrapper{
    .content {
      //@include cursor-on-pc;
      width: 100%;
      position: relative;
      display: inline-block;
      line-height: rem($font-line-height-middle);
      font-size: rem($font-size-middle) !important;
      color: $text-color-primary;
      // margin-top: rem($padding-1n);
      word-break: break-all;
      img {
        &:not(:global(.qq-emotion)) {
          max-width: 100%;
          overflow: hidden;
        }
      }


      :global(.qq-emotion) {
        height: rem(30);
        width: rem(30);
        margin-top: rem(-1);
      }
    }

    :global(.dzq-richText) {
      overflow: hidden;
    }
    
    iframe {
      width: 100%;
      height: rem(600);
    }
  }

  .hideCover {
    position: relative;
    overflow: hidden;
    max-height: rem(165);
    &:after {
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: rem(165);
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }

    &.bg {
      &:after {
        background: linear-gradient(rgba(255, 255, 255, 0), $body-bg-color);
      }
    }
  }
  .showMore {
    @include cursor-on-pc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: rem($font-size-primary);
    line-height: rem($font-line-height-primary);
    color: $primary-color;
    .icon {
      margin-left: rem(9);
      transform: rotateZ(90deg);
    }
  }
  .payInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    .hidePercent {
      font-weight: normal;
      font-size: rem($font-size-primary);
      line-height: rem($font-line-height-primary);
      text-align: left;
      color: $primary-color;
    }
    .payButton {
      margin-top: rem($padding-4n);
      line-height: rem(16.8);
    }
    .payButtonIcon {
      margin-right: rem($padding-2n);
      width: rem(13.93);
      height: rem(16.62);
      background-color: $white;
    }
  }
}

.usePointer{
  @include cursor-on-pc;
}
