@import '@common/styles/index.scss';
.container {
  background: var(--background-color);
}

.header {
  height: rem(54);
  padding: 0 rem($padding-4n);
  display: flex;
  justify-content: space-between;
  background: var(--color-white);
  border-bottom: var(--border-border);
  flex: 0 0 rem(54);

  .number {
    font-size: rem($font-size-middle);
    text-align: left;
    color: var(--color-text-primary);
    line-height: rem(54);
  }
  .sort {
    display: flex;
    align-items: center;
    font-size: rem($font-size-primary);
    line-height: rem(54);
    text-align: left;
    color: var(--color-text-secondary);
    .sortText {
      padding-left: rem($padding-1n);
    }
    .sortIcon {
      font-size: rem($font-size-primary) !important;
    }
  }
}

.body {
  background: var(--color-white);

  .commentItems {
    border-bottom: var(--border-border);
  }
}
