@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.recommend {
  width: 100%;
  box-sizing: border-box;
  background: var(--color-white);
  padding: 0 rem($padding-4n);
  padding-bottom: 0;
  .recommendContent {
    font-weight: 600;
    font-size: rem(18);
    height: rem(57);
    line-height: rem(57);
    color: var(--color-text-primary);
  }
}
.recommendBox {
  width: 100%;
  height: rem(82);
  border-top: var(--border-border);
  .recommendTitle {
    display: flex;
    padding-top: rem($margin-4n);
    .recommendSort {
      margin-right: rem($margin-2n);
      font-size: rem($font-size-primary);
      line-height: rem($font-line-height-small);
      color: var(--color-error);
    }
    .recommenText {
      flex: 1;
      font-size: rem($font-size-middle);
      line-height: rem($font-line-height-small);
      color: var(--color-text-primary);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .browse {
    width: 100%;
    display: flex;
    margin-top: rem($margin-10);
    justify-content: space-between;
    align-items: center;
    .browseBox {
      font-size: rem($font-size-label);
      line-height: rem($font-line-height-small);
      color: var(--color-text-secondary);
      .browseIcon {
        margin-right: rem($margin-1n);
      }
    }
    .browseButtom {
      display: flex;
      .browseSurplus {
        font-size: rem($font-size-label);
        line-height: rem($font-line-height-primary);
        color: var(--color-text-primary);
        .surNumber {
          color: var(--color-error);
        }
      }
      .browseCategory {
        display: flex;
        p {
          width: rem(40);
          height: rem(21);
          margin-left: rem($margin-2n);
          border-radius: rem($border-radius-small);
          font-size: rem($font-size-label);
          line-height: rem(21);
          text-align: center;
        }
        .categoryText {
          color: #3ac15f;
          background: transparent;
          border: rem(1) solid #3ac15f;
        }
        .categoryEssence {
          color: var(--color-primary);
          background: transparent;
          border: rem(1) solid var(--color-primary);
        }
        .categoryRed {
          color: var(--color-error);
          background: transparent;
          border: rem(1) solid var(--color-error);
        }
        .categoryReward {
          color: #FFC300;
          background: transparent;
          border: rem(1) solid #FFC300;
        }
      }
    }
  }
}
.recommendSwitch {
  width: 100%;
  height: rem(52);
  border-top: var(--border-border);
  cursor: pointer;
  .switchBox {
    width: rem(66);
    margin: rem($margin-4n) auto 0;
    font-size: rem($font-size-primary);
    line-height: rem($font-line-height-primary);
    color: var(--pc-user-info-title);
    .switchIcon {
      margin-right: rem($margin-2n);
    }
  }
}