@import '@common/styles/index.scss';
.container {
  overflow: hidden;
  height: 165px;
  position: relative;
  .topBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
    .goback{
      transform: rotate(180deg);
    }
  }
  .logoBox {
    margin-top: 57.8px;
    max-height: 40px;
    overflow: hidden;
    .logo {
      display: block;
      max-height: 40px;
      margin: 0 auto;
    }
  }
  .digest{
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    .left{
      margin-right: 16px;
    }
    .left,.right{
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      color: var(--color-white);
    }
  }
  .siteInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 26px;
    .item{
      display: flex;
      align-items: center;
      .text {
        font-size: 16px;
        color: var( --color-white);
        opacity: 0.5;
      }
      .content {
        font-size: 16px;
        color: var( --color-white);
        padding-left: 8px;
      }
      .shareIcon {
        display: inline-block;
        opacity: 0.5;
        padding-right: 8px;
      }
    }
  }
}
