@import '@common/styles/index.scss';
.container {
  overflow: hidden;
  height: 165px;
  position: relative;
  .topBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
    :global(.dzq-icon){
      font-size: $font-size-middle-extra !important;
    }
    .left{
      font-size: $font-size-base;
      line-height: $font-line-height-base;
      color: $white;
      display: flex;
      align-items: center;
      flex-direction: row;
      :global(.dzq-icon){
        font-size: $font-size-base !important;
        margin-right: $margin-2n;
      }
    }
    .goback{
      transform: rotate(180deg);
    }
  }
  .logoBox {
    margin-top: 58px;
    max-height: 40px;
    overflow: hidden;
    .logo {
      display: block;
      max-height: 40px;
      margin: 0 auto;
    }
  }
  .digest{
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    .left{
      margin-right: 16px;
    }
    .left,.right{
      font-weight: normal;
      font-size: $font-size-primary;
      line-height: $font-line-height-middle;
      color: $white;
    }
  }
  .siteInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 $padding-4n;
    box-sizing: border-box;
    position: absolute;
    bottom: $font-line-height-primary;
    Button {
      margin:0;
      padding:0;
      border: 0;
    }
    .item {
      display: flex;
      align-items: center;
    }
    .text {
      font-size: $font-size-middle;
      line-height: 24px;
      color: $white;
      font-weight: normal;
      opacity: 0.6;
    }
    .shareText {
      font-size: $font-size-middle;
      line-height: 24px;
      color: $white;
      font-weight: normal;
    }
    .content {
      font-size: $font-size-middle;
      color: $white;
      font-weight: normal;
      padding-left: $padding-2n;
    }
    .shareIcon {
      display: inline-block;
      color: $white;
      padding-right: $padding-2n;
      box-sizing: border-box;
    }
  }
}
.container_mode_login {
  height: 128px;
}
.container_mode_invite {
  height: 156px;
}

.topBarForMini {
  height: 44px;
}