@import '@common/styles/index.scss';

.container {
  width: 100%;
  height: rem(168);
  font-family: 'PingFang SC';
  font-weight: normal;
  border-radius: $border-radius-big $border-radius-big 0 0;
  background: $white;
}

.list {
  padding: 0 $padding-4n;
  border-bottom: $border-solid-1;
  .item {
    text-align: center;
    font-size: $padding-4n;
    line-height: $font-line-height-base;
    padding: 16px 0;
    text-align: center;
    color: $text-color-primary;
    border-bottom: $border-solid-1;
  }
}
.list h2:last-child {
  border-bottom: none;
}

.cancel {
  width: 100%;
  font-size: $font-size-base;
  line-height: $font-line-height-small;
  text-align: center;
  color: var(--color-text-regular);
  border-top: $border-solid-1;
  padding: $padding-3n 0;
}