@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.container {
  box-sizing: border-box;
  padding: rem($padding-4n);
  .header {
    padding-bottom: rem(24);
    padding-top: rem(16);
  }
  .content {
    >* {
      margin-bottom: rem(16);
    }
  }
  .bottom {
    height: rem(52);
    display: flex;
    align-items: center;
    border-top: var(--border-line-color) solid rem(1);
    margin-top: rem(12);
  }
  .button {
    width: 100%;
    height: rem(36);
    font-size: rem($font-size-primary);
    line-height: rem(36);
    padding: 0;
    margin-bottom: rem(16);
    .icon {
      font-size: rem($font-size-primary);
      margin-right: rem($margin-10);
    }
  }
}