@import './vars.scss';

.pcPage {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  max-width: 750px;
  padding: 0 $padding-4n;
  background: $white;
  position: relative;
}

.h5Page {
  position: relative;
  border-top: $border-solid-1;
  height: calc(100vh - 41px);
  background-color: $body-bg-color;
}
