@import '@common/styles/index.scss';
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $padding-4n;
  height: 52px;
  border-radius: $border-radius-small;
  background: $body-bg-color;
  margin-bottom: 8px;

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      flex: 1;
      width: 70%;
    }

    .right {
      width: 64px;
      font-size: $font-size-label;
      color: $text-color-regular;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  .span {
    cursor: pointer;
  }

  .containerText {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 8px;
    margin-right: 8px;
    flex: 1;
  }
  .size {
    color: var(--color-text-regular);
    font-size: $font-size-label;
    margin-top: 4px;
  }
  .containerIcon {
    color: var(--color-success);
    font-size: 20px;
  }
  .content {
    color: --color-text-primary;
    font-size: $font-size-primary;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
.containerPay {
  justify-content: center;
  cursor: pointer;

  .content {
    overflow: hidden;
    white-space: nowrap;
    margin-left: 8px;
    margin-right: 8px;
    max-width: 70%;
  }
}