@import '@common/styles/index.scss';

.container {
  width: rem(520);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  background: var(--color-white);
  border-radius: rem($border-radius-big);
  overflow: hidden;
  padding: 0 rem(24) rem(24) rem(24);
}

.header {
  height: rem(64);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .headerLeft {
    flex: 1;
    font-size: rem($font-size-middle);
    font-weight: var(--font-weight-regular);
    line-height: rem(64);
    text-align: center;
  }
  .headerIcon {
    text-align: center;
    font-size: rem($font-size-middle);
    cursor: pointer;
    color: $text-color-secondary;
  }
}

.body {
  width: 100%;

  .percentage {
    display: flex;
    flex-direction: column;

    .text {
      font-weight: normal;
      color: var(--pc-user-info-title);
      font-size: rem($font-size-middle);
      line-height: rem(17.8);
      text-align: left;
      padding: rem($padding-4n) 0 rem($padding-2n) 0;
    }

    .slider {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: rem($padding-2n);
      .perCent {
      }
      :global {
        .dzq-slider__progress--active {
          height: rem(4);
        }
        .dzq-slider__progress__button {
          width: rem(10);
          height: rem(10);
          border: rem(7) solid var(--color-primary);
        }
      }
    }
  }
  .rewardMoney {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: rem($font-size-primary);
    font-weight: normal;
    padding: rem($padding-4n) 0;
    .text {
      line-height: rem(17.8);
      text-align: left;
      color: var(--pc-user-info-title);
      font-size: rem($font-size-middle);
    }
    .moneyNum {
      font-family: 'PingFangSC-Regular';
      line-height: rem(16.8);
      text-align: left;
      color: var(--color-text-primary);
    }
    :global {
      .dzq-input {
        width: rem(90);
        height: rem(30);
        .dzq-input__inner {
          width: rem(90);
          height: rem(30);
        }
      }
    }
  }
}

.button {
  margin-top: rem($margin-6n);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .ok {
    width: rem(116);
    height: rem(36);
  }
  .cancel {
    width: rem(116);
    height: rem(36);
    background: $button-info-bg-color;
    border: none;
    margin-right: rem($margin-4n);
  }
}
