@import '@common/styles/index.scss';

.container {
  width: rem(620);
  height: rem(280);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  background: var(--color-white);
  border-radius: rem($border-radius-big);
  overflow: hidden;
}

.header {
  height: rem(50);
  display: flex;
  justify-content: space-between;
  padding: 0 rem(20);
  .headerLeft {
    font-size: rem($font-size-middle);
    line-height: rem(50);
  }
  .headerIcon {
    width: rem(50);
    height: rem(50);
    line-height: rem(50);
    text-align: center;
    font-size: rem($font-size-middle);
  }
}


.percentage {
  height: rem(30);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: rem($padding-10) 0;
  .text {
    font-size: rem($font-size-middle);
    padding: 0 rem($padding-1n);
  }
  :global {
    .dzq-input {
      width: rem(400);
      height: rem(40);
      .dzq-input__inner {
        width: rem(400);
        height: rem(40);
      }
    }
  }
}

.rewardMoney {
  height: rem(30);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: rem($margin-10) 0;
  .text {
    font-size: rem($font-size-middle);
    padding: 0 rem($padding-1n);
  }
  :global {
    .dzq-input {
      width: rem(400);
      height: rem(40);
      .dzq-input__inner {
        width: rem(400);
        height: rem(40);
      }
    }
  }
}


.button {
  width: 100%;
  height: rem(50);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #f4f7f7;
  .ok {
    width: rem(70);
    height: rem(36);
    margin-right: rem($margin-6n);
  }
  .cancel {
    width: rem(70);
    height: rem(36);
    background: #c9c9c9;
    border: none;
    margin-right: rem($margin-6n);
  }
}