@import '@common/styles/index.scss';

.payconfirmWrapper {
  background: var(--color-white);
  // min-height: rem(452);
  width: rem(409);
  font-size: rem($font-size-large);
  padding: rem($padding-6n);
  box-sizing: border-box;
  .icon {
    margin-right: rem($margin-4n);
  }
  .payTitle {
    font-weight: bold;
    text-align: center;
    font-size: rem(16);
    line-height: rem(21);
  }
  .payMoney {
    margin: rem(24) 0 rem(16);
    font-size: rem($font-size-base);
    height: rem(60);
    border-radius: rem(5);
    background: var(--color-warn10);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .payM {
    color: $error-color;
    font-weight: 600;
    font-size: rem(20);
  }
  .payTab_top {
    margin-bottom: rem(16);
    text-align: center;
  }
  .payTab {
    margin-right: rem($margin-6n);
    font-size: rem(14);
    // &:hover {
    //   text-decoration: underline;
    //   color: #333;
    //   cursor: pointer;
    //   font-weight: 800;
    // }
    // &:active {
    //   text-decoration: underline;
    //   color: #333;
    // }
  }
  :global {
    .dzq-checkbox-wrap .dzq-checkbox.dzq-checkbox--radio {
      border-radius: rem(5);
    }
    .dzq-checkbox-wrap .dzq-checkbox.dzq-checkbox--radio::after {
      border-radius: rem(5);
    }
  }
  .payTabActive {
    text-decoration: underline;
    color: #333;
    cursor: pointer;
    font-weight: 800;
  }
  .wechatPayment {
    display: flex;
    align-items: center;
    flex-direction: column;
    .wPaymentDec {
      flex: 1;
      padding: rem($margin-6n);
    }
    .wPayment_01 {
      font-size: rem(22);
      font-weight: 600;
    }
    .wPayment_02 {
      display: flex;
      align-items: center;
      margin: rem(16) 0;
      font-size: rem(14);
      line-height: rem(20);
      color: #4F5A70;
    }
  }
  .wPayment_03 {
    font-size: rem(12);
    color: #8590A6;
    line-height: rem(16);
    margin-top: rem(16);
  }
  .wPaymentCode {
    > img {
      width: rem(106);
      height: rem(106);
      // background-color: pink;
    }
  }
  .walletPayment {
    padding-left: rem(30);
    .walletTitle {
      font-size: rem(22);
      font-weight: 600;
      margin: rem(24) 0 rem(16);
    }
    .walletDec {
      line-height: rem(36);
    }
    .walletBalance {
      font-size: rem(20);
      font-weight: 800;
      letter-spacing: rem(1);
    }
    .walletSettingPwd {
      color: var(--color-primary3);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .walletText {
      font-size: rem(14);
    }
    .walletWarn {
      color: $text-color-placeholder;
      font-size: rem(14);
      margin-left: rem($margin-4n);
    }
    .walletChangePwd {
      display: inline-block;
      height: rem(40);
    }
    .walletConfirmBc {
      width: 100%;
      margin-top: rem(24);
      padding-left: rem(45);
    }
    .walletConfirmBtn {
      display: block;
      width: rem(248);
      border-radius: rem(5);
    }
  }
  .walletDec > span:nth-child(1) {
    color: #4F5A70;
    margin-right: rem(24);
    font-size: rem(14);
  }
  .paymentCloseBtn {
    position: absolute;
    right: rem(24);
    top: rem(22);
    cursor: pointer;
    color: $text-color-secondary;
    text-shadow: 0 -1 0 0;
    &:hover {
      color: #a1aabb;
    }
  }
}
