@import '@common/styles/index.scss';

.paid-wrapper {


    :global {

        .dzq-input {
            display: inline-block;
            width: 40px;

            .dzq-input__inner {
                border: none;
                padding: 0;
                text-align: center;
            }
        }

        .dzq-popup__overlay {
            z-index: var(--zindex-backtotop);
        }

        .dzq-slider {

            .dzq-slider__progress--stick,
            .dzq-slider__progress--active,
            .dzq-slider__feature {
                height: 4px;
            }

            .dzq-slider__progress__button {
                width: 24px;
                height: 24px;
                background: var(--color-primary);

                &::after {
                    content: '';
                    position: absolute;
                    left: 7px;
                    top: 7px;
                    width: 10px;
                    height: 10px;
                    background: var(--color-white);
                    border-radius: var(--borde0a0s-cir0);
                }
            }
        }

    }

    .toview {
        display: flex;
        flex-direction: column;
        padding: var(--padding-4n);
        padding-top: 0;

        .toviewone {
            height: 33px;
            font-size: var(--font-size-label);
            color: #8490a8;
        }
    }

    .redpacket-box {
        width: 409px;
        height: 215px;
        margin: 0 auto;
        padding-top: var(--padding-6n);
        border-radius: var(--border-radius-small);
        background: #fff;

        .title-top {
            height: 43px;
            line-height: 43px;
            text-align: center;
            position: relative;
            font-weight: var(--font-weight-regular);
            font-size: var(--font-size-middle);
            color: var(--color-text-primary);

            .title-top-right {
                position: absolute;
                right: 24px;
                top: 12px;
                width: 20px;
                height: 20px;
            }
        }

        .line-box {
            color: #4f5a70;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: var(--margin-4n);
            margin-right: var(--margin-4n);
            font-size: var(--font-size-primary);

            .text-style {
                color: #4f5a70;
            }
        }
    }

    .btn {
        position: absolute;
        bottom: 24px;
        width: 249px;
        padding-left: 80px;
        padding-right: 80px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        line-height: 53px;
        -webkit-tap-highlight-color: transparent;

        .btn-one {
            width: 116px;
            height: 36px;
            color: #333;
            text-align: center;
            border: none;
            background: var(--border-line-color);
        }

        .btn-two {
            width: 116px;
            height: 36px;
            color: var(--color-white);
            text-align: center;
            background-color: var(--color-primary);
            border: none;
        }
    }
}