@import '@common/styles/index.scss';

.container {
  .container-inner {
    padding: 8px 16px;
  }

  .textarea {
    width: 100%;
    padding: 0;
    font-size: 16px;
    color: $text-color-primary;
    line-height: 16px;
    text-align: left;
    resize: none;
    min-height: 78px;
    max-height: 260px;
  }

  .textarea-editing {
    width: 100%;
    padding: 0;
    font-size: 16px;
    color: $text-color-primary;
    line-height: 26px;
    text-align: left;
    resize: none;
    min-height: 78px;
    max-height: 260px;
  }

  .textarea-placeholder {
    font-size: 16px;
    color: $text-color-placeholder;
  }
}
