page {
  font-family: var(--font-family);
  background-color: var(--color-white);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--border-line-color);

    .content {
      height: 100%;
      overflow: scroll;

      .plugin {
        padding: 8px 16px;
        background-color: var(--color-white);
      }
    }

    .tags{
      padding-bottom: 90px;

      .location-bar {
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--border-line-color);
        .text-length {
          font-size: 12px;
          line-height: 42px;
          text-align: left;
          color: #c5c6ca;
        }
      }

      .tag-toolbar {
        padding: 0 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background: var(--color-white);
        border-bottom: 1px solid var(--border-line-color);
      }
    }

    .toolbar {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}



