@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.searchWrap {
  background: #f5f7f8;
  width: 100%;
  height: 100vh;
  .searchContent {
    width: 100%;
    min-width: rem(652);
  }
  .postTitle {
    padding: 0 rem($padding-6n);
    border-radius: rem($border-radius-small);
    background: var(--color-white);
  }
  .threadContent {
    border-radius: rem($border-radius-small);
    padding: 0 rem($padding-6n);
    margin-bottom: rem(16);
    overflow: hidden;
  }
  .searchRight {
    width: rem(286);
    overflow: hidden;
  }
}

  