@import '@common/styles/mixin/login.scss';
@import '@common/styles/index.scss';
.container {
  height: 100vh;
}
.banner {
  @include banner;
}
.content {
  @include content;
  .title {
    @include title;
  }
  .input {
    @include input;
  }
  .button {
    @include button;
  }
}
