@import "@common/styles/index.scss";

.wrapper {
  height: 100vh;
  background: $body-bg-color;
  border-top: $border-solid-1;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: $padding-4n $padding-4n $padding-2n;
    background: $white;

    .input-box {
      flex: 1;
      position: relative;

      .delete {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 36px;
        display: flex;
        align-items: center;

        .delete-icon {
          margin-left: 8px;
          padding-top: 3px;
          color: $text-color-placeholder;
        }
      }
    }
  }

  .btn-cancel {
    flex-basis: 44px;
    font-size: $font-size-primary;
    color: #8490a8;
    text-align: right;
  }

  :global {
    .dzq-input {
      width: 100%;
      box-sizing: border-box;

      .dzq-input__inner {
        height: 40px;
        padding: 0 40px;
        font-size: $font-size-middle;
        color: $text-color-primary;
        background: $text-bg-color2;
        border: none;
      }

      .dzq-icon-SearchOutlined {
        left: 8px;
        top: 50%;
        margin-top: -18px;
        color: $icon-color-light !important;
      }

      .input-placeholder {
        color: $text-color-placeholder;
      }
    }
  }

  .topic-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-4n;
    line-height: 20px;
    background: $white;
    border-bottom: $border-solid-1;

    .item-left {
      display: flex;
      align-items: center;
      max-width: 240px;
      @include text-ellipsis;

      .name {
        max-width: 197px;
        line-height: 20px;
        font-size: $font-size-primary;
        color: $text-color-primary;
        word-break: break-all;
      }
    }

    .item-right {
      font-size: $font-size-small;
      color: $text-color-secondary;
      white-space: nowrap;
    }
  }
}
