@import "@common/styles/index.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
  background: $white;
  border-top: $border-solid-1;

  :global {
    .dzq-input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px 20px;

      .dzq-input__inner {
        height: 40px;
        padding-left: 35px;
        padding-right: $padding-5;
        font-size: $font-size-middle;
        color: $text-color-primary;
        background: $text-bg-color2;
        border: none;
      }

      .dzq-input__icon {
        left: 20px;
        top: 50%;
        margin-top: -18px;
        color: $icon-color-light !important;
      }
    }
  }

  .topic-wrap {
    flex: 1;
    overflow: hidden;
    :global {
      .scroll-view {
        height: 100% !important;
      }
    }
  }

  .topic-item {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    line-height: 20px;
    border-bottom: $border-solid-1;

    .item-left {
      display: flex;
      align-items: center;
      max-width: 235px;

      .name {
        max-width: 197px;
        line-height: 20px;
        font-size: $font-size-primary;
        font-weight: 600;
        color: #333;
        word-break: break-all;
      }

      .recommend {
        width: 20px;
        height: 20px;
        margin-left: margin-5n;
        margin-bottom: margin-2n;
        font-size: 22px;
      }
    }

    .item-right {
      font-size: $font-size-small;
      color: rgb(51, 51, 51);
      white-space: nowrap;
    }
  }

  .btn-container {
    @include ios-safe-area-inset-bottom;
  }
  .btn {
    margin: 0 $margin-10;
    padding: $padding-2n 0;
    border-top: $border-solid-1;
    background: $white;

    :global {
      .dzq-button {
        width: 100%;
        padding: $padding-10 0;
        font-size: $font-size-middle;
        color: $text-color-regular;
        line-height: $font-line-height-small;
        background: $text-bg-color2;
        border: none;
        border-radius: $border-radius-small;
        transition: all 0.3s;
      }
    }
  }
}
