@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.container {
  width: 100vw;
  background: var(--comment-box-bg-color);
  min-height: 100vh;
}

.header {
  width: 100%;
  height: rem(60);
  background: var(--color-white);
  margin-bottom: rem(20);
}

.body {
  width: 100%;
  display: flex;
  justify-content: center;

  .bodyLeft {
    padding: 50px;
    width: rem(750);
    margin-right: rem(20);
    background: #fff;
  }
  .bodyRigth {
    width: rem(300);

    .authorInfo {
      width: 100%;
      min-height: rem(290);
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      margin-bottom: rem(20);
    }
    .recommend {
      width: 100%;
      background: #fff;
    }
  }
}

.back {
  font-size: rem(14);
  color: #8590a6;
  cursor: pointer;
  display: flex;
  align-items: center;

  span {
    margin-left: rem(4);
  }
}