@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.list {
  width: 100%;
  overflow: hidden;
  .item {
    padding: rem($margin-4n);
    background: var(--color-white);
    margin-bottom: rem($margin-10);
    .title {
      font-weight: 700;
      font-size: rem($font-size-middle);
      line-height: rem($font-line-height-primary);
      color: var(--color-text-primary);
    }
    .content {
      font-size: rem($font-size-primary);
      line-height: rem(18);
      color: var(--color-text-primary);
      margin: rem($margin-2n) 0;
    }
    .footer {
      display: flex;
      margin-top: rem($margin-2n);
      .numBox {
        font-size: rem($font-size-label);
        line-height: rem($font-size-middle);
        color: var( --color-text-secondary);
        margin-right: rem($margin-10);
        span {
          margin-right: rem($margin-1n);
        }
      }
    }
  }
}
