@import '@common/styles/mixin/login.scss';
@import '@common/styles/index.scss';
.container {
  height: 100vh;
  .button {
    @include button;
  }
}
.content {
  @include content;
  .title {
    @include title;
  }
  .tips{
    @include titleTips;
  }
}

// ------------------PC
.pc_body_background{
  @include pc_body_background;
}

.pc_container {
  @include pc_container;
}
.pc_content {
  @include pc_content;
  .pc_title {
    @include pc_title;
  }
  .pc_otherLogin_title {
    @include pc_otherLoginText;
    font-size: $font-size-base;
  }
  .pc_otherLogin_tips{
    @include pc_otherLoginText;
  }
  .pc_tips{
    @include pc_titleTips;
    margin-bottom: 32px;
  }
}
