@import '@common/styles/index.scss';

.users{
  padding: rem($padding-4n);
  padding-top: 0;
  border-bottom: rem(10) solid $text-bg-color2;
  &.popularContents{
    padding-bottom: 0;
  }
}
.pc_users{
  background-color: $white;
  border-radius: $border-radius-small;
  padding: 0 $padding-6n 0;
  margin-bottom: 10px;
  &.popularContents{
    padding-bottom: 0;
  }
}
.pc_users_title {
  padding: $padding-6n 0;
}
.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color-placeholder;
  height: rem(60);
  background: var(--color-white);
}

