@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.container {
  .box {
    height: rem(104);
    border-radius: rem($border-radius-small);
    background: #fef9ec;
    display: flex;
    align-items: center;
    margin-bottom: rem($margin-4n);
    .money {
      flex: 0 0 rem(94);
      height: rem(104);
      border-radius: rem($border-radius-small) 0 0 rem($border-radius-small);
      background: #e4414e;
      font-weight: normal;
      font-size: rem($font-size-large);
      line-height: rem(104);
      color: #fff;
      text-align: center;
    }
    .content {
      height: rem(104);
      border-radius: rem($border-radius-small) 0 0 rem($border-radius-small);
      padding: rem($padding-10) rem($padding-4n);
      box-sizing: border-box;
      .title {
        width: 100%;
        font-weight: normal;
        font-size: rem($font-size-primary);
        line-height: rem(29.67);
        height: rem(29.67);
        color: #0b0b37;
        overflow: hidden;
      }
      .avatar {
        width: rem(16);
        height: rem(16);
        border-radius: 50%;
        background: #727170;
      }
      .username {
        color: #2469F6;
      }
      .text {
        height: rem(48);
        font-weight: normal;
        font-size: rem($font-size-middle);
        line-height: rem($font-line-height-middle);
        color: #0b0b37;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
.button {
  width: 100%;
  height: rem(36);
}