@import '@common/styles/mixin/login.scss';
@import '@common/styles/index.scss';
.content {
  padding: rem($padding-4n) rem($padding-6n) rem($padding-6n);
  height: 100%;
  background: $white;
  .item {
    padding: $margin-2n 0;
  }
  .input_value{
    width: 100%;
    width: 100%;
    :global(.dzq-input__inner) {
      font-size: rem($font-size-base);
      line-height: rem($font-line-height-base);
      -webkit-appearance: none;
      &::placeholder {
        color: $text-color-placeholder;
      }
    }
  }
  .button{
    @include button;
    margin-top: rem($margin-6n);
  }
  .imgUpload {
    .imgUpload-dom {
      width: 100px;
      height: 100px;
      border-radius: $border-radius-small;
      background: $body-bg-color;
      border: $border-solid-1;
      text-align: center;
      line-height: 100px;
      font-size: $font-size-large;
      color: $text-color-secondary;
    }
  }
  .label{
    font-size: $font-size-base;
    line-height: $font-line-height-middle;
    text-align: left;
    color: $text-color-regular;
    padding-bottom: $margin-2n;
  }
  .attachmentsUpload{
    float: left;
    width: 100%;
    .attachmentsUpload-left{
      display: inline-block;
      font-size: $font-size-base;
      line-height: $font-line-height-middle;
      text-align: left;
      color: $text-color-regular;
    }
    .attachmentsUpload-right{
      cursor: pointer;
      display: inline-block;
      font-size: $font-size-base;
      line-height: $font-line-height-base;
      color: $text-color-primary;
      float: right;
    }
  }
  .textarea{
    .textarea_item{
      width: 100%;
      box-sizing: border-box;
      :global(.dzq-textarea__limit){
        width: calc(100% - 15px);
        position: absolute;
        bottom: 0;
        padding-right: 0;
      }
    }
  }
  .checkbox{
    :global(.dzq-checkbox-wrap) {
      margin-right: $margin-4n;
    }
  }
}
