@import '@discuzq/design/dist/styles/index.scss';
@import '@common/styles/index.scss';
@import '@common/styles/theme/index.scss'; // 主题样式
@import './reset.scss';
.dzq-toast--mask {
  z-index: $zindex-toast;
}

.dzq-input__inner {
  &::placeholder {
    color: $text-color-placeholder;
  }
}
// 默认的icon颜色
.dzq-icon {
  // color: $icon-color;
  cursor: pointer;
}

.dzq-avatar__img {
  vertical-align: baseline;
}

* {
  font-family: $font-family !important;
}


