@import '@common/styles/index.scss';
@import './reset.scss';
@import '@discuzq/design/dist/styles/index.scss';
.dzq-post-video {
  margin: rem(16);
  div[data-vjs-player=true] { /* stylelint-disable-line */
    width: 100% !important;
    height: rem(150);
  }
}
.dzq-toast--mask {
  z-index: var(--zindex-toast);
}

* {
  font-family: $font-family !important;
}
