@import '@common/styles/index.scss';

.wrapper {
  margin: 0 rem($margin-4n);
}

.title {
  display: flex !important;
  width: 100% !important;
  height: 52px;
  border: none;
  border-bottom: var(--border-border);
  align-items: center;

  :global { /* stylelint-disable-line*/
    .dzq-input__inner {
      padding: rem($padding-2n) 0;
      font-size: $font-size-large;
      line-height: $font-line-height-small;
      border: none;
      color: $text-color-primary;
      text-align: left !important;
    }
  }
}

.is-display{
  display: none;
}
