@import '@common/styles/fn/rem.scss';
@import '@common/styles/_variable.scss';

.container {
  background-color: $white;
  margin-bottom: rem(10);
}

.notificationItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  margin: 0 16px;
  padding: 16px 0;
  border-bottom: $border-solid-1;
  font-size: $font-size-middle;
  line-height: $font-line-height-base;
  &:last-child {
    border: none;
  }
}

.badge {
  position: absolute;
  top: -4px;
  right: -12px;
  :global {
    .dzq-badge__info {
      transform: scale(0.7);
    }
  }
}

.iconWrapper {
  position: relative;
}

.icon {
  position: relative;
  background-color: $primary-color;
  padding: 11px;
  border-radius: 50%;
  color: $white;
}

.title {
  flex: 1;
  padding: 16px;
}

.arrow {
  padding: 16px;
}
