.pc {
  z-index: var(--zindex-dialog);
  :global {
    .dzq-modal__container {
      width: 410px;
    }
    .dzq-modal__body {
      padding: 0;
    }
  }
  &-header {
    margin-top: var(--margin-2n);
    position: relative;
    text-align: center;
    font-size: var(--font-size-middle);
    font-weight: 600;
  }
  &-closeicon {
    position: absolute;
    top: 0;
    right: 0;
  }
}

