/* stylelint-disable */
@import '@common/styles/index.scss';

.dvditor {
  position: relative;
  border: none;
  background-color: var(--color-white);
  &.no-focus {
    .vditor-toolbar {
      display: none !important;
    }
  }
  &__placeholder {
    height: 36px;
    width: 100%;
  }

  .vditor-ir pre.vditor-reset,
  .vditor-wysiwyg pre.vditor-reset {
    height: 178px;
    padding: rem(16) !important;
    font-size: var(--font-size-middle);
    color: var(--color-text-primary);
    &:before {
      color: var(--color-text-placeholder) !important;
    }
    &:focus {
      background-color: var(--color-white);
    }
    img[alt^=":"] {
      width: 30px;
    }
  }
  .vditor-ir {
    p,
    strong,
    span,
    div,
    a {
      margin-bottom: 0;
      line-height: var(--font-line-height-middle);
      font-size: var(--font-size-middle);
      font-family: $fontFamily;
    }
    strong {
      font-weight: bolder;
    }
  }
  .vditor-wysiwyg {
    p,
    strong,
    span,
    div,
    a {
      margin-bottom: 0;
      line-height: var(--font-line-height-middle);
      font-size: var(--font-size-middle);
      font-family: $fontFamily;
    }
    strong {
      font-weight: bolder;
    }
    .vditor-panel {
      display: none !important;
    }
  }
  .vditor-toolbar--hide {
    display: none;
  }
  .vditor-toolbar {
    position: absolute;
    width: 100%;
    padding: 0 !important;
    height: 36px;
    left: 0;
    top: 177px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid rgba($color: #eee, $alpha: 0.75);
    &__item {
      font-size: var(--font-size-middle);
      button {
        font-size: var(--font-size-middle);
      }
    }
    .vditor-counter {
      display: none;
    }
  }
  .vditor-toolbar__item svg {
    width: 18px;
    height: 18px;
  }
  .vditor-ir,
  .vditor-wysiwyg {
    .vditor-reset>h1:before,
    .vditor-reset>h2:before,
    .vditor-reset>h3:before,
    .vditor-reset>h4:before,
    .vditor-reset>h5:before,
    .vditor-reset>h6:before,
    .vditor-toc:before {
      content: '';
    }
    .vditor-wysiwyg__block::before {
      content: '';
    }
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: rgba(0, 0, 0, .09);
      border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, .09);
      border-radius: 100px;
    }
  }
  .vditor-content {
    border: none;
  }
}
