@import '@common/styles/index.scss';

.post-inner {
  position: absolute;
  top: rem(44);
  width: 100%;
  height: calc(100vh - 134px - 0.44rem);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: $white;
}
.post-bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  z-index: $zindex-popup;
}
@supports (bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom)) {
  .post-inner {
    max-height: calc(100vh - 134px - constant(safe-area-inset-bottom));
    max-height: calc(100vh - 134px - env(safe-area-inset-bottom));
  }
}

.audio-record {
  margin: 0 rem($padding-4n) rem($padding-4n);
}
.audio-record-display {
  position: relative;
  :global {
    .dzq-audio {
      .dzq-audio-bg-view__right {
        padding-right: $padding-5n + $padding-4n;
        &-text {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          height: 100%;
        }
      }
    }
  }
  .delete {
    position: absolute;
    right: rem($padding-4n);
    top: 50%;
    transform: translateY(-50%);
    font-size: $font-size-middle;
    color: $icon-color-light;
  }
}

.position-box {
  display: flex;
  // flex-direction: row-reverse;
  height: 45px;
  padding: 0 rem(16);
  align-items: center;
  justify-content: flex-start;
  :global { /* stylelint-disable-line */
    .dzq-tag {
      display: flex;
      font-size: var(--font-size-label);
      border-radius: 5px;
      background-color: #e8f0fe;;
      border-color: #e8f0fe;
      align-items: center;
    }
    .dzq-tag-text {
      display: inline-block;
      max-width: rem(280);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .post-counter {
    font-size: var(--font-size-label);
    color: var(--color-text-placeholder);
  }
}

.reward-qa-box {
  border-top: 1px solid #eee;
  &-content {
    @include tag-default;
    margin-left: rem($margin-4n);
    margin-top: rem($margin-10);
  }
}