@import '@common/styles/index.scss';

.list {
  width: 100%;
  .userItem {
    padding: $padding-4n 0;
    &:after {
      content: ' ';
      position: absolute;
      right: 16px;
      left: 16px;
      height: 1px;
      bottom: 0;
      background-color: rgba(238, 238, 238, 0.75);
    }
  }
}
