@import '@common/styles/index.scss';


.site{
  background-color: $white;
  border-radius: $border-radius-small;
  padding: $padding-2n $padding-6n;
  margin-bottom: 10px;
  &.popularContents{
    padding-bottom: 0;
  }
  .site_title{
    padding-bottom: rem($padding-4n);
    border-bottom: rem(1) solid var(--border-line-color);
    font-size: rem($padding-4n);
    line-height: rem($font-line-height-primary);
    color: var(--color-text-primary);
  }
  .site_introduce{
    padding: rem($padding-4n) 0;
    font-size: rem($font-size-primary);
    font-weight: normal;
    line-height: rem($font-line-height-primary);
    text-align: left;
    color: var(--color-text-primary);
  }
}