@import '@styles/index.scss';

.container {
  height: 45px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-label);
  background: var(--background-color);
  // @include ios-safe-area-inset-bottom;

  .plug-icon {
    margin-right: 24px;
    color: $icon-color;
  }

  Text {
    font-size: var(--font-size-primary);
    line-height: 22px;
    text-align: left;
    color: var(--color-primary);
  }
}
