@import '@styles/index.scss';

.container {
  height: 45px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size-label;
  background: $body-bg-color;

  .plug-icon {
    margin-right: 24px;
    color: $icon-color;
    &.active {
      color: $icon-color-active;
    }
  }

  Text {
    font-size: $font-size-primary;
    line-height: 22px;
    text-align: left;
    color: $primary-color;
  }
}
