@import "@common/styles/index.scss";
@mixin single-line() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  @include flex();
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  background: $white;
  border-top: $border-solid-1;

  :global {
    .dzq-input {
      width: 100%;
      padding: $padding-10 $padding-5n;
      box-sizing: border-box;

      .dzq-input__inner {
        height: 40px;
        padding: 0 35px;
        font-size: $font-size-middle;
        color: $text-color-primary;
        background: $text-bg-color2;
        border: none;
      }

      .dzq-icon-SearchOutlined {
        left: 20px;
        top: 50%;
        margin-top: -18px;
        line-height: 36px;
        color: $icon-color-light !important;
      }

      .input-placeholder {
        color: $text-color-placeholder;
      }
    }
  }
  .input-box {
    position: relative;

    .delete {
      position: absolute;
      top: 50%;
      right: 30px;
      margin-top: -10px;
      width: 20px;
      height: 20px;
      background: transparent;
      border: 1px solid $icon-color-light;
      border-radius: $border-radius-circle;
      display: flex;
      justify-content: center;
      align-items: center;

      .delete-icon {
        color: $icon-color-light;
        transform: scale(0.8);
      }
    }
  }

  .check-box {
    flex: 1;
    overflow: hidden;
  }

  .at-item {
    @include flex();
    height: 50px;
    padding: 0 $padding-5n;

    .avatar {
      width: 35px;
      height: 35px;

      :global {
        .dzq-avatar {
          width: 100%;
          height: 100%;
          font-size: 22px;
          color: $white;
          text-align: center;
          line-height: 35px;
          border-radius: $border-radius-circle;

          .dzq-avatar__img {
            width: 100%;
            height: 100%;
            border-radius: $border-radius-circle;
          }
        }
      }
    }

    .info {
      flex: 1;
      @include flex();
      height: 50px;
      padding: 0 $padding-2n;
      font-size: $font-size-primary;
      color: $text-color-primary;
      line-height: 50px;
      border-bottom: $border-solid-1;
      .username {
        max-width: 170px;
        @include single-line();
      }
      .group {
        max-width: 80px;
        @include single-line();
      }
    }

    :global {
      .dzq-checkbox-wrap {
        margin: 0;
        padding: $padding-3n 0;
        -webkit-tap-highlight-color: transparent;
        .dzq-checkbox {
          width: 24px;
          height: 24px;
          border-radius: $border-radius-circle;
          &::after {
            border-radius: $border-radius-circle;
            color: $white;
          }
        }
        &.is-checked {
          .dzq-checkbox {
            background-color: $primary-color;
          }
          .dzq-icon {
            font-size: $font-size-small !important;
            color: $white;
          }
        }
      }
    }
  }

  .btn-container {
    @include ios-safe-area-inset-bottom;
    flex-basis: 59px;
  }

  .btn {
    @include flex();
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
    right: 0;
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);
    margin: 0 $margin-10;
    padding: $padding-2n 0;
    background: $white;
    border-top: $border-solid-1;

    :global {
      .dzq-button {
        width: 48%;
        padding: $padding-10 0;
        font-size: $font-size-middle;
        color: $text-color-regular;
        line-height: $font-line-height-small;
        border: none;
        border-radius: $border-radius-small;
        background: $text-bg-color2;
        -webkit-tap-highlight-color: transparent;
      }
    }

    .selected {
      color: $white;
      background-color: $primary-color;
    }
  }
}
