@import '@common/styles/mixin/login.scss';
@import '@common/styles/fn/rem.scss';
.container {
  background: #fff;
  height: 100vh;
}
.banner {
  @include banner;
}
.content {
  background: #fff;
  padding: rem(48) rem(24);
  .title {
    @include title;
  }
  .input {
    @include input;
    @include passwordInput;
  }
  .button {
    @include button;
  }
  .tips{
    @include titleTips;
    margin-bottom: 0; 
  }
}

// ------------------PC
body{
  background: #f4f5f6;
}

.pc_container {
  @include pc_container;
}
.pc_content {
  width: 300px;
  margin: 20px auto 0;
  .pc_title {
    font-family: 'PingFang SC';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #0b0b37;
    text-align: center;
    padding-bottom: 32px;
  }
  .pc_input {
    width: 300px;
    margin-bottom: 24px;
  }
  .pc_button {
    @include pc_button;
  }
  .pc_otherLogin_title {
    @include pc_otherLoginText;
    font-size: 14px;
  }
  .pc_otherLogin_button{
    margin: 16px;
    .button_left {
      @include pc_otherLoginBtn;
    }
    .button_right{
      @include pc_otherLoginBtn;
    }
  }
  .pc_otherLogin_tips{
    @include pc_otherLoginText;
  }
  .tips {
    @include pc_tips;
  }
}
