@import '@common/styles/mixin/login.scss';
@import '@common/styles/index.scss';
.container {
  height: 100vh;
}
.banner {
  @include banner;
}
.content {
  padding: rem($padding-6n);
  .title {
    @include title;
  }
  .input {
    @include input;
    @include passwordInput;
  }
  .button {
    @include button;
  }
  .tips{
    @include titleTips;
    margin-bottom: 0;
  }
}

// ------------------PC
.pc_body_background{
  @include pc_body_background;
}

.pc_container {
  @include pc_container;
}
.pc_content {
  @include pc_content;
  .pc_title {
    @include pc_title;
  }
  .pc_input {
    @include pc_input;
  }
  .pc_button {
    @include pc_button;
  }
  .pc_otherLogin_title {
    @include pc_otherLoginText;
    font-size: $font-size-base;
  }
  .pc_otherLogin_button{
    margin: $margin-4n;
    .button_left {
      @include pc_otherLoginBtn;
    }
    .button_right{
      @include pc_otherLoginBtn;
    }
  }
  .pc_otherLogin_tips{
    @include pc_otherLoginText;
  }
  .tips {
    @include pc_tips;
  }
}
