@import '@common/styles/index.scss';

.container {
  height: 50px;

  .container-inner {
    padding: $padding-4n 0 $padding-2n;
    margin: 0 $margin-4n;
    border-bottom: $border-solid-1;

    :global {
      .dzq-input {
        width: 100%;
        border: none;
        font-size: 20px;
        color: $text-color-primary;
        line-height: 22px;
        text-align: left;
        border: none;
      }
    }
  }
}

.is-display {
  display: none;
}
