@import '@common/styles/index.scss';
.container {
  width: 100%;
  background-color: var(--color-white);
  box-sizing: border-box;
  padding: $padding-6n;
  margin-bottom: $margin-4n;
}
// 左侧列表内容 start
.invite_list {
  .invite_list_title {
    padding-bottom: $padding-6n;
    display: flex;
    align-items: center;
    font-size: $font-size-middle;
    line-height: $font-line-height-base;
    font-weight: 600;
    color: $text-color-primary;
    .title_text {
      padding-left: $padding-2n;
    }
  }
  @mixin list_nickname {
    width: 424px;
    padding-left: $padding-4n;
    box-sizing: border-box;
  }
  @mixin list_money {
    width: 131px;
  }
  @mixin list_timer {
    flex: 1;
  }
  .invite_list_label {
    width: 100%;
    border-radius: $border-radius-small $border-radius-small 0 0;
    height: 36px;
    background: $body-bg-color;
    box-sizing: border-box;
    padding: $padding-2n 0;
    display: flex;
    @mixin user_label_item{
      display: flex;
      align-items: center;
      text-align: center;
      font-size: $font-size-base;
      line-height: 18px;
      color: $text-color-regular;
    }

    .list_label_nickname,.list_label_money,.list_label_timer {
      @include user_label_item;
    }
    .list_label_nickname {
      @include list_nickname;
    }
    .list_label_money {
      @include list_money;
    }
    .list_label_timer {
      @include list_timer;
    }
  }
  .invite_list_main {
    .list_main_wrap {
      width: 100%;
      display: flex;
      align-items: center;
      height: 54px;
      box-sizing: border-box;
      padding: $padding-2n 0;
      border-bottom: $border-solid-1;
    }
    .list_main_nickname,.list_main_money,.list_main_timer {
      display: flex;
      align-items: center;
      line-height: $font-line-height-base;
      color: $text-color-primary;
    }
    .list_main_nickname {
      @include list_nickname;
    }
    .user_value_avatar {
      border-radius: $border-radius-circle;
      width: 38px;
      height: 38px;
      line-height: 38px;
    }
    .user_value_name {
      padding-left: $padding-4n;
    }
    .list_main_money {
      @include list_money;
    }
    .list_main_timer {
      @include list_timer;
    }
  }
}
// 左侧列表内容 end
// 右侧卡片内容 start
.user_card_wrap {
  width: 340px;
  height: 376px;
  border-radius: $border-radius-small;
  background: $primary-color;
  box-shadow: $border-shadow-color;
  box-sizing: border-box;
  padding: 84px $padding-6n $padding-6n;
  margin-bottom: $margin-5n;
  .user_card_main {
    width: 292px;
    height: 213px;
    border-radius: $border-radius-small;
    background: $white;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 68px $padding-4n $padding-4n;
    text-align: center;
    position: relative;
    .user_card_avatar {
      width: 120px;
      height: 120px;
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      margin-left: -60px;
      top: -60px;
      border-radius: 50%;
      background: var(--color-white);
      border: 1px solid var(--color-white);
      overflow: hidden;
      z-index: 3;
      :global(.dzq-avatar__img),:global(.dzq-avatar__text) {
        width: 118px;
        height: 118px;
        line-height: 118px;
      }

    }
    .user_card_info {
    }
    .user_info_name {
      font-weight: 600;
      font-size: $font-size-middle;
      line-height: $font-line-height-base;
      color: $text-color-primary;
      opacity: 1;
    }
    .user_info_tag {
      font-size: $font-size-small;
      line-height: $font-line-height-small;
      color: $text-color-secondary;
    }
    .user_info_invite {
      width: 260px;
      height: 78px;
      border-radius: $border-radius-small;
      background: $comment-bg-color;
      margin: auto;
    }
    @mixin userInfoInvite {
      width: 130px;
      height: 78px;
      display: inline-block;
      .invite_num_title{
        font-weight: normal;
        font-size: $font-size-base;
        line-height: $font-line-height-base;
        color: $text-color-regular;
        opacity: 1;
        padding-top: $padding-4n;
      }
      .invite_num_content{
        font-weight: 600;
        font-size: $font-size-middle;
        line-height: $font-line-height-middle;
        color: $text-color-primary;
      }
    }
    .invite_num{
      @include userInfoInvite;
    }
    .invite_money{
      @include userInfoInvite;
      width: 129px;
      border-left: rem(1) solid var(--color-white);
    }
  }
  .user_card_button {
    width: 292px;
    height: 36px;
    border-radius: $border-radius-small;
    background: $white;
    margin-top: $margin-5n;
    font-size: $font-size-base;
    line-height: $font-line-height-base;
    color: $primary-color;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
