.list {
  width: 100%;
  flex: 1;
  .userItem {
    padding: rem($padding-4n) 0;
    &:after {
      content: ' ';
      position: absolute;
      right: rem(16);
      left: rem(16);
      height: rem(1);
      bottom: 0;
      background-color: $border-color;
    }
  }
}
