@import '@common/styles/index.scss';
.commentList {
  padding: rem($padding-6n) 0;

  .header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: rem($margin-4n);
  }

  .redpacket {
    margin-left: rem($margin-4n);
  }

  .content {
    display: flex;
    .commentListAvatar {
      margin-right: rem($margin-2n);
    }
    .avatar {
      cursor: pointer;
    }
    .commentListContent {
      width: 100%;
      .commentListContentText {
        //padding: rem($padding-2n) rem($padding-3n);
        border-radius: rem($border-radius-small);
        background-color: $body-bg-color;

        &.active {
          background: $primary-color10;
        }

        .commentHeader {
          display: flex;
          justify-content: space-between;
          .userInfo {
            display: flex;
            .commentListName {
              padding-top: rem($padding-2n);
              padding-left: rem($padding-3n);
              padding-right: rem($padding-2n);
              font-weight: $font-weight-regular;
              font-size: rem($font-size-primary);
              line-height: rem(20);
              text-align: left;
              color: $text-color-primary;
            }
            .masterBox {
              padding:rem($padding-2n + 2) rem($padding-2n) 0 0;
              .masterText {
                border-radius: rem(4) 0;
                background: #ff9700;
                display: inline-block;
                font-size: rem(12);
                -webkit-text-size-adjust:none;
                -webkit-transform : scale(0.83,0.83);
                line-height: rem(14);
                padding: rem(1) rem(4);
                text-align: left;
                color: #fff;
              }
            }
            .groups {
              color: var(--color-text-secondary);
              font-size: $font-size-label;
              max-width: rem(100);
              white-space: nowrap;
              overflow: hidden;
              padding-top: rem($padding-2n);
              line-height: rem(20);
            }
          }
          .isApproved {
            font-size: $font-size-primary;
            color: $error-color;
            padding: $padding-2n $padding-3n 0;
          }
        }

        .commentListText {
          padding-bottom: rem($padding-2n);
          padding-left: rem($padding-3n);
          padding-right: rem($padding-3n);
          margin-top: rem(4);
          font-size: rem($font-size-middle);
          line-height: rem(22);
          text-align: left;
          color: $text-color-primary;
          word-break: break-word;

          :global {
            .qq-emotion {
              width: rem(22);
              height: rem(22);
            }

            .dzq-p  {
              margin-bottom: 0;
              font-size: $font-size-middle !important;
            }
          }

          // p {
          //   line-height: rem(24);
          // }

          // img {
          //   height: rem(22);
          // }

          // &.isShowOne {
          //   @include lamp-clamp(2);

          //   // p {
          //   //   @include lamp-clamp(2);
          //   // }
          // }
        }
        .imageDisplay {
          margin-top: rem($margin-2n);
        }
      }

      .commentListFooter {
        .commentBtn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: rem($font-size-primary);
          text-align: left;
          color: $text-color-secondary;
          padding-top: rem($padding-2n);
          line-height: rem(20);

          .commentTime {
            font-size: rem($font-size-label);
          }
          .commentLike {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
          }
          .commentReply {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
          }
          .commentAdopt {
            // flex: 1;
            cursor: pointer;
          }
          .commentDelete{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
          }
          .commentReport{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
          }
        }
        .moreReply {
          font-weight: $font-weight-regular;
          font-size: rem($font-size-primary);
          text-align: left;
          color: $text-color-primary;
          padding-top: rem($padding-4n);
          line-height: rem(22);
          cursor: pointer;
        }
      }
    }
  }

  .extraBottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    //cursor: pointer;
    > div {
      margin-left: rem(24);
    }
  }
}

.icon {
  margin-right: rem(8);
  font-size: rem(16) !important;
  color: $text-color-secondary;
}

.active {
  color: $primary-color;

  .icon {
    color: $primary-color;
  }
}

.commentInput {
  margin-top: rem(16);
}

.divider {
  margin-bottom: rem($margin-2n);
}

.revise {
  display: flex;
  align-items: center;
}

.hover {
  cursor: pointer;
}
