@import '@common/styles/index.scss';
.wrap {
  background-color: $white;
  margin-bottom: $margin-10;
  padding-bottom: rem($padding-4n);
}
.site{
  padding: 0 rem($padding-4n);
  &.popularContents{
    padding-bottom: 0;
  }
  .site_title{
    padding-bottom: rem($padding-4n);
    border-bottom: $border-solid-1;
    font-size: rem($padding-4n);
    line-height: rem($font-line-height-primary);
    color: $text-color-primary;
  }
  .site_introduce{
    padding: rem($padding-4n) 0;
    font-size: rem($font-size-primary);
    font-weight: normal;
    line-height: rem($font-line-height-primary);
    text-align: left;
    color: $text-color-primary;
  }
}
.site_status{
  padding-top: rem($padding-4n);
  display: flex;
  .site_status_list{
    flex: 1;
    display: flex;
    float: left;
    text-align: center;
    justify-content: center;
    font-size: rem($font-size-primary);
    &:nth-child(2) {
      position: relative;
    }
    &:nth-child(2):after, &:nth-child(2):before {
      float: left;
      content: '';
      height: 14px;
      width: 1px;
      position: absolute;
      top: rem(3);
      background-color: var(--border-line-color);
    }
    &:nth-child(2):after{
      left: 0;
    }
    &:nth-child(2):before {
      right: 0;
    }
  }
  .site_status_label{
    @include text-ellipsis;
    float: left;
    color: $text-color-regular;
    margin-right: rem($margin-2n);
    line-height: rem(20);
  }
  .site_status_item{
    float: left;
    color: var(--color-primary);
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: rem(20);
  }
}
.pc_site {
  background-color: $white;
  border-radius: $border-radius-small;
  margin-bottom: $margin-10;
  padding: 0 $padding-6n 0;
  border: none;
}
.h5_bottom_border {
  border-bottom: $border-solid-1;
}