@import '../../../../../common/styles/mixin/login.scss';
@import '@common/styles/fn/rem.scss';
.container {
  height: 100vh;
}
.banner {
  @include banner;
}
.content {
  padding: rem(48) rem(24);
  .title {
    @include title;
  }
  .input {
    @include input;
  }
  .phoneInput {
    position: relative;
  }
  .sendCaptcha {
    width: rem(94);
    height: rem(36);
    position: absolute;
    right: 0;
    bottom: rem(8);
    text-align: center;
    line-height: rem(36);
    border-radius: rem(5);
    color: #fff;
    font-size: rem(14);
    background: #2469f6; 
  }
  .captchaInput{
    margin-top: rem(32);
    .captchaInput-title {
      font-weight: normal;
      font-size: rem(14);
      line-height: rem(24);
      text-align: left;
      color: #8590a6;
    }
    .captchaInput-input:last-child{
      margin-right: 0;
    }
  }
  .captchaInput-input {
    text-align: center;
    display: inline-block;
    font-size: rem(14);
    height: rem(52);
    width: rem(40);
    margin-right: rem(16);
    input {
      line-height: rem(52);
      height: rem(52);
      width: rem(40);
      border: none;
      border-radius: 0;
      border-bottom: rem(1) solid #eee;
    }
  }
  .button {
    @include button;
  }
  .otherLogin-title {
    @include otherLoginText;
    margin-top: rem(120);
    font-size: rem(14);
  }
  .otherLogin-button{
    text-align: center;
    margin: rem(16);
  }
  .otherLogin-button-weixin {
    @include otherLoginBtn;
  }
  .otherLogin-button-user {
    @include otherLoginBtn;
  }
  .otherLogin-tips{
    @include otherLoginText;
    margin-top: rem(32);
  }
}
 