@import '@common/styles/mixin/login.scss';
@import '@common/styles/fn/rem.scss';
.container {
  background: #fff;
  height: 100vh;
}
.banner {
  @include banner;
}
.content {
  background: #fff;
  padding: rem(48) rem(24);
  .title {
    @include title;
  }
  .input {
    @include input;
  }
  .phoneInput {
    position: relative;
  }
  .sendCaptcha {
    width: rem(94);
    height: rem(36);
    position: absolute;
    right: 0;
    bottom: rem(8);
    text-align: center;
    line-height: rem(36);
    border-radius: rem(5);
    color: var(--color-white);
    font-size: rem(14);
    background: var(--color-primary); 
  }
  .captchaInput{
    margin-top: rem(32);
    .captchaInput-title {
      font-weight: normal;
      font-size: rem(14);
      line-height: rem(24);
      text-align: left;
      color: var(--color-text-secondary);
    }
    .captchaInput-input:last-child{
      margin-right: 0;
    }
  }
  .captchaInput-input {
    text-align: center;
    display: inline-block;
    font-size: rem(14);
    height: rem(52);
    width: rem(40);
    margin-right: rem(16);
    input {
      line-height: rem(52);
      height: rem(52);
      width: rem(40);
      border: none;
      border-radius: 0;
      border-bottom: rem(1) solid #eee;
    }
  }
  .button {
    @include button;
  }
  .otherLogin-title {
    @include otherLoginText;
    margin-top: rem(120);
    font-size: rem(14);
  }
  .otherLogin-button{
    text-align: center;
    margin: rem(16);
  }
  .otherLogin-button-weixin {
    @include otherLoginBtn;
  }
  .otherLogin-button-user {
    @include otherLoginBtn;
  }
  .otherLogin-tips{
    @include otherLoginText;
    margin-top: rem(32);
  }
}

// ------------------PC
body{
  background: #f4f5f6;
}

.pc_container {
  @include pc_content;
}
.pc_content {
  width: 300px;
  margin: 20px auto 0;
  .pc_title {
    font-family: 'PingFang SC';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #0b0b37;
    text-align: center;
    padding-bottom: 32px;
  }
  .pc_button {
    @include pc_button;
  }
  .pc_otherLogin_title {
    @include pc_otherLoginText;
    font-size: 14px;
  }
  .pc_otherLogin_button{
    margin: 16px;
    .button_left {
      @include pc_otherLoginBtn;
    }
    .button_right{
      @include pc_otherLoginBtn;
    }
  }
  .pc_otherLogin_tips{
    @include pc_otherLoginText;
  }
}