@import '@common/styles/index.scss';

.page {
  height: 100vh;
  display: flex;
  padding-top: $padding-4n;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--color-white);
  .list {
    flex: 1;
  }
}
.searchInput {
  padding: 0 $padding-4n;
  margin-bottom: $padding-4n;
}