@import '@common/styles/index.scss';

.noImageAvatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: $text-color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    text {
        color: $white;
        font-size: $font-size-middle;
    }
}
