@import '@common/styles/index.scss';
.commentList {
  padding: rem($padding-2n) rem($padding-4n) rem($padding-4n);
  .header {
    display: flex;
    justify-content: flex-end;

    .showGet {
      width: 100%;
      padding-left: rem(48);
      display: flex;
      justify-content: space-between;

      .revise {
        font-size: rem($font-size-primary);
        text-align: left;
        color: var(--color-text-secondary);
      }

      .headerRigth {
        display: flex;
        .redpacket {
          margin-left: rem($margin-4n);
        }
        .showMoneyNum {
          font-size: rem($font-size-label);
          text-align: left;
          color: var(--color-text-primary);
          margin-left: rem($margin-2n);
          .moneyNumber {
            color: var(--color-error);
          }
        }
        .more {
          margin-top: rem($margin-2n);
          font-size: rem($font-size-label);
          text-align: left;
          color: var(--color-text-primary);
          margin-left: rem($margin-6n);
          .moreIcon {
            margin-top: rem(1);
            line-height: rem(20);
            color: var(--color-text-secondary);
          }
        }
      }
    }
  }
  .content {
    display: flex;
    padding-top: rem($padding-2n);
    .commentListAvatar {
      margin-right: rem($margin-2n);
    }
    .commentListContent {
      width: 100%;
      .commentListContentText {
        padding: rem($padding-2n);
        border-radius: rem($border-radius-small);
        background: $body-bg-color;

        .commentListName {
          font-weight: bold;
          font-size: rem($font-size-primary);
          line-height: rem(20);
          text-align: left;
          color: var(--color-text-primary);
        }
        .commentListText {
          margin-top: rem($margin-1n);
          font-size: rem($font-size-middle);
          line-height: rem(24);
          text-align: left;
          word-break: break-all;
          color: var(--color-text-primary);
          @include lamp-clamp(3);

          p {
            @include lamp-clamp(3);
            line-height: rem(24);
          }

          img {
            height: rem(22);
          }
        }

        .imageDisplay {
          margin-top: rem($margin-2n);
        }
      }
      .commentListFooter {
        .commentBtn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: rem($font-size-primary);
          line-height: rem(16.8);
          text-align: left;
          color: var(--color-text-secondary);
          padding-top: rem($padding-2n);
          .commentTime {
            // flex: 1;
            font-size: rem($font-size-label);
          }
          .commentLiked {
            // flex: 1;
          }
          .commentLike {
            // flex: 1;
            color: var(--color-primary);
          }
          .commentReply {
            // flex: 1;
          }
          .commentDelete {
            // flex: 1;
          }
          .commentAdopt {
            // flex: 1;
          }
        }
        .moreReply {
          // font-weight: var(--font-weight-regular);
          font-weight: bold;
          font-size: rem($font-size-primary);
          line-height: rem($font-line-height-middle);
          text-align: left;
          color: var(--color-text-primary);
          padding-top: rem($padding-4n);
        }
      }
    }
  }
  .extra {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .extraBottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > div {
      margin-left: rem(24);
    }
  }
}

.imageNumber {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.image {
  width: rem(13);
  height: rem(18);
}

.rewardImage {
  width: rem(18);
  height: rem(18);
}
