@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.commentList {
  padding: rem($padding-4n);
  .header {
    display: flex;
    justify-content: flex-end;

    .showGet {
      width: 100%;
      padding-left: rem(48);
      display: flex;
      justify-content: space-between;

      .revise {
        font-size: rem($font-size-primary);
        text-align: left;
        color: var(--color-text-secondary);
      }
      .showMoneyNum {
        font-size: rem($font-size-label);
        text-align: left;
        color: var(--color-text-primary);
        margin-left: rem($margin-10);
        .moneyNumber {
          color: var(--color-error);
        }
      }
    }
  }
  .content {
    display: flex;
    padding-top: rem($padding-10);
    .commentListAvatar {
      margin-right: rem($margin-10);
    }
    .commentListContent {
      width: 100%;
      .commentListContentText {
        padding: rem($padding-2n);
        border-radius: rem($border-radius-small);
        background: var(--comment-box-bg-color);
        .commentListName {
          font-weight: var(--font-weight-regular);
          font-size: rem($font-size-primary);
          line-height: rem(18);
          text-align: left;
          color: var(--color-text-primary);
        }
        .commentListText {
          font-size: rem($font-size-middle);
          line-height: rem($font-line-height-middle);
          text-align: left;
          color: var(--color-text-primary);
        }
      }
      .commentListFooter {
        .commentBtn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: rem($font-size-primary);
          text-align: left;
          color: var(--color-text-secondary);
          padding-top: rem($padding-2n);
          .commentTime {
            // flex: 1;
          }
          .commentLiked {
            // flex: 1;
          }
          .commentLike {
            // flex: 1;
            color: var(--color-primary);
          }
          .commentReply {
            // flex: 1;
          }
          .commentDelete {
            // flex: 1;
          }
          .commentAdopt {
            // flex: 1;
          }
        }
        .moreReply {
          font-weight: var(--font-weight-regular);
          font-size: var($font-size-primary);
          text-align: left;
          color: var(--color-text-primary);
          padding-top: rem($padding-4n); 
        }
      }
    }
  }
  .extra {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > div {
      margin-right: rem($margin-2n);
    }
  }
  .extraBottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > div {
      margin-left: rem(24);
    }
  }
}