@import '@common/styles/index.scss';

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $body-bg-color;
  height: 100vh;

}

.headerbox {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: rem(1100);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  width: rem(1100);
}

.center {
  width: rem(750);
  display: flex;
  flex-direction: column;
  margin-top: rem($margin-10);
}

.left {
  position: sticky;
  top: rem(0);
  margin-right: rem($margin-5n);
  margin-top: rem($margin-10);
  width: rem(300);
}

.right {
  position: sticky;
  margin-left: rem($margin-10);
  top: rem(0);
  padding-top: rem($margin-10);
  width: rem(340);
}

.list {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}

.userHeader {
  width: rem(1100);
  margin-top: rem($margin-5n);
}

.headImgWrapper {
  border-radius: rem($border-radius-small) rem($border-radius-small) 0 0;
  overflow: hidden;
  >div {
    height: rem(153);
  }
}