:global {
  .dzq-input {
    display: inline-block;
    width: 40px;
  }
  .dzq-input__inner {
    border: none;
    padding: 0;
    text-align: center;
  }
}
.toview {
  display: flex;
  flex-direction: column;
  padding: 16px;
  .toviewone{
    height: 33px;
  }
}
.redpacket-box {
  height: 100vh;
  .line-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
  }
}
.btn {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 94%;
  height: 53px;
  border-top: 1px solid #eee;
  padding-top: 8px;
  padding-right: 3%;
  padding-left: 3%;
  line-height: 53px;
  justify-content: space-between;
  text-align: center;
  .btn-one {
    text-align: center;
    width: 166px;
    height: 44px;
    color: #333;
    background: #eee;
    border: none;
    &:hover {
      background-color: #2469f6;
      color: white;
    }
  }
  .btn-two {
    text-align: center;
    width: 166px;
    height: 44px;
    color: #333;
    background: #eee;
    border: none;
    &:hover {
      background-color: #2469f6;
      color: white;
    }
  }
}
