@import '@common/styles/index.scss';
@import '@common/styles/_variable.scss';

.loadMoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color-placeholder;
    padding-top: rem(16);
    padding-bottom: rem(16);

    :global {
        .dzq-spin--spinner {
            color: $text-color-placeholder;
        }
    }
}

.friendWrap.display-none {
    display: none;
}

:global {
    .user-center-friends {
        &::-webkit-scrollbar {
            display: block;
            width: 8px;
            border-radius: $border-radius-small;
        }


        // 滚动条轨道
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        // 滚动条上的滚动滑块
        &::-webkit-scrollbar-thumb {
            background: $border-shadow-color;
            border-radius: 4px;
        }
    }
}