@import '@common/styles/index.scss';
.text {
  font-size: 12px;
  color: var(--color-error);
}
.container {
  background: var(--background-color-text2);
  display: flex;
  flex-direction: column;
  height: 100vh;
  .homeContent {
    background: var(--color-white);
    margin-bottom: 10px;
  }
  .homeContentText {
    width: 100%;
    background: var(--color-white);
    border-bottom: 1px solid var(--color-text-placeholder);
    margin-bottom: 10px;
    position: fixed;
    top: 64px;
    left: 0;
    z-index: 2;
  }
  .tabsBox {
    height: 52px;
    :global {
      .dzq-tabs__bar {
        height: 52px;
        .dzq-tabs__label {
          font-size: 14px;
          line-height: 20px;
          margin-top: 16px;
          font-weight: normal;
        }
      }
      .dzq-tabs__item.is-active {
        font-family: "PingFang SC";
        font-weight: 600;
        color: var( --color-primary);
      }
    }
    .moreIcon {
      color: var(--color-text-secondary);
    }
  }
  .list {
    flex: 1;
  }
  .tabIcon {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .listItem {
    margin-bottom: 10px;
  }
}
