@import '@common/styles/index.scss';


.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: var(--comment-content-bg-color);
}

.scroll {
  width: 100%;
  height: calc(100vh - 58px);
  overflow-y: scroll;
  .header {
    width: 100%;
  }
  
  .choiceTime {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $comment-bg-color;
    padding:0 16px;
    .status {
      font-family: 'PingFangSC-Regular';
      font-weight: normal;
      color: #4f5a70;
      font-size: 14px;
      .icon {
        margin-left: 9px;
      }
    }
  }
  
  .tabs {
    width: 100%;
    border-bottom: var(--border-border);
    :global {
      .dzq-tabs__panel {
        height: 0;
      }
      .dzq-tabs__content {
        padding-left: 0;
        padding-right: 0;
      }
      .dzq-tabs__label {
        font-family: "PingFang SC";
        font-weight: 600;
        font-size: 14px;
      }
      .dzq-tabs__item {
        height: 50px;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 58px;
  background: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  .button {
    width: 343px;
    height: 42px;
    line-height: 26px;
    border-radius: 5px;
    color: var(--color-white);
    font-family: 'PingFang SC';
    font-weight: normal;
    font-size: 16px;
  }
}