@import '@common/styles/mixin/login.scss';
@import '@common/styles/fn/rem.scss';
@import '@common/styles/index.scss';
.phoneInput {
  position: relative;
  .input {
    @include input;
    margin-top: rem(14);
    padding: rem($padding-4n) 0 rem($padding-6n);
  }
}
@mixin captchaBtn {
  width: rem(94);
  height: rem(36);
  position: absolute;
  right: 0;
  bottom: rem(16);
  text-align: center;
  line-height: rem(36);
  border-radius: rem(5);
  color: var(--color-white);
  font-size: rem(14);
}
.sendCaptcha {
  @include captchaBtn;
  background: var(--color-primary);
}
.countDown {
  @include captchaBtn;
  color: #b5b5b5;
  background: var(--border-line-color);
}
.captchaInput{
  margin-top: rem($margin-6n);
  .captchaInput-title {
    font-weight: normal;
    font-size: rem(14);
    line-height: rem(24);
    text-align: left;
    padding: rem(2) 0;
    color: var(--color-text-secondary);
  }
  .captchaInput-input:last-child{
    margin-right: 0;
  }
}