@import '@common/styles/variable/index.scss';
@import '@common/styles/fn/rem.scss';

.container {
  padding: 16px 0;
  text-align: center;
  color: var(--color-text-placeholder);
  font-weight: normal;
  font-size: 14px;
}

.empty {
  height: 116px;
  line-height: 116px;
  font-size: 14px;
  color: var(--color-text-placeholder);
}