* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.infWrapper {
  margin-top: 120px;
  background: #eff1f3;
}

.row {
  min-height: 300px;
  padding: 30px;
}

.tweetImage {
  max-width: 100%;
  height: auto;
}

.tweetImage img {
  width: 100%;
}
