@import "@common/styles/index.scss";
@mixin single-line() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup {
  :global {
    .dzq-popup__overlay {
      background-color: var(--color-white);
    }
  }
}

.wrapper {
  position: relative;
  height: 100vh;

  .input {
    position: relative;

    .delete {
      position: absolute;
      top: rem(26);
      right: rem(32);
      width: rem(16);
      height: rem(16);
      background: $text-color-placeholder;
      border-radius: $border-radius-circle;
      display: flex;
      justify-content: center;
      align-items: center;

      .delete-icon {
        color: $icon-color-light;
        transform: scale(0.8);
      }
    }
  }

  :global {
    .dzq-input {
      box-sizing: border-box;
      width: 100%;
      padding: $padding-4n $padding-4n $padding-2n;
      .dzq-input__inner {
        height: rem(36);
        font-weight: normal;
        font-size: $font-size-base;
        font-family: "PingFang SC";
        background: var(--background-color-text2);
        color: $text-color-primary;
        line-height: $font-line-height-base;
        padding-left: rem(30);
        border: none;
        // padding-right: 5px;  
        // text-align: left;
      }
      .dzq-input__icon {
        left: rem(16);
        top: 50%;
        margin-top: rem(-14);
        color: var(--color-disabled2) !important;
      }
    }
  }

  .at-wrap {
    height: calc(100vh - rem(125));
    .scroll-view {
      height: 100% !important;
    }
  }

  .at-item {
    @include flex();
    padding: $padding-4n 0;
    border-bottom: $border-solid-1;
    margin: 0 $margin-4n;

    .avatar {
      width: rem(38);
      height: rem(38);

      :global {
        .dzq-avatar {
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: rem(38);
          border-radius: 50%;

          .dzq-avatar__img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
    }

    .info {
      flex: 1;
      @include flex();
      margin: 0 $margin-2n;
      font-size: $font-size-base;
      .username {
        max-width: rem(170);
        @include single-line();
        font-size: $font-size-base;
        line-height: rem(17.8);
        text-align: left;
        color: $text-color-primary;
      }
      .group {
        max-width: rem(80);
        @include single-line();
        font-size: $font-size-small;
        line-height: rem(16.8);
        text-align: left;
        color: $text-color-secondary;
      }
    }

    :global {
      .dzq-checkbox-wrap {
        margin: 0;
        padding: 0;
        -webkit-tap-highlight-color: transparent;
        .dzq-checkbox {
          width: rem(24);
          height: rem(24);
          border-radius: 50%;
          &:after {
            border-radius: 50%;
          }
        }
        &.is-checked {
          .dzq-checkbox {
            background-color: #1878f3;
          }
          .dzq-icon {
            color: #fff;
          }
        }
      }
    }
  }

  .btn {
    @include flex();
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
    right: 0;
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);
    margin: 0 $margin-10;
    padding: $padding-2n 0;
    background: $white;
    border-top: $border-solid-1;

    :global {
      .dzq-button {
        width: 48%;
        padding: $padding-10 0;
        font-size: $font-size-middle;
        color: $text-color-regular;
        line-height: $font-line-height-small;
        border: none;
        border-radius: $border-radius-small;
        background: $text-bg-color2;
        -webkit-tap-highlight-color: transparent;
      }
    }

    .selected {
      color: $white;
      background-color: $primary-color;
    }
  }
}
.pc {
  .wrapper {
    height: 500px;
  }
  .at-wrap {
    height: calc(500px - 135px);
  }
}