@import "@common/styles/index.scss";
@mixin single-line() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup {
  :global {
    .dzq-popup__overlay {
      background-color: var(--color-white);
    }
  }
}

.wrapper {
  // position: relative;
  width: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  
  .input {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: $text-bg-color2;
    margin-left: $margin-4n;
    margin-right: $margin-4n;
    padding-left: $padding-4n;
    padding-right: $padding-4n;
    border-radius: $border-radius-small;

    .inputWrapperIcon {
      color: var(--color-text-secondary);
    }
    .deleteIcon {
      color: var(--border-color-hover);
    }
  }

  :global {
    .dzq-input {
      width: 100%;
      .dzq-input__inner {
        box-sizing: border-box;
        height: 36px;
        width: 100%;
        background: $text-bg-color2;
        border: none;
        border-radius: 0;
      }
    }
  }

  .at-wrap {
    height: calc(100vh - 119px);
    // .scroll-view {
    //   height: 100% !important;
    // }
  }

  .at-item {
    @include flex();
    padding: $padding-4n 0;
    border-bottom: $border-solid-1;
    margin: 0 $margin-4n;

    .avatar {
      width: rem(38);
      height: rem(38);

      :global {
        .dzq-avatar {
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: rem(38);
          border-radius: $border-radius-circle;

          .dzq-avatar__img {
            width: 100%;
            height: 100%;
            border-radius: $border-radius-circle;
          }
        }
      }
    }

    .info {
      flex: 1;
      @include flex();
      margin: 0 $margin-2n;
      font-size: $font-size-base;
      .username {
        max-width: rem(170);
        @include single-line();
        line-height: rem(17.8);
        font-size: $font-size-base;
        text-align: left;
        color: $text-color-primary;
      }
      .group {
        max-width: rem(80);
        @include single-line();
        font-size: $font-size-small;
        text-align: left;
        color: $text-color-secondary;
      }
    }

    :global {
      .dzq-checkbox-wrap {
        margin: 0;
        padding: 0;
        -webkit-tap-highlight-color: transparent;
        .dzq-checkbox {
          width: rem(24);
          height: rem(24);
          border-radius: $border-radius-circle;
          &:after {
            border-radius: $border-radius-circle;
          }
        }
        &.is-checked {
          .dzq-checkbox {
            background-color: $primary-color;
          }
          .dzq-icon {
            color: $white;
          }
        }
      }
    }
  }

  .btn {
    @include flex();
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
    right: 0;
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);
    padding: rem($padding-2n) rem($padding-4n);
    background: $white;
    justify-content: center;
    border-top: $border-solid-1;

    :global {
      .dzq-button {
        @include button-default;
        width: rem(166);
        height: rem(42);
        -webkit-tap-highlight-color: transparent;
        &:first-child {
          margin-right: rem($margin-10);
        }
        &.is-selected {
          @include button-primary;
        }
      }
    }
  }
}
.pc {
  .wrapper {
    height: 500px;
    .btn {
      border-top: none;
      :global {
        .dzq-button {
          width: rem(116);
        }
      }
    }
  }
  .at-wrap {
    height: calc(500px - 135px);
  }
}