@import '@common/styles/index.scss';

.container {
  display: flex;
  box-sizing: border-box;
  height: rem(260);
  width: 100%;

  .bigImages {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .smallImages {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .img {
    box-sizing: border-box;
    border-radius: rem($border-radius-small);
    object-fit: cover;
    background-color: var(--background-color);
    cursor: pointer;
  }

  .modalBox {
    position: absolute;
    width: 33%;
    height: 100%;
    background: var(--color-black);
    opacity: 0.5;
    top: 0;
    right: 0;
    border-radius: rem($border-radius-small);
  }

  .imgSpan {
    position: absolute;
    width: 33%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: rem($font-size-large);
    color: var(--color-white);
    border-radius: rem($border-radius-small);
  }
}

.containerH5 {
  height: rem(260);
  width: rem(343);

  .containerNum1 {
    .bigImages {
      height: rem(260);
      width: rem(343);

      .img {
        width: 100%;
      }
    }
  }

  .containerNum2 {
    .bigImages {
      height: 100%;
      width: rem(169);

      .img {
        height: 100%;
        width: 100%;
      }
    }
  
    .smallImages {
      height: 100%;
      width: rem(169);
  
      .img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .containerNum3 {
    height: rem(260);
    width: rem(343);

    .bigImages {
      height: rem(128);
      width: 100%;

      .img {
        width: 100%;
      }
    }
  
    .smallImages {
      height: rem(126);
      width: 100%;
      flex-direction: row;
  
      .img {
        width: rem(169);
        height: 100%;
      }
    }
  }
  
  .containerNum4 {
    height: rem(260);
    width: rem(343);
    .bigImages {
      height: 100%;
      width: rem(210);

      .img {
        width: 100%;
      }
    }
  
    .smallImages {
      height: 100%;
      width: rem(129);
      flex-direction: column;
      .img {
        height: rem(84);
      }
    }
  }
  
  .containerNum5 {
    height: rem(260);
    width: rem(343);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  
    .bigImages {
      width: 100%;
      height: rem(126);
  
      .img {
        width: rem(169);
      }
    }
  
    .smallImages {
      width: 100%;
      flex-direction: row;
      height: rem(111);
  
      .img {
        width: rem(111);
      }
    }
  }
}

.containerPC {
  height: rem(532);
  width: rem(702);

  .containerNum1 {
  
    .bigImages {
      height: 100%;
      width: rem(702);

      .img {
        width: 100%;
      }
    }
  }

  .containerNum2 {
    .bigImages {
      height: 100%;
      width: rem(349);

      .img {
        height: 100%;
        width: 100%;
      }
    }
  
    .smallImages {
      height: 100%;
      width: rem(349);
  
      .img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .containerNum3 {
    .bigImages {
      height: rem(266);
      width: 100%;

      .img {
        width: rem(702);
        height: 100%;
      }
    }
  
    .smallImages {
      height: rem(262);
      width: 100%;
      flex-direction: row;
  
      .img {
        width: rem(349);
        height: 100%;
      }
    }
  }
  
  .containerNum4 {
    .bigImages {
      height: 100%;
      width: rem(434);

      .img {
        width: rem(434);
      }
    }
  
    .smallImages {
      height: 100%;
      width: rem(264);
      flex-direction: column;
      .img {
        height: rem(175);
      }
    }
  }
  
  .containerNum5 {
    width: rem(702);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  
    .bigImages {
      width: 100%;
      height: rem(262);
  
      .img {
        width: rem(349);
        height: rem(263);
      }
    }
  
    .smallImages {
      width: 100%;
      flex-direction: row;
      height: rem(232);
  
      .img {
        width: rem(232);
      }
    }
  }
}

// 根据图片数量，确定排列方向
.containerRow {
  display: flex;
  flex-direction: row;
  .bigImages {
    margin-right: rem(4);
  }
  .smallImages {
    flex-direction: column;
  }
}

.containerColumn {
  display: flex;
  flex-direction: column;
  .bigImages {
    // margin-bottom: rem(4);
  }
  .smallImages {
    flex-direction: row;
    margin-top: rem(4);
  }
}




