@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background-color-text2);
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.list {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}

.center {
  width: 100%;
}

:global {
  .dzq-pull-refresh__loading {
    font-size: rem($font-size-primary);
    top: rem(-20);
  }
}
