.painter {
    background-color: '#fff';
    flex: 1;
}

.centImage {
  width: 355px;
  display: block;
  margin: 10px 10px 74px 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px #dfe0e3;
}
.canvasBox {
  padding-top: 41rpx;
  margin-bottom: 80rpx;
}
  
  
