@import '@common/styles/index.scss';

.container {
  width: 245px;
  height: 125px;
  border-radius: var(--border-radius-small);
  background: var(--color-white);
  margin: 0 auto;
  .deleteTips {
    color: var(--color-text-primary);
    border-bottom: var(--border-border);
    .tips {
      width: 100%;
      font-weight: var(--font-weight-regular);
      font-size: $font-size-middle;
      line-height: $font-line-height-small;
      text-align: center;
      padding-top: $padding-5n;
    }
    .content {
      width: 100%;
      font-size: $font-size-primary;
      line-height: $font-line-height-middle;
      text-align: center;
      padding: $padding-10 0;
    }
  }
  .btn {
    display: flex;
    font-size: $font-size-middle;
    line-height: $font-line-height-large;
    text-align: center;
    .close {
      width: 50%;
      border-right: var(--border-border);
    }
    .ok {
      width: 50%;
      color: var(--color-primary);
    }
  }
}

.button {
  width: 100%;
}
