@import "@common/styles/fn/rem.scss";
@import "@common/styles/mixin/text.scss";
@mixin multiple-line($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  word-break: break-all;
}

.wrapper {
  width: 100%;
  background: var(--color-white);
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  /*内容展示区*/
  .block {
    flex: 1 0 100%;
    width: 100%;
    padding-top: var(--margin-4n);
    display: flex;
    justify-content: flex-start;
    transition: all 0.5s;
  }

  .avatar {
    flex: 0 0 rem(38);
    height: rem(38);
    margin-left: var(--margin-2n);
    padding: 0 var(--padding-2n);
    cursor: pointer;

    :global {
      .dzq-badge {
        width: 100%;
        height: 100%;
      }
      .dzq-avatar {
        width: 100%;
        height: 100%;
        font-size: 22px;
        color: var(--color-white);
        text-align: center;
        line-height: rem(38);
        background: transparent;

        .dzq-avatar__img {
          width: 100%;
          height: 100%;
          vertical-align: top;
        }

        .dzq-avatar__text {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .detail {
    flex: 1;
    overflow: hidden;
    padding-bottom: var(--padding-4n);
    margin-right: var(--margin-4n);
    font-size: var(--font-size-middle);
    border-bottom: var(--border-border);

    .top {
      display: flex;
      justify-content: space-between;
      height: rem(20);

      .name {
        font-weight: 600;
        font-size: var(--font-size-primary);
        text-align: left;
        line-height: rem(20);
        color: #0b0b37;
        cursor: pointer;
      }

      .amount {
        font-weight: 600;
        font-size: var(--font-size-middle);
        line-height: rem(20);
        text-align: right;
        color: var(--color-error);
      }
    }

    .middle {
      padding-top: var(--margin-1n);
      font-size: var(--font-size-primary);
      color: var(--background-color-text3);
      line-height: rem(20);
      cursor: pointer;

      :global {
        .qq-emotion {
          width: 20px;
          height: 20px;
          vertical-align: top;
        }
      }
    }

    .bottom {
      margin-top: var(--margin-2n);
    }

    .time {
      font-weight: normal;
      font-size: var(--font-size-label);
      line-height: rem(20);
      text-align: left;
      color: var(--background-color-text3);
    }

    /*私信详情*/
    &.detail-chat {
      margin-left: var(--margin-2n);
    }
    /*帖子详情*/
    &.detail-thread {
      margin-left: var(--margin-2n);
      .middle {
        line-height: rem(22);
      }
    }
    /*财务详情*/
    &.detail-financial {
      top: 0;
    }
    /*账号详情*/
    &.detail-account {
      .top {
        padding: rem(8) rem(8) 0;
        background: var(--comment-box-bg-color);
        border-radius: rem(5) rem(5) 0 0;
      }
      .middle {
        padding: rem(8);
        padding-top: rem(4);
        font-size: var(--font-size-middle);
        line-height: rem(24);
        background: var(--comment-box-bg-color);
        border-radius: 0 0 rem(5) rem(5);
        .content-html {
          .tip {
            color: var(--color-primary);
            padding-right: var(--padding-5);
          }
        }
      }
    }
  }

  /*左滑删除按钮*/
  .delete-h5 {
    flex: 0 0 74px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-primary);
    color: var(--color-white);
    background: var(--color-error);
    .icon {
      margin-bottom: var(--margin-2n);
    }
  }

  /*pc 删除按钮*/
  .delete-pc {
    visibility: hidden;
    position: absolute;
    bottom: rem(16);
    right: rem(20);
    width: rem(20);
    height: rem(20);
    text-align: right;
    cursor: pointer;
    .icon {
      color: var(--color-text-secondary);
    }
  }

  &:hover {
    background: var(--background-color-hover);
    .delete-pc {
      visibility: visible;
    }
  }

  .single-line {
    @include text-ellipsis();
  }

  .multiple-line {
    @include multiple-line(3);
  }
}
