@import "@common/styles/index.scss";
@mixin setRefreshList($height: 100vh) {
  :global {
    .dzq-pull-refresh__list {
      height: $height !important;
    }
  }
}

.wrapper {
  :global {
    .dzq-pull-refresh__loading {
      font-size: $font-size-large;
      top: -56px !important;
    }
  }
  @include setRefreshList();
  &.with-top {
    @include setRefreshList(calc(100vh - 40px));
  }
  &.with-bottom {
    @include setRefreshList(calc(100vh - 105px));
  }
}

.slider {
  background: $white;
  overflow: hidden;

  .slider-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background: $white;
    transition: all 0.4s;
    -webkit-tap-highlight-color: transparent;

    .slider-content {
      flex: 1 0 100%;
      width: 100%;
      padding-top: $margin-4n;
      display: flex;
      justify-content: flex-start;
      transition: all 0.5s;
    }

    .slider-brn {
      flex: 0 0 74px;
      align-items: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: $font-size-primary;
      letter-spacing: 1px;
      .icon {
        margin-bottom: $margin-10;
      }
    }
  }
}
