@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.container {
    padding: 16px 16px 0;
    background: var(--color-white);
}

.content {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    padding-bottom: 16px;
    .text {
        font-family: 'PingFang SC';
        font-size: 14px;
        text-align: left;
        color: var(--color-text-primary);
        line-height: 16px;
    }
    .money {
        font-family: 'PingFangSC-Semibold';
        font-size: 16px;
        text-align: left;
        color: var(--color-error);
    }
}

.time {
    font-family: 'PingFangSC-Regular';
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    color: var(--color-text-secondary);
    padding-bottom: 16px;
    border-bottom: var(--border-border);

}