@import '@common/styles/variable/index.scss';
@import '@common/styles/fn/rem.scss';

.container {
  width: 100%;
  padding: rem($padding-4n);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: rem(5);
  background: var(--background-color-text);
  .image {
    flex: none;
    width: rem(82);
    height: rem(82);
    object-fit: cover;
    &.empty{
      background-color: var(--mask-background-color);
    }
  }
  .content {
    flex: 1;
    margin-left: rem($padding-4n);
    .title {
      font-weight: normal;
      font-size: rem($font-size-primary);
      line-height: rem($font-line-height-primary);
      text-align: left;
      color: #515a6e;
      height: rem(44);
      overflow: hidden;
    }
    .amount {
      margin-top: rem($padding-2n);
      font-weight: normal;
      font-size: rem(20);
      line-height: rem(30);
      text-align: left;
      color: #e02433;
    }
  }
}
