@import '@common/styles/index.scss';

.content {
  padding: $padding-6n;
  padding-bottom: 0;
  .setTtile {
    display: block;
    font-size: $font-size-large;
    color: $text-color-primary;
    margin-bottom: $margin-5n;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .labelInfo {
    padding: $margin-10 0 $margin-6n;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $margin-6n;
    .labelName {
      color: $text-color-regular;
      font-size: $font-size-primary;
      margin-right: $margin-4n;
    }
    .labelValue {
      color: $text-color-primary;
      font-size: $font-size-middle;
    }
    .codeBtn {
      height: 36px;
      font-size: $font-size-primary;
    }
    .labelInput {
      :global {
        .dzq-input__inner {
          border: none;
        }
      }
    }
  }
  .bindCode {
    color: $text-color-regular;
    font-size: $font-size-primary;
  }
}

#editMobileContent {
  height: 100vh;
  background-color: $white;
  .bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    // border-top: 1px solid $border-color;
    padding: $padding-2n $padding-4n $padding-4n;
    background-color: $white;
    // @include ios-safe-area-inset-bottom;
    display: flex;
    padding-bottom: calc(16px + constant(safe-area-inset-bottom)); ///兼容 IOS<11.2/
    padding-bottom: calc(16px + env(safe-area-inset-bottom)); ///兼容 IOS>11.2/
    .btn {
      height: 42px;
      font-size: $font-size-middle;
      margin: auto;
      border-radius: $border-radius-small;
      padding: 0;
      line-height: 42px;
    }
  }
}

.bgBtnColor {
  :global {
    .dzq-button--primary.is-mouseenter {
      @include button-primary();
    }
  }
}

#editMobileContent {
  .btnPosition {
    bottom: 200px;
  }
}
