@import '@common/styles/index.scss';

.dialogPaymentWrapper {
  width: 100%;
  min-height: 500px;
}

.paypwdDialogWrapper {
  :global {
    .dzq-modal__container {
      width: 85%;
      top: 36%;
    }
  }
}

.keyboard{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1111;
  background-color: var(--color-white);
  .line{
    display: flex;
    align-items: center;
    .column{
      box-sizing: border-box;
      flex:1;
      font-size: 20px;
      color: var(--color-text-primary);
      height: 50px;
      text-align: center;
      border: 1px solid var(--border-line-color);
      border-bottom: none;
      border-right: none;
      line-height: 50px;
    }
    .special{
      box-sizing: border-box;
      flex:1;
      font-size: 16px;
      color: var(--color-text-primary);
      height: 50px;
      text-align: center;
      border: 1px solid var(--border-line-color);
      border-bottom: none;
      border-right: none;
      line-height: 50px;
      background: #ededed;
    }
  }
}

.title{
  color: var(--color-text-primary);
  font-size: 20px;
  padding: 16px;
  margin-top: 16px;
}

.payList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  .payListItem{
    border: var(--border-border);
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 49px;
    font-size: 50px;
    border-radius: 5px;
    flex-shrink: 0;
    &:not(:last-child) {
      // margin-right: 8px;
    }

    &.curr{
      border-color: #C5C6CA;
    }
    &.activation{
      border-color: #C5C6CA;
    }
  }
  .payListItem01 {
    border: var(--border-border);
    width: 46px;
    height: 49px;
    text-align: center;
    line-height: 69px;
    font-size: 50px;
    &:not(:last-child) {
      // margin-right: 8px;
    }

    &.curr{
      border-color: #C5C6CA;
    }
    &.activation{
      border-color: #C5C6CA;
    }
  }
}

.paypwdDialogContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  .paypwdTitle {
    font-size: 20px;
  }
  .paypwdAmount {
    font-size: 26px;
    font-weight: bold;
    margin: 32px 0 40px;
  }
  .paypwdMesg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }
  .walletIcon {
    color: var(--color-primary2);
    margin-right: 8px;
  }
  .paypwdDivider {
    margin: 18px 0 8px
  }
  .payBoxCloseIcon {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 40px;
    height: 40px;
    // background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8590A6;
    cursor: pointer;
  }
}
