@import '@common/styles/variable/index.scss';
@import '@common/styles/mixin/index.scss';

.dialogPaymentWrapper {
  width: 100%;
  min-height: 500px;
}

.keyboard{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1111;
  background-color: #fff;
  .line{
    display: flex;
    align-items: center;
    .column{
      box-sizing: border-box;
      flex:1;
      font-size: 20px;
      color: var(--color-text-primary);
      height: 50px;
      text-align: center;
      border: 1px solid var(--border-line-color);
      border-bottom: none;
      border-right: none;
      line-height: 50px;
    }
    .special{
      box-sizing: border-box;
      flex:1;
      font-size: 16px;
      color: var(--color-text-primary);
      height: 50px;
      text-align: center;
      border: 1px solid var(--border-line-color);
      border-bottom: none;
      border-right: none;
      line-height: 50px;
      background: #ededed;
    }
  }
}

.title{
  color: var(--color-text-primary);
  font-size: 20px;
  padding: 16px;
  margin-top: 16px;
}

.payList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  .payListItem{
    border-bottom: var(--border-border);
    width: 46px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    font-size: 50px;
    &:not(:last-child) {
      margin-right: 8px;
    }

    &.curr{
      border-bottom-color: #C5C6CA;
    }
    &.activation{
      border-bottom-color: #C5C6CA;
    }
  }
  .payListItem01 {
    border: var(--border-border);
    width: 46px;
    height: 49px;
    text-align: center;
    line-height: 69px;
    font-size: 50px;
    &:not(:last-child) {
      margin-right: 8px;
    }

    &.curr{
      border-color: #C5C6CA;
    }
    &.activation{
      border-color: #C5C6CA;
    }
  }
}
