@import '@common/styles/variable/index.scss';
@import '@common/styles/fn/rem.scss';

.container {
  width: rem(364);
  height: rem(150);
  border-radius: rem(5);
  background: var(--color-white);
  margin: 0 auto;
  .deleteTips {
    color: var(--color-text-primary);
    .tips {
      width: 100%;
      font-weight: 600;
      font-size: rem($font-size-middle);
      line-height: rem(20);
      text-align: center;
      padding-top: rem($padding-5n);
    }
    .content {
      width: 100%;
      font-weight: normal;
      font-size: rem($font-size-primary);
      line-height: rem($font-line-height-middle);
      text-align: center;
      padding: rem(10) 0;
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: rem($font-size-primary);
    line-height: rem(36);
    text-align: center;

    .close {
      width: rem(116);
      height: rem(36);
      background: $button-info-bg-color;
      margin-right: rem($margin-5n);
      border: none;
    }

    .ok {
      width: rem(116);
      height: rem(36);
    }
  }
}

.button {
  width: 100%;
}
