@import '@common/styles/mixin/login.scss';
@import '@common/styles/index.scss';
.container {
  height: 100vh;
}
.banner {
  @include banner;
}
.content {
  @include content;
  .button {
    @include button;
  }
  .input {
    @include input;
    @include passwordInput;
  }
  .title {
    @include title;
  }
  .functionalRegion {
    @include functionalRegion;
  }
  .tips{
    @include titleTips;
    margin-bottom: 0;
  }
}
