@import '@common/styles/index.scss';
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $margin-4n 0 $margin-2n;
}
.userImg {
  @include cursor-on-pc;
  display: flex;
  align-items: center;
  .numText {
    line-height: 24px;
    font-size: $font-size-label;
    color: #8490a6;
    margin-left: $margin-2n;
  }
}
.commentSharing {
  @include cursor-on-pc;
  display: flex;
  .division {
    line-height: 24px;
    font-size: $font-size-label;
    color: #8490a6;
    margin: 0 $padding-base;
  }
  .commentNum {
    line-height: 24px;
    font-size: $font-size-label;
    color: #8490a6;
  }
}
.users {
  margin: 0;
}

.operation {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: $border-color solid 1px;
  box-sizing: border-box;
}
.operations {
  height: 52px;
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: space-between;
  border-top: $border-color solid 1px;
  box-sizing: border-box;
}
.fabulous {
  @include cursor-on-pc;
  display: flex;
  align-items: center;
  padding: $padding-10 0;
  .fabulousIcon {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-primary;
  }
  .fabulousPost {
    margin-left: $margin-2n;
    font-size: $font-size-primary;
    color: $text-color-secondary;
    height: 35px;
    display: flex;
    align-items: center;
  }
  .fabulousCancel {
    margin-left: $margin-2n;
    font-size: $font-size-primary;
    color: $primary-color;
    height: 35px;
    display: flex;
    align-items: center;
  }
  :global{
    .like, .share{
      position: relative;
      top: -1px;
    }
  }
  .icon {
    color: $text-color-secondary;

    &.likedColor {
      color: $primary-color;
    }
    &.dislikedColor {
      color: $text-color-secondary;
    }
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
  :global {
    .dzq-icon {
      cursor: none;
    }
  }
}