@import '@common/styles/index.scss';

.examine {
  width: 100%;
  height: rem(52);
  background: var(--color-warn9);
  text-align: center;
  line-height: rem(52);
  position: absolute;
  top: rem(60);
  display: none;
  z-index: $zindex-backtotop;

  .innerTip {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .tipsIcon {
      color: $warn-color;
      vertical-align: middle;
    }
  
    .tipsText {
      margin-left: rem($margin-2n);
      font-size: $font-size-base;
      text-align: left;
      color: $warn-color;
    }
  }

}

.inTop {
  display: block;
  transition: all 2s;
  // TODO: 更换token
  opacity: 1;
}
.outTop {
  transition: all 2s;
  // TODO:
  opacity: 0;
}

