@import '@common/styles/index.scss';

.container {
  padding: rem($padding-4n) 0;
  text-align: center;
  color: var(--color-text-placeholder);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  height: rem(116);
  line-height: rem(116);
  font-size: rem($font-size-primary);
  color: var(--color-text-placeholder);
}