@import '@common/styles/index.scss';

.contianer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.image {
  width: rem(13);
  height: rem(18);
}

.text {
  font-size: rem($font-size-primary);
  text-align: left;
  color: var(--color-text-primary);
  margin-left: rem($margin-2n);
}

.number {
  color: var(--color-error);
}