@import '@common/styles/index.scss';

.collectBox {
  background-color: var(--background-color);
}
.titleBox {
  width: 100%;
  height: rem(53);
  box-sizing: border-box;
  background-color: var(--color-white);
  font-size: rem($font-size-primary);
  color: $text-color-regular;
  padding: 0 rem($padding-4n);
  line-height: rem(53);
  margin-bottom: rem(10);
  box-sizing: border-box;
}
.list {
  flex: 1;
  background-color: var(--background-color);
}
.listItem {
  margin-bottom: rem(10);
  position: relative;
}
.listItemBox {
  width: rem(20);
  height: rem(20);
  right: rem(16);
  top: rem(16);
  position: absolute;
  .listItemIcon {
    color: var(--color-primary);
  }
}