@import '@common/styles/index.scss';
.searchWrap {
  background-color: $comment-bg-color;
  width: 100%;
  height: 100vh;
  .searchContent {
    width: 100%;
  }
  .section {
    padding: 0 rem($padding-6n);
    background: var(--color-white);
    border-radius: rem($border-radius-small);
    box-shadow: 0 0 rem($padding-2n) rgba(241, 243, 244, 0.16);
    margin-bottom: rem($margin-10);
  }
  .searchRight {
    width: 100%;
  }
}

