@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.indexImage {
  cursor: pointer;
  .imageBox {
    width: 100%;
    .images1 {
      width: 100%;
      height: rem(260);
      margin: 0 auto;
      .imagesBox1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .images2 {
      width: 100%;
      height: rem(260);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .imagesBox2 {
        display: block;
        width: 49.8%;
        object-fit: cover;
      }
    }
    .images3 {
      display: flex;
      width: 100%;
      height: rem(260);
      margin: 0 auto;
      flex-wrap: wrap;
      .imagesTop3 {
        width: 100%;
        height: rem(128);
        .imagesTopData3 {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .imagesBotom3 {
        width: 100%;
        height: rem(126);
        display: flex;
        justify-content: space-between;
        .imagesBotomData3 {
          flex-basis: calc(50% - 2px);
          height: rem(126);
          position: relative;
          .imagesBotomDataPath3 {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .images4 {
      display: flex;
      width: 100%;
      height: rem(260);
      margin: 0 auto;
      overflow: hidden;
      justify-content: space-around;
      .imagesTop4 {
        flex-basis: calc(60% - 5px);
        height: rem(260);
        .imagesTopData4 {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .imagesBotom4 {
        width: 40%;
        height: rem(260);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .imagesBotomData4 {
          width: 100%;
          height: rem(84);
          .imagesBotomDataPath4 {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .images5 {
      display: flex;
      width: 100%;
      height: rem(260);
      margin: 0 auto;
      flex-wrap: wrap;
      .imagesTop5 {
        width: 100%;
        height: rem(126);
        display: flex;
        justify-content: space-around;
        .imagesTopData5 {
          display: block;
          flex-basis: calc(50% - 5px);
          height: 100%;
          object-fit: cover;
        }
      }
      .imagesBotom5 {
        width: 100%;
        height: rem(111);
        display: flex;
        justify-content: space-around;
        .imagesBotomData5 {
          flex-basis: calc(33.33% - 5px);
          height: rem(111);
          position: relative;
          .imagesBotomDataPath5 {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .modalBox {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #666;
            opacity: 0.5;
            top: 0;
            text-align: center;
            line-height: rem(111);
            .imgSpan {
              font-size: rem($font-size-large);
              color: var(--color-white);
            }
          }
        }
      }
    }
  }
}
