@import '@common/styles/index.scss';

.container {
  width: 100%;
  background-color: var(--color-white);
  box-sizing: border-box;
  .header {
    font-size: $font-size-middle;
    color: var(--color-text-primary);
    display: flex;
    align-items: center;
  }

  .spinner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color-placeholder;
    height: 60px;
  }
}

.containerPC {
  border-radius: $border-radius-small;
}

.bottom {
  margin-bottom: 10px;
}

.small {
  max-width: 330px;
  padding: 0 $padding-4n;
  .header {
    height: 54px;
  }
}

.containerH5 {
  padding: 0 $padding-4n;
}

.normal {
  max-width: 750px;
  padding: 0 $padding-6n;
  .header {
    height: 70px;
  }
}


