@import '@common/styles/index.scss';
@import '@common/styles/_variable.scss';

.loadMoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: rem(16);
    padding-bottom: rem(16);

    :global {
        .dzq-spin--spinner {
            color: $text-color-placeholder;
        }
    }
}

.userCenterFriends {
    background: $white;
}

.followBody + View {
    margin-bottom: constant(safe-area-inset-bottom); ///兼容 IOS<11.2/
    margin-bottom: env(safe-area-inset-bottom); ///兼容 IOS>11.2/
}