@import '../vars.scss';

.dialogBox {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: auto;
}

.msgTime {
  @include text-font($color: $text-color-secondary);
  display: flex;
  justify-content: center;
  padding-top: $im-gap-btw-icon-and-msg;
  padding-bottom: $im-gap-btw-icon-and-msg;
}

.persona {
  display: flex;
  margin: $padding-4n 0;
}

.profileIcon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: blue;
  width: $im-profile-icon-size;
  height: $im-profile-icon-size;
}

.msgContent {
  display: flex;
  position: relative;
  align-items: center;
  padding: $im-gap-btw-icon-and-msg;
  overflow-wrap: anywhere;
  border-radius: $border-radius-small;

  &:before {
    content: '';
    border: 8px solid;
    border-color: transparent;
    position: absolute;
    top: 10px;
  }
}

.myself {
  flex-direction: row-reverse;
  .msgContent {
    @include text-font;
    margin-left: $im-msg-space-aside;
    margin-right: $im-gap-btw-icon-and-msg;
    background-color: $primary-color;
    &:before {
      border-left-color: $primary-color;
      right: -13px;
    }
  }
}

.itself {
  flex-direction: row;
  .msgContent {
    @include text-font($color: $text-color-primary);
    margin-right: $im-msg-space-aside;
    margin-left: $im-gap-btw-icon-and-msg;
    background-color: $white;
    &:before {
      border-right-color: $white;
      left: -13px;
    }
  }
}
