@import '../vars.scss';

.dialogBox {
  @include im-pagebed;
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: auto;
}

.msgTime {
  @include im-pagebed;
  @include text-font($color: var(--color-text-secondary));
  display: flex;
  justify-content: center;
  padding-top: $im-gap-btw-icon-and-msg;
  padding-bottom: $im-gap-btw-icon-and-msg;
}

.persona {
  display: flex;
  margin: var(--padding-3n) 0;
}

.profileIcon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: blue;
  width: $im-profile-icon-size;
  height: $im-profile-icon-size;
}

.msgContent {
  display: flex;
  position: relative;
  align-items: center;
  padding: $im-gap-btw-icon-and-msg;
  overflow-wrap: anywhere;
  border-radius: var(--border-radius-small);

  &:before {
    content: '';
    border: 8px solid;
    border-color: transparent;
    position: absolute;
    top: 10px;
  }
}

.myself {
  flex-direction: row-reverse;
  .msgContent {
    @include text-font;
    margin-left: $im-msg-space-aside;
    margin-right: $im-gap-btw-icon-and-msg;
    background-color: var(--color-primary);
    &:before {
      border-left-color: var(--color-primary);
      right: -13px;
    }
  }
}

.itself {
  flex-direction: row;
  .msgContent {
    @include text-font($color: var(--color-text-primary));
    margin-right: $im-msg-space-aside;
    margin-left: $im-gap-btw-icon-and-msg;
    background-color: var(--color-white);
    &:before {
      border-right-color: var(--color-white);
      left: -13px;
    }
  }
}
