@import '@common/styles/index.scss';

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--background-color-text2);
}
.searchInput {
  background: var(--color-white);
  padding: 16px;
}
.listItem {
  margin-bottom: 10px;
}
