@import '@common/styles/index.scss';


.list {
  flex: 1;
  background-color: var(--background-color);
}
.listItem {
  margin-bottom: 10px;
}

.topBox {
  padding-bottom: 16px;
  background: $white;
  margin-bottom: 10px;
  
}