@import '@common/styles/index.scss';
.replyList {
  display: flex;
  padding-top: $padding-4n;
  .replyListAvatar {
    margin-right: $margin-2n;
  }
  .replyListContent {
    width: 100%;
    .replyListContentText {
      padding: $padding-2n;
      border-radius: $border-radius-small;
      background: $body-bg-color;
      .replyListName {
        font-size: $font-size-primary;
        font-weight: bold;
        line-height: 20px;
        text-align: left;
        color: var(--color-text-primary);
      }
      .replyListText {
        margin-top: $margin-1n;
        font-size: $font-size-middle;
        text-align: left;
        color: var(--color-text-primary);
        width: 100%;
        word-break: break-all;
        line-height: $font-line-height-middle;

        .content {
          display: inline;
          font-weight: normal;
          font-size: $font-size-middle;
          line-height: 26px;
          text-align: left;
          color: $text-color-primary;
          vertical-align: text-bottom;

          :global {
            .qq-emotion {
              width: 22px;
              height: 22px;
              position: relative;
              top: 6px;
            }
          }

          View {
            display: inline;
          }
          .p {
            display: inline;
          }
        }

        .isShowOne {
          @include lamp-clamp(3);

          p {
            @include lamp-clamp(3);
          }
        }

        img {
          height: 22px;
        }

        .commentUser {
          display: inline-flex;
          word-break: initial;
          align-items: center;
          justify-content: flex-start;
          height: 28px;

          .replyedUserName {
            font-weight: bold;
            font-size: $font-size-primary;
            margin-right: $margin-2n;
            line-height: 18px;
            text-align: left;
            color: var(--color-primary);
          }
          .replyedAvatar {
            display: inline-block;
            margin-right: $margin-1n;

            .avatar {
              width: 18px;
              height: 18px;
              font-size: $font-size-small;
              line-height: 18px;
            }
          }
        }
      }
    }
    .replyListFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: $font-size-primary;
      line-height: 16.8px;
      text-align: left;
      color: var(--color-text-secondary);
      padding-top: $padding-2n;
      .replyTime {
        // flex: 1;
        font-size: $font-size-label;
      }
      .replyLiked {
        // flex: 1;
      }
      .replyLike {
        // flex: 1;
        color: var(--color-primary);
      }
      .replyReply {
        // flex: 1;
      }
      .replyDelete {
        // flex: 1;
      }
    }
  }

  .extraBottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > View {
      margin-left: $margin-6n;
    }
  }
}
