@import '@common/styles/index.scss';
.replyList {
  display: flex;
  padding-top: $padding-4n;
  .replyListAvatar {
    margin-right: $margin-2n;
    margin-top: $margin-1n;
  }
  .replyListContent {
    width: 100%;
    .replyListContentText {
      padding: $padding-2n rem($padding-3n);
      border-radius: $border-radius-small;
      background: $body-bg-color;

      &.active {
        background: $primary-color10;
      }

      .replyListName {
        display: flex;
        justify-content: space-between;
        .userInfo {
          display: flex;
          .replyListName {
            max-width: 100px;
            font-size: $font-size-primary;
            font-weight: bold;
            line-height: 20px;
            text-align: left;
            color: $text-color-primary;
            @include text-ellipsis();
          }
          .groups {
            color: var(--color-text-secondary);
            font-size: $font-size-label;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            padding-left: $padding-2n;
            line-height: 20px;
          }
        }
        .isApproved {
          font-size: $font-size-primary;
          color: $error-color;
          line-height: rem(20);
        }
      }
      .replyListText {
        margin-top: $margin-1n;
        font-size: $font-size-middle;
        text-align: left;
        color: $text-color-primary;
        width: 100%;
        word-break: break-all;
        line-height: $font-line-height-middle;

        .content {
          display: inline !important;
          font-weight: normal;
          font-size: $font-size-middle;
          line-height: 26px;
          text-align: left;
          color: $text-color-primary;
          vertical-align: text-bottom;
          word-break: break-all;

          :global {
            .qq-emotion {
              width: rem(22);
              height: rem(22);
            }

            .dzq-p {
              margin-bottom: 0;
            }
          }
        }

        .commentUser {
          display: inline-flex;
          word-break: initial;
          align-items: center;
          justify-content: flex-start;
          height: 28px;
          position: relative;
          top: 3px;

          .replyedUserName {
            max-width: 100px;
            font-weight: bold;
            font-size: $font-size-primary;
            margin-right: $margin-2n;
            line-height: 18px;
            text-align: left;
            color: $primary-color;
            @include text-ellipsis();
          }
          .replyedAvatar {
            display: inline-block;
            margin-right: $margin-1n;

            .avatar {
              width: 18px;
              height: 18px;
              font-size: $font-size-small;
              line-height: 18px;
            }
          }
        }
      }

      .imageDisplay {
        margin-top: $margin-2n;
      }
    }
    .replyListFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: $font-size-primary;
      line-height: 16.8px;
      text-align: left;
      color: $text-color-secondary;
      padding-top: $padding-2n;
      .replyTime {
        // flex: 1;
        font-size: $font-size-label;
      }
      .replyLiked {
        // flex: 1;
      }
      .replyLike {
        // flex: 1;
        color: $primary-color;
      }
      .replyReply {
        // flex: 1;
      }
      .replyDelete {
        // flex: 1;
      }
    }
  }

  .extraBottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > View {
      margin-left: $margin-6n;
    }
  }
}
