@import '@common/styles/index.scss';

.container {
  box-sizing: content-box;
  width: rem(361);
  height: rem(316);
  margin: 0 auto;
  border-radius: rem(5);
  background: var(--color-white);
  padding: rem($padding-6n);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: rem(12);

  .title {
    font-family: 'PingFang SC';
    font-weight: 600;
    font-size: rem($font-size-middle);
    text-align: left;
    color: var(--color-text-primary);
    padding-left: rem($padding-4n);
  }
}

.availableAmount {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: rem($padding-6n);
  .text {
    font-family: 'PingFangSC-Regular';
    font-weight: normal;
    font-size: rem($font-size-primary);
    text-align: left;
    color: var(--pc-user-info-title);
    padding: rem(12) 0;
    opacity: 1;
  }
  .moneyNum {
    font-family: 'PingFang SC';
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    color: var(--color-text-primary);
  }
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  :global {
    .dzq-button {
      width: rem(248);
      height: rem(36);
    }
  }
}