@import '@common/styles/index.scss';
.dzq-emoji {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  margin: 0 rem(16);
  padding: rem(5) 0;
  height: rem(175);
  border-radius: rem(5);
  border: 1px solid rgba($color: #eee, $alpha: 0.75);
  background-color: var(--color-white);
  &__icon {
    margin: 0 rem(8);
    width: rem(30);
    height: auto;
  }
  &__slide {
    height: rem(145);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}