
@import '@common/styles/index.scss';
.popup{
  max-height: 90%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.container {
  box-sizing: border-box;
  padding: rem(25) rem(15) rem(16);
  background-color: var(--color-white);
  border-top-right-radius: rem($border-radius-small);
  border-top-left-radius: rem($border-radius-small);
  position: relative;
  .containerIcon {
    position: absolute;
    right: rem(16);
    top: rem(25);
  }
  .searchIcon {
    color: var(--color-text-secondary);
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(10);
  }
  .childrenWrapper {
    border-top: 1px solid var(--border-line-color);
    margin-top: rem(6);
    padding-top: rem(16);
  }

  .title {
    font-weight: 600;
    font-size: rem($font-size-middle);
    line-height: 24px;
    text-align: left;
    color: var(--color-text-primary);
    margin-bottom: rem(16);
  }

  .span {
    font-size: rem($font-size-primary);
    width: rem(76);
    height: rem(36);
    line-height: rem(36);
    text-align: center;
    border-radius: rem($border-radius-small);
    background: var(--background-color-text2);
    margin-right: rem(10);
    margin-bottom: rem(10);
  }

  .active {
    background: var(--color-primary);
    color: var(--color-white);
  }

  .childrenActive {
    background: var(--color-primary10);
    color: var(--color-primary);
  }


}

.footer {
  background-color: var(--color-white);
  text-align: center;
  .button {
    width: rem(290);
    height: rem(42);
    margin-bottom: rem(24);
    display: inline-block;
  }
  .footerBtn {
    border-top: 1px solid var(--border-line-color);
    position: relative;
    height: rem(54);
    text-align: center;
    line-height: rem(54);
    font-size: rem($font-size-primary);
  }
}