@import '@common/styles/index.scss';

.container {
  overflow: hidden;

  .wrapper {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-y: overlay;
  }
}

.refreshView {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: $text-color-placeholder;
  .spin {
    margin-right: 4px;
  }
}
