@import '@common/styles/index.scss';
@import '@common/styles/_variable.scss';

// 金额确认标题
.amountTitle {
  font-weight: var(--font-weight-regular);
  font-size: rem($font-size-middle);
  color: $text-color-primary;
  text-align: center;
}
// 金额确认主要内容
.amountContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: rem($margin-4n) 0 0;
  font-size: rem($font-size-primary);
  // 交易内容item
  .acExplain {
    display: flex;
    align-items: center;
    line-height: rem($font-line-height-large);
    margin: rem($margin-2n) 0;
    font-size: rem($font-size-primary);
    color: $text-color-primary;
  }
  // 交易类型label提示
  .acExplainLabel{
    color: var(--color-text-regular);
    margin-right: rem($margin-4n);
    flex-shrink: 0;
  }
  // 交易内容value
  .acExplainValue {
    color: $text-color-primary;
    flex-wrap: nowrap;
    @include text-ellipsis();
  }
  .acExplainNum {
    color: var(--color-error);
    font-size: rem($font-size-middle);
    font-weight: 600;
  }
  .acExplainDivider {
    margin: rem($margin-2n) 0;
  }
  .ampuntLineWrap {
    margin: 0 rem(-$margin-4n);
  }
  .ampuntLine {
    width: 100%;
    height: rem(10);
    background-color: var(--comment-content-bg-color);
    margin: rem($margin-2n) 0;
  }
}

.title{
  color: var(--color-text-primary);
  font-size: rem($font-size-large);
  padding: rem($padding-4n);
  margin-top: rem($margin-4n);
}

.payList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  

  .payListItem{

    &:first-child {
      border-radius: 5px 0 0 5px;
    }
  
    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    border-bottom: var(--border-border);
    width: rem(40);
    height: rem(40);
    text-align: center;
    line-height: rem(40);
    font-size: rem(50);
    &:not(:last-child) {
      // margin-right: rem($margin-2n);
    }

    &.curr{
      border-bottom-color: #C5C6CA;
    }
    &.activation{
      border-bottom-color: #C5C6CA;
    }
  }
  
  .payListItem01 {
    border: var(--border-border);
    width: rem(40);
    height: rem(40);
    text-align: center;
    line-height: rem(40);
    font-size: rem($font-size-large);
    color: $text-color-primary;
    &:not(:last-child) {
      // margin-right: rem($margin-2n);
    }

    &.curr{
      border-color: #C5C6CA;
    }
    &.activation{
      border-color: #C5C6CA;
    }
  }
}
.amountContentPC {
  margin: rem($margin-6n) 0 rem($margin-6n);
  .acExplain {
    line-height: rem($font-line-height-base);
  }
}