@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
@import '@common/styles/mixin/index.scss';

// 金额确认标题   
.amountTitle {
  font-weight: bold;
}
// 金额确认主要内容
.amountContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: rem($margin-6n) 0;
  font-size: rem($font-size-middle);
  // 交易内容item
  .acExplain {
    display: flex;
    align-items: center;
    line-height: rem($font-line-height-large);
    margin: rem($margin-2n) 0;
  }
  // 交易类型label提示
  .acExplain_label{
    color: var(--color-disabled);
    margin-right: rem($margin-4n);
    flex-shrink: 0;
  }
  // 交易内容value
  .acExplain_value {
    flex-wrap: nowrap;
    @include text-ellipsis();
  }
  .acExplain_hr {
    color: var(--color-disabled5);
  }
}