@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.list {
  width: 100%;
  background: var(--color-white);
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: rem(36);
    cursor: pointer;
    font-family: "PingFang SC";
    .prefix {
      font-size: rem($font-size-primary);
      font-weight: normal;
      line-height: rem($font-line-height-primary);
      color: var(--color-text-secondary);
      margin-right: rem($padding-4n);
      word-break: keep-all;
    }
    .title {
      font-size: rem($font-size-primary);
      line-height: rem($font-line-height-primary);
      color: var(--color-text-primary);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .itemBorder {
    box-sizing: border-box;
    border-bottom: rem(1) solid var(--border-line-color);
  }
  .item:last-child {
    border-bottom: none !important;
  }
}
