@import '@common/styles/mixin/login.scss';
@import '@common/styles/fn/rem.scss';
.container {
  height: 100vh;
}
.banner {
  @include banner;
}

.content {
  padding: rem(48) rem(24);
  .title {
    @include title;
  }
  .input {
    @include input;
    @include passwordInput;
  }
  .button {
    @include button;
  }
  .functionalRegion {
    @include functionalRegion;
  }
  .otherLogin-title {
    @include otherLoginText;
    margin-top: rem(123);
    font-size: rem(14);
  }
  .otherLogin-button{
    text-align: center;
    margin: rem(16);
  }
  .otherLogin-button-weixin {
    @include otherLoginBtn;
  }
  .otherLogin-button-phone {
    @include otherLoginBtn;
  }
  .otherLogin-tips{
    @include otherLoginText;
    margin-top: rem(32);
  }
}

// ------------------PC
.pc_body_background{
  @include pc_body_background;
}
.pc_container {
  @include pc_container;
}
.pc_content {
  width: 300px;
  margin: 20px auto 0;
  .pc_title {
    font-family: 'PingFang SC';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #0b0b37;
    text-align: center;
    padding-bottom: 32px;
  }
  .pc_input {
    width: 300px;
    margin-bottom: 24px;
  }
  .pc_button {
    @include pc_button;
  }
  .pc_functionalRegion {
    @include pc_functionalRegion;
  }
  .pc_otherLogin_title {
    @include pc_otherLoginText;
    font-size: 14px;
  }
  .pc_otherLogin_button{
    margin: 16px;
    .button_left {
      @include pc_otherLoginBtn;
    }
    .button_right{
      @include pc_otherLoginBtn;
    }
  }
  .pc_otherLogin_tips{
    @include pc_otherLoginText;
  }
  .tips {
    @include pc_tips;
  }
}
