@import '@common/styles/index.scss';
.friendsWrapper {
  overflow: hidden !important;
}

.followsWrapper {
  padding-top: rem(8);
  padding-bottom: rem(8);
}
.borderRadius {
  border-radius: $border-radius-small;
}