@import '@common/styles/index.scss';
.friendsWrapper {
  overflow: hidden !important;
}

.friendsWrapperScroll {
  overflow: auto !important;

  &::-webkit-scrollbar {
    display: none;
  }
}

.followsWrapper {
  padding-top: rem(8);
  padding-bottom: rem(8);
}
.borderRadius {
  border-radius: $border-radius-small;
}