@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.page {
  height: 100vh;
  display: flex;
  padding-top: rem($padding-4n);
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  .list {
    flex: 1;
  }
}
.searchInput {
  padding: 0 rem($padding-4n);
  margin-bottom: rem($padding-4n);
}