@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-secondary);
  padding: 16px;
  font-size: 14px;
  .icon {
    color: var(--color-disabled4);
  }
}
.cancel {
  margin-left: 16px;
  font-size: var(--font-size-primary);
  line-height: var(--font-line-height-primary);
  color: var(--color-text-secondary);
  word-break: keep-all;
}
