@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.keyboard{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1111;
  background-color: #fff;
  .line{
    display: flex;
    align-items: center;
    .column{
      box-sizing: border-box;
      flex: 1;
      font-size: rem($font-size-large);
      color: var(--color-text-primary);
      height: rem(50);
      text-align: center;
      border: 1px solid var(--border-line-color);
      border-bottom: none;
      border-right: none;
      line-height: rem(50);
    }
    .special{
      box-sizing: border-box;
      flex: 1;
      font-size: rem($font-size-middle);
      color: var(--color-text-primary);
      height: rem(50);
      text-align: center;
      border: 1px solid var(--border-line-color);
      border-bottom: none;
      border-right: none;
      line-height: rem(50);
      background: #ededed;
    }
  }
}
.paypwdDialogWrapper {
  :global {
    .dzq-modal__container {
      width: 80%;
      top: 36%;
    }
  }
}
.paypwdDialogContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  .paypwdTitle {
    font-size: rem(20);
  }
  .paypwdAmount {
    font-size: rem(26);
    font-weight: bold;
    margin: rem(32) 0 rem(40);
  }
  .paypwdMesg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: rem(18);
  }
  .walletIcon {
    color: var(--color-primary2);
    margin-right: rem($margin-2n);
  }
  .paypwdDivider {
    margin: rem(18) 0 rem(8);
  }
  .payBoxCloseIcon {
    position: absolute;
    right: rem(22);
    top: rem(20);
    width: rem(40);
    height: rem(40);
    // background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8490A8;
    cursor: pointer;
  }
}