@import '@common/styles/index.scss';

.keyboard{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2000;
  background-color: var(--color-white);
  .line{
    display: flex;
    align-items: center;
    .column{
      box-sizing: border-box;
      flex: 1;
      font-size: rem($font-size-large);
      color: var(--color-text-primary);
      height: rem(50);
      text-align: center;
      border: 1px solid var(--border-line-color);
      border-bottom: none;
      border-right: none;
      line-height: rem(50);
    }
    .special{
      box-sizing: border-box;
      flex: 1;
      font-size: rem($font-size-middle);
      color: var(--color-text-primary);
      height: rem(50);
      text-align: center;
      border: 1px solid var(--border-line-color);
      border-bottom: none;
      border-right: none;
      line-height: rem(50);
      background: #ededed;
    }
  }
}
.paypwdDialogWrapper {
  :global {
    .dzq-modal__container {
      width: 80%;
      top: 36%;
      box-sizing: border-box;
      border-radius: $border-radius-small;
    }

    .dzq-checkbox-wrap {
      padding: 0;
    }
  }

  :global {
    .dzq-modal__body {
      padding: 0;
    }
  }

  line-height: 21px;
}
.paypwdDialogContent {
  display: flex;
  align-items: center;
  flex-direction: column;

  .paypwdTitle {
    font-size: rem($font-size-middle);
    color: $text-color-primary;
    margin-top: rem(8);
  }
  .paypwdAmount {
    font-size: rem($font-line-height-large);
    font-weight: bold;
    margin: rem($margin-4n) 0;
  }
  .paypwdMesg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: rem(18);
    margin-bottom: rem($margin-4n);
    font-size: rem($font-size-base);
    .payLabel {
      color: $text-color-regular;
    }
  }
  .walletIcon {
    color: var(--color-primary2);
    margin-right: rem($margin-2n);
  }
  .paypwdDivider {
    margin: 0 0 rem($margin-4n);
  }
  .payBoxCloseIcon {
    position: absolute;
    right: rem(24);
    top: rem(20);
    // width: rem(40);
    // height: rem(40);
    // background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8590A6;
    cursor: pointer;
    :global {
      .dzq-icon {
        font-size: rem($font-size-primary) !important;
      }
    }
  }
}

.forgetPasswordContainer {
  width: 100%;
  margin-top: rem(16);
  margin-bottom: rem(8);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  span {
    color: #4F5A70;
  }
}