@import '@common/styles/index.scss';


.page {
  //background: $body-bg-color;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  .icon {
    margin-top: 120px;
    width: 80px;
    height: 105px;
  }
  .text {
    padding: 0 40px;
    margin-top: 24px;
    font-weight: normal;
    font-size: $font-size-primary + px;
    line-height: $font-line-height-primary + px;
    text-align: center;
    color: $text-color-secondary;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-top: $border-solid-1;
    .button {
      width: 100%;
      height: 42px;
    }
  }
}
