// TODO: 除颜色和字体以外，其它变量需要逐步移动到scss变量中
// TODO: 颜色待和董琳对接
$light: (
  --color-primary: #2469f6,
  --color-primary2: #3978f7,
  --color-primary3: #5087f8,
  --color-primary4: #6596f9,
  --color-primary5: #7ca5fa,
  --color-primary6: #91b4fa,
  --color-primary7: #a7c3fb,
  --color-primary8: #bdd2fc,
  --color-primary9: #d3e1fd,
  --color-primary10: #e9f0fe,
  --color-success: #3ac15f,
  --color-success2: #79ca88,
  --color-success3: #abdeb4,
  --color-success4: #ccebd2,
  --color-success5: #eef8f0,
  --color-info: #5087f8, // TODO: 这里的色系和primary有重复，需要确认问题
  --color-info2: #739ff9,
  --color-info3: #a7c3fb,
  --color-info4: #cadbfd,
  --color-info5: #edf3fe,
  --color-error: #e02433,
  --color-error2: #e6505c,
  --color-error3: #ef9199,
  --color-error4: #f6bdc1,
  --color-error5: #fce9ea,
  --color-warn: #ffc300,
  --color-warn2: #f8d069,
  --color-warn3: #fae1a1,
  --color-warn4: #fcedc6,
  --color-warn5: #fef9ec,
  --color-disabled: #c5c6cb,
  --color-disabled2: #d0d1d5,
  --color-disabled3: #dcdde0,
  --color-disabled4: #e8e8ea,
  --color-disabled5: #f4f4f5,
  --color-white: #fff,
  --color-black: #000,
  --color-orange: #f66524, // 标签里面用到的：悬赏、付费等

  --border-line-color: #eee,
  --border-color-hover: #c5c6ca,

  --shadow-color: #c5c9d5,
  --shadow-color2: #f1f3f4,

  --color-text-primary: #0b0b37,
  --color-text-regular: #4f5a70,
  --color-text-secondary: #8590a6,
  // 董琳说 8490a8 对应的应该是 8590a6
  --color-text-placeholder: #c5c6cb, // border hover 的颜色还有 loading 文字和这个一致

  --background-color: #f6f7f9,
  --background-color-text: #f9fafb,
  --background-color-text2: #eff1f3,
  --background-color-text3: #f5f7f8,
  --mask-background-color: rgba(51, 51, 51, 0.3),

  // 评论相关
  --comment-box-bg-color: #f5f7f8,
  --comment-content-bg-color: #f4f6f7, // TODO: 董琳找不着，需要相关人处理一下，如果找的到对应的设计稿颜色，找一下董琳和邹玉薇

  // 加载文字颜色
  --loading-font-color: #c4c9d6, // TODO: 待去掉

  // TODO: 待去掉
  --border-border: 1px solid #eee,
  // TODO: 待去掉

  --border-color-dotted-border: 1px dashed #eee,
  // TODO: 待去掉

  // TODO: 下面的部分待移除
  --font-size-label: 12px,
  --font-size-primary: 14px,
  --font-size-middle: 16px,
  --font-size-large: 20px,

  --font-line-height-small: 22px,
  --font-line-height-primary: 24px,
  --font-line-height-middle: 26px,
  --font-line-height-large: 30px,

  --font-weight-light: 400,
  --font-weight-regular: 600,
  --font-weight-bold: 800,

  --box-shadow: 0 0 8px 0 #f1f3f4,

  --border-radius-small: 5px,
  --borde0a0s-cir0: 50%,
  --border-radius-zero: 0,

  --zindex-normal: 0,
  --zindex-backtotop: 1000,
  --zindex-too0p: 1200,
  --zindex-popup: 1400,
  --zindex-dialog: 1600,
  --zindex-toast: 1800,



  --padding-1n: 4px,
  --padding-2n: 8px,
  --padding-4n: 16px,
  --padding-5n: 20px,
  --padding-6n: 24px,
  --padding-5: 5px,
  --padding-10: 10px,
  --margin-1n: 4px,
  --margin-2n: 8px,
  --margin-4n: 16px,
  --margin-5n: 20px,
  --margin-6n: 24px,
  --margin-5: 5px,
  --margin-10: 10px,
);
