// TODO: 除颜色和字体以外，其它变量需要逐步移动到scss变量中
// TODO: 颜色待和董琳对接
$light: (
  --color-primary: #2469f6,
  --color-primary2: #3977f6,
  --color-primary3: #4f87f7,
  --color-primary4: #6595f8,
  // button disabled
  --color-primary5: #7ba5f9,
  --color-primary6: #91b3fa,
  --color-primary7: #a7c3fb,
  --color-primary8: #bcd1fc,
  --color-primary9: #d3e1fd,
  --color-primary10: #e8f0fe,
  --color-primary20: #0545c8,

  --color-success: #3ac15f,
  --color-success2: #4dc76e,
  --color-success3: #61cd7f,
  --color-success4: #74d38e,
  --color-success5: #88da9f,
  --color-success6: #9ce0ae,
  --color-success7: #b0e6bf,
  --color-success8: #c3ecce,
  --color-success9: #d7f3df,
  --color-success10: #ebf9ef,

  --color-info: #5087f8, // TODO: 这里的色系和primary有重复，需要确认问题
  --color-info2: #739ff9,
  --color-info3: #a7c3fb,
  --color-info4: #cadbfd,
  --color-info5: #edf3fe,

  --color-error: #e02433,
  --color-error2: #e33947,
  --color-error3: #e64f5b,
  --color-error4: #e9656f,
  --color-error5: #ec7b84,
  --color-error6: #ef9198,
  --color-error7: #f3a7ad,
  --color-error8: #f6bcc1,
  --color-error9: #f9d3d6,
  --color-error10: #fce8ea,

  --color-warn: #ffc300,
  --color-warn2: #ffc819,
  --color-warn3: #ffcf33,
  --color-warn4: #ffd54c,
  --color-warn5: #ffdb66,
  --color-warn6: #ffe17f,
  --color-warn7: #ffe799,
  --color-warn8: #ffedb2,
  --color-warn9: #fff3cc,
  --color-warn10: #fff9e5,

  --color-disabled: #c5c6cb,
  --color-disabled2: #d0d1d5,
  --color-disabled3: #dcdde0,
  --color-disabled4: #e8e8ea,
  --color-disabled5: #f4f4f5,
  --color-white: #fff,
  --color-black: #000,
  --color-h5-copyright: #c5c6ca,

  // 标签里面用到的：悬赏、付费等
  --color-orange: #f66524,
  --color-orange2: #F67439,
  --color-orange3: #F7834F,
  --color-orange4: #F89365,
  --color-orange5: #F9A27B,
  --color-orange6: #FAB191,
  --color-orange7: #FBC1A7,
  --color-orange8: #FCD0BC,
  --color-orange9: #FDE0D3,
  --color-orange10: #FEEFE8,

  --border-line-color: #eee,
  --border-color-hover: #c5c6ca, // TODO: 待去掉，没用

  --border-color-blockquote: #dbdbdb,

  --shadow-color: #c5c9d5,
  --shadow-color2: #f1f3f4,

  --color-text-primary: #0b0b37,
  --color-text-regular: #4f5a70,
  --color-text-secondary: #8590a6,
  // 董琳说 8490a8 对应的应该是 8590a6
  --color-text-placeholder: #c5c6cb, // border hover 的颜色还有 loading 文字和这个一致
  --color-box-placeholder: #f1f3f4,
  --color-text-blockquote: #6a737d,

  // pc，移动都是统一这个背景色；另外 // 评论框，评论，附件，语音，模块与模块之间的间距背景色
  --background-color: #f5f7f8,

  --background-color-text: #f9fafb,
  // 灰色标签（编辑器付费、红包设置之后的显示的背景色），灰色按钮背景色
  --background-color-text2: #eff1f3,

  --mask-background-color: rgba(0, 0, 0, 0.5), // 遮罩背景统一使用这个

  // 评论相关
  --comment-box-bg-color: #f5f7f8, // TODO: 没用，待去掉
  --comment-content-bg-color: #f4f6f7, // TODO: 董琳找不着，需要相关人处理一下，如果找的到对应的设计稿颜色，找一下董琳和邹玉薇

  // TODO: 待去掉
  --border-border: 1px solid #eee,
  // TODO: 待去掉

  --border-color-dotted-border: 1px dashed #eee,
  // TODO: 待去掉

  // TODO: 下面的部分待移除
  --font-size-label: 12px,
  --font-size-primary: 14px,
  --font-size-middle: 16px,
  --font-size-large: 20px,

  --font-line-height-small: 22px,
  --font-line-height-primary: 24px,
  --font-line-height-middle: 26px,
  --font-line-height-large: 30px,

  --font-weight-light: 400,
  --font-weight-regular: 600,
  --font-weight-bold: 800,

  --box-shadow: 0 0 8px 0 #f1f3f4,

  --border-radius-small: 5px,
  --borde0a0s-cir0: 50%,
  --border-radius-zero: 0,

  --zindex-normal: 0,
  --zindex-backtotop: 1000,
  --zindex-too0p: 1200,
  --zindex-popup: 1400,
  --zindex-dialog: 1600,
  --zindex-toast: 1800,



  --padding-1n: 4px,
  --padding-2n: 8px,
  --padding-3n: 12px,
  --padding-4n: 16px,
  --padding-5n: 20px,
  --padding-6n: 24px,
  --padding-5: 5px,
  --padding-10: 10px,
  --margin-1n: 4px,
  --margin-2n: 8px,
  --margin-3n: 12px,
  --margin-4n: 16px,
  --margin-5n: 20px,
  --margin-6n: 24px,
  --margin-5: 5px,
  --margin-10: 10px,
);
