@import '@common/styles/index.scss';

@mixin img {
  width: rem(18);
  height: rem(18);
  border-radius: 50%;
  border: rem(1) solid var(--color-white);
  background: var(--color-text-secondary);
  display: inline-block;
}

@mixin lineHeight52 {
  line-height: rem(52);
}

.content{
  padding: 0 rem(16);
  .list{
    border-bottom: rem(1) solid var(--border-line-color);
    height: rem(52);
    font-size: rem(14);
    font-weight: normal;
    .label{
      float: left;
      color: #4f5a70;
      @include lineHeight52;
    }
    .right{
      float: right;
      @include lineHeight52;
    }
  }
  .forum_agent{
    @include lineHeight52;
    height: rem(52);
    display: flex;
    align-items: center;
    .forum_agent_img{
      @include img;
    }
    .forum_agent_name{
      padding-left: rem(8);
    }
  }
  .forum_member{
    @include lineHeight52;
    height: rem(52);
    display: flex;
    align-items: center;
    .forum_member_img{
      @include img;
    }
    .forum_member_img:nth-child(2){
      position: relative;
      left: rem(-4);
      z-index: 2;
    }
    .forum_member_img:nth-child(3){
      position: relative;
      left: rem(-8);
      z-index: 3;
    }
    .forum_member_char{
      width: rem(20);
      height: rem(20);
      display: inline-block;
      text-align: center;
      line-height: rem(20);
      border: none;
      color: var(--color-white);
      font-size: rem($font-size-label);
      background: var(--color-text-secondary);
    }
  }
}
.forum_users_list{
  height: '100%';
  overflow: 'scroll';
}
.forum_users_popup {
  height: 60%;
  overflow-y: scroll;
  background: var(--color-white);
}