@import '@common/styles/index.scss';

.wrapper {
  background: $white;
  padding: 0 $padding-4n;

  .wrapper-inner {
    height: rem(73px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $border-solid-1;
  }

  .left {
    margin-right: $margin-2n;
  }

  .center {
    flex: 1;
    font-size: $font-size-middle-extra;
    font-weight: 600;
    line-height: $font-line-height-primary;
    text-align: left;
    color: $text-color-primary;
  }

  .right {
    font-size: $font-size-small;
    line-height: $font-line-height-primary;
    color: $text-color-regular;
  }
}