@import '@common/styles/index.scss';

.container {
  text-align: center;
  padding: rem($padding-6n) 0;
  border-radius: var(--border-radius-small);
}

.initContainer {
  background: var(--color-white);
}

.init {
  font-size: rem($font-size-primary);

  * {
    color: $loading-text-color;
  }
}

.loadMore {
  font-size: rem($font-size-label);

  * {
    color: $loading-text-color;
  }
}
