@import '@common/styles/index.scss';

.listItem {
  @include cursor-on-pc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: $white;

  .wrapper {
    display: flex;
    align-items: center;
    max-width: 75%;
  }

  .header {
    position: relative;
    height: rem(38);
    margin-right: rem(12);
    box-sizing: border-box;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: rem($font-size-primary);
    .title {
      @include lamp-clamp(1);
      color: $text-color-primary;
      line-height: rem(20);
    }
    .subTitle {
      color: $text-color-secondary;
      line-height: rem(17);
      font-size: rem($font-size-small);
    }
  }

  .footer {
    font-size: rem($font-size-label);
    color: $text-color-secondary;
    display: flex;
    align-items: center;
    .label {
      margin-right: rem(7);
    }
    .rightIcon {
      margin-right: rem(3);
    }
  }
  .button {
    height: rem(26);
    width: rem(72);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    span {
      font-size: rem(12);
      line-height: rem(12);
    }
  }
}
