@import '@common/styles/index.scss';

.listItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: rem($padding-2n) rem($padding-4n);
  &:before {
    position: absolute;
    height: 1px;
    content: '';
    right: rem($padding-4n);
    left: rem($padding-4n);
    bottom: 0;
    background-color: #f5f7f8;
  }
  .wrapper {
    display: flex;
    align-items: center;
  }

  .header {
    position: relative;
    margin-right: rem(12);
    .img {
      display: inline-block;
      width: rem(38);
      height: rem(38);
      border-radius: rem(19);
      line-height: rem(38);
      text-align: center;
      font-size: rem(20);
      background: #f5f7f8;
    }
    .icon {
      position: absolute;
      bottom: rem(-5);
      right: rem(-5);
      border-radius: rem($border-radius-big);
      height: rem(20);
      width: rem(20);
      border: var(--color-white) solid rem(1);
      text-align: center;
      line-height: rem(20);
      color: var(--color-white);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    font-size: rem($font-size-primary);
    .title {
      color: #0b0b37;
      line-height: rem(18);
    }
    .subTitle {
      color: var(--color-text-secondary);
      line-height: rem(18);
    }
  }

  .footer {
    font-size: rem($font-size-label);
    color: #8590A6;
  }
}