@import '@common/styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: rem(150);
  width: rem(150);

  .progress {
    margin-left: rem(-5);
  }

  .content {
    height: rem(150);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .remaining {
    margin-top: rem($margin-2n);
    font-weight: bold;
    font-size: rem($font-size-middle);
    line-height: rem(22);
    text-align: left;
    color: var(--color-text-primary);
    .count {
      font-size: inherit;
      color: var(--color-error);
    }
  }
  .received {
    margin-top: rem(4);
    font-weight: normal;
    font-size: rem($font-size-label);
    line-height: rem(17);
    color: var(--color-text-regular);
  }
  .receive {
    font-weight: normal;
    font-size: rem($font-size-label);
    line-height: rem(17);
    text-align: left;
    color: var(--color-text-secondary);
  }
  &.redPack {
    .icon {
      margin-top: rem(27);
      width: rem(15);
      height: rem(20);
    }
  }

  &.bounty {
    .icon {
      margin-top: rem(40);
      width: rem(20);
      height: rem(20);
    }
  }
}
