@import '@common/styles/index.scss';

.box{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: $border-radius-small;
    img {
        transform: scale(1.05);
    }
    
    .longImgBox{
        position: absolute;
        bottom: 0;
        right: 0;
        background: $primary-color;
        padding: rem($padding-5) rem($padding-3n);
        border-top-left-radius: rem($border-radius-small);
        border-bottom-right-radius: rem($border-radius-small);
        .longImgText{
            font-size: $font-size-small;
            color: $white;

        }
    }
}