@import '@common/styles/index.scss';
.index {
  height: 100vh;
  width: 100vw;
  .header {
    height: rem(50);
    display: flex;
    justify-content: flex-end;
    padding: 0 rem($padding-4n);
    .show {
      .showGet {
        display: flex;
        justify-content: flex-end;
        .icon {
          line-height: rem(50);
        }
        .showMoneyNum {
          font-weight: var(--font-weight-regular);
          font-size: var($font-size-label);
          line-height: rem(50);
          text-align: left;
          color: var(--color-text-primary);
          margin-left: rem($margin-2n);
          .moneyNumber {
            color: var(--color-error);
          }
        }
      }
    }
    .more {
      line-height: rem(50);
      margin-left: rem($margin-5n);
    }
  }
}