@import '@common/styles/index.scss';

.threadFirstItem {
  &:before {
    content: '';
    display: none;
  }
}

.threadItem {
  &:before {
    content: '';
    display: block;
    height: rem(10);
    background: var(--comment-content-bg-color);
  }
}

.threadsContainer {
  background: var(--comment-content-bg-color);
}

.threadBorder {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}