.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  .progress {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
  }
  .remaining {
    margin-top: 0.08rem;
    font-weight: 600;
    font-size: 0.16rem;
    line-height: 0.24rem;
    text-align: left;
    color: #0b0b37;
    .count {
      font-size: inherit;
      color: #e02433;
    }
  }
  .received {
    margin-top: 0.04rem;
    font-weight: normal;
    font-size: 0.12rem;
    line-height: 0.17rem;
    color: #4f5a70;
  }
  .receive {
    margin-top: 0.04rem;
    font-weight: normal;
    font-size: 0.12rem;
    line-height: 0.17rem;
    text-align: left;
    color: #8490a8;
  }
  &.redPack {
    .icon {
      margin-top: 0.27rem;
      width: 0.15rem;
      height: 0.2rem;
      background-color: #e02433;
    }
  }
  &.bounty {
    .icon {
      margin-top: 0.4rem;
      width: 0.2rem;
      height: 0.2rem;
      background-color: #ffc300;
    }
  }
}
