@import '@common/styles/index.scss';

.container {
    padding: rem($padding-4n) rem($padding-4n) 0;
    background: $white;
}

.content {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    padding-bottom: rem($padding-4n);
    .text {
        font-family: 'PingFang SC';
        font-size: rem($font-size-primary);
        text-align: left;
        color: $text-color-primary;
        line-height: rem(16);
    }
    .money {
        font-family: 'PingFangSC-Semibold';
        font-size: rem($font-size-middle);
        text-align: left;
        color: $error-color;
    }
}

.time {
    font-family: 'PingFangSC-Regular';
    font-weight: normal;
    font-size: rem($font-size-label);
    text-align: left;
    color: $text-color-secondary;
    padding-bottom: rem($padding-4n);
    border-bottom: solid rem(1) $border-color;
}
