@import '@common/styles/index.scss';

.container {
  width: rem(420);
  height: rem(200);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  background: var(--color-white);
  border-radius: rem($border-radius-big);
  overflow: hidden;
}

.header {
  height: rem(50);
  display: flex;
  justify-content: space-between;
  padding: 0 rem(20);
  .headerLeft {
    font-size: rem($font-size-middle);
    line-height: rem(50);
  }
  .headerIcon {
    width: rem(50);
    height: rem(50);
    line-height: rem(50);
    text-align: center;
    font-size: rem($font-size-middle);
  }
}


.percentage {
  padding: rem(16);

  :global {
    .dzq-input {
      width: 100%;
    }
  }
}


.button {
  width: 100%;
  height: rem(50);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #f4f7f7;
  .ok {
    width: rem(70);
    height: rem(36);
    margin-right: rem($margin-6n);
  }
  .cancel {
    width: rem(70);
    height: rem(36);
    background: #c9c9c9;
    border: none;
    margin-right: rem($margin-6n);
  }
}