@import '@common/styles/index.scss';

.container {
  width: rem(520);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  background: var(--color-white);
  border-radius: rem($border-radius-big);
  overflow: hidden;
  padding: 0 rem(24) rem(24) rem(24);
}

.header {
  height: rem(64);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .headerLeft {
    flex: 1;
    font-size: rem($font-size-middle);
    font-weight: var(--font-weight-regular);
    line-height: rem(64);
    text-align: center;
  }
  .headerIcon {
    text-align: center;
    font-size: rem($font-size-middle);
    cursor: pointer;
    color: $text-color-secondary;
  }
}

.rewardList {
  margin-top: rem($margin-4n);
  display: flex;
  flex-wrap: wrap;
  padding-left: rem(60);

  .reward {
    width: rem(60);
    height: rem(35);
    border: $border-solid-1;
    margin-right: rem($margin-2n);
    margin-bottom: rem($margin-2n);
  }
}

.percentage {
  display: flex;
  align-items: center;

  .text {
    margin-right: rem($margin-2n);;
    font-size: rem($font-size-primary);;
  }
}


.button {
  margin-top: rem($margin-6n);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .ok {
    width: rem(116);
    height: rem(36);
  }
  .cancel {
    width: rem(116);
    height: rem(36);
    background: $button-info-bg-color;
    border: none;
    margin-right: rem($margin-4n);
  }
}