@import '@common/styles/index.scss';
.replyList {
  display: flex;
  padding-top: rem($padding-4n);
  .replyListAvatar {
    margin-right: rem($margin-2n);
  }
  .replyListContent {
    width: 100%;
    .replyListContentText {
      padding: rem($padding-2n);;
      border-radius: rem($border-radius-small);
      background: $body-bg-color;
      .replyListName {
        font-weight: var(--font-weight-regular);
        font-size: rem($font-size-primary);
        font-family: 'PingFangSC-Semibol';
        line-height: rem(20);
        text-align: left;
        color: var(--color-text-primary);
      }
      .replyListText {
        margin-top: rem($margin-1n);
        font-size: rem($font-size-middle);
        line-height: rem(22);
        text-align: left;
        color: var(--color-text-primary);
        word-break: break-all;
        .commentUser {
          display: inline-block;
          .replyedUserName {
            font-weight: var(--font-weight-regular);
            font-size: rem($font-size-primary);
            margin-right: rem($margin-2n);
            line-height: rem(18);
            text-align: left;
            color: var(--color-primary);
          }
          .replyedAvatar {
            display: inline-block;
            margin-right: rem($margin-1n);
            position: relative;
            top: rem(4);

            .avatar {
              width: rem(18);
              height: rem(18);
            }
          }
        }
      }
    }
    .replyListFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: rem($font-size-primary);
      line-height: rem(16.8);
      text-align: left;
      color: var(--color-text-secondary);
      padding-top: rem($padding-2n);
      .replyTime {
        // flex: 1;
        font-size: rem($font-size-label);
      }
      .replyLiked {
        // flex: 1;
      }
      .replyLike {
        // flex: 1;
        color: var(--color-primary);
      }
      .replyReply {
        // flex: 1;
      }
      .replyDelete {
        // flex: 1;
      }
    }
  }

  .extraBottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > div {
      margin-left: rem(24);
    }
  }
}