@import '@common/styles/index.scss';
.replyList {
  display: flex;
  padding-top: rem($padding-4n);
  .replyListAvatar {
    margin-right: rem($margin-2n);
  }
  .replyListContent {
    width: 100%;
    .replyListContentText {
      padding: rem($padding-2n);
      border-radius: rem($border-radius-small);
      background: $body-bg-color;
      .replyListName {
        font-size: rem($font-size-primary);
        font-weight: bold;
        line-height: rem(20);
        text-align: left;
        color: var(--color-text-primary);
      }
      .replyListText {
        margin-top: rem($margin-1n);
        font-size: rem($font-size-middle);
        text-align: left;
        color: var(--color-text-primary);
        width: 100%;
        word-break: break-all;
        line-height: $font-line-height-middle;

        .content {
          display: inline;
          font-weight: normal;
          font-size: $font-size-middle;
          line-height: rem(16);
          text-align: left;
          color: $text-color-primary;
          vertical-align: super;
          position: relative;
          top: rem(3);

          p {
            display: inline;

            img {
              height: rem(22);
            }
          }

          img {
            height: rem(22);
          }
        }

        .isShowOne {
          // @include lamp-clamp(3);

          // p {
          //   @include lamp-clamp(3);
          // }
        }

        .commentUser {
          display: inline-flex;
          word-break: initial;
          align-items: center;
          justify-content: flex-start;
          height: rem(28);

          .replyedUserName {
            font-weight: bold;
            font-size: rem($font-size-primary);
            margin-right: rem($margin-2n);
            line-height: rem(18);
            text-align: left;
            color: var(--color-primary);
          }
          .replyedAvatar {
            display: inline-block;
            margin-right: rem($margin-1n);

            .avatar {
              width: rem(18);
              height: rem(18);
              font-size: rem($font-size-small);
              line-height: rem(18);
            }
          }
        }
      }
    }
    .replyListFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: rem($font-size-primary);
      line-height: rem(16.8);
      text-align: left;
      color: var(--color-text-secondary);
      padding-top: rem($padding-2n);
      .replyTime {
        // flex: 1;
        font-size: rem($font-size-label);
      }
      .replyLiked {
        // flex: 1;
      }
      .replyLike {
        // flex: 1;
        color: var(--color-primary);
      }
      .replyReply {
        // flex: 1;
      }
      .replyDelete {
        // flex: 1;
      }
    }
  }

  .extraBottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > div {
      margin-left: rem(24);
    }
  }
}
