@import '@common/styles/variable/index.scss';
@import '@common/styles/fn/rem.scss';

.container {
  background: var(--color-white);
  border: var(--border-border);
  border-radius: rem($border-radius-small);
  overflow: hidden;
}

.main {
  :global {
    .dzq-textarea {
      border: none;
      border-radius: rem($border-radius-small) rem($border-radius-small) 0 0;
      .dzq-textarea__inner {
        padding: rem($padding-4n);
        font-size: rem($font-size-primary);
        background: var(--comment-box-bg-color);
        resize: none;
      }
    }
  }
}

.input {
  width: 100% !important;
  box-sizing: border-box;
  background: var(--comment-box-bg-color);
  overflow: hidden;
}
.heightMiddle {
  height: rem(116);
}
.heightLabel {
  height: rem(76);
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    margin-top: rem($margin-1n);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem(52);
  padding: 0 rem(16);
  border-top: var(--border-border);

  .linkBtn {
    display: flex;
    color: #8a95ac;
    .btnIcon {
      line-height: rem(52);
      padding: 0 rem($padding-2n);
    }
  }

  .button {
    width: rem(100);
    height: rem(36);
    border-radius: rem($border-radius-small);
    box-sizing: border-box;
    font-size: rem($font-size-primary);
  }
}
