@import '@common/styles/index.scss';

.container {
  width: 100%;
  background: $border-color;
  overflow: hidden;
  padding: 20px 20px 0 20px;
  border-radius: $border-radius-big $border-radius-big 0 0;
  box-sizing: border-box;

  .more {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-row-gap: 16px;
    justify-content: space-between;
    padding-bottom: $padding-4n;

    .moreItem {
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        background: $white;
        border-radius: var(--border-radius-small);
        color: var(--color-text-regular);

        > View {
          font-size: 26px !important;
        }
      }

      .text {
        width: 50px;
        margin-top: $padding-2n;
        text-align: center;
        color: var(--color-text-regular);
        font-size: $font-size-small;
      }

      &.actived {
        .icon,
        .text {
          color: $primary-color;
        }
      }
    }
  }
}

.button {
  padding: 12px 0;
  width: 100%;
  background: $white;

  .cancel {
    border: none;
    padding: 0;
    width: 100%;
    font-size: $font-size-base;
    color: $text-color-regular;
  }
}


.body {
  border-radius: $border-radius-big $border-radius-big 0 0;
  padding-bottom: constant(safe-area-inset-bottom); ///兼容 IOS<11.2/
  padding-bottom: env(safe-area-inset-bottom); ///兼容 IOS>11.2/
  background: $white;
}