@mixin captchaBtn {
  position: absolute;
  right: 8px;
  bottom: 18px;
  text-align: center;
  line-height: 36px;
  border-radius: 5px;
  font-size: 14px;
  color: #8590a6;
  cursor: pointer;
  padding-right: 8px;
  z-index: 2;
}
.container {
  height: 100%;
  .button {
    width: 327px;
    height: 42px;
    margin-top: 32px;
    line-height: 24px;
  }
  .input {
    width: 327px;
    :global(.dzq-input__inner) {
      height: 68px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #eee;
    }
    :global(.dzq-icon-EyeOutlined) {
      top: 25px
    }
  }
  .captchaInput{
    position: relative;
  }
  .sendCaptcha {
    font-size: 12px;
    @include captchaBtn;
  }
  .countDown {
    @include captchaBtn;
    color: #b5b5b5;
  }
}
.content {
  padding: 48px 24px;
  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: var(--color-text-primary);
  }
  .tips{
    font-size: 16px;
    margin: 32px 0;
    line-height: 30px;
    text-align: left;
    color: var(--color-text-primary);
  }
}
