@import '@common/styles/index.scss';


.list {
  flex: 1;
  background-color: var(--background-color);
}
.listItem {
  margin-bottom: rem(10);
}

.topBox {
  padding-bottom: rem(16);
  background: $white;
  margin-bottom: rem(10);
  
}