
@import '@common/styles/index.scss';

.container {
  width: 100%;
  position: relative;
  overflow: hidden;
  .contentWrapper{
    .content {
      @include cursor-on-pc;
      width: 100%;
      position: relative;
      display: inline-block;
      line-height: $font-line-height-middle;
      font-size: $font-size-middle !important;
      color: var( --color-text-primary);
      // margin-top: $padding-1n;
      word-break: break-all;
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: $font-size-middle !important;
      }
      img {
        &:not(:global(.qq-emotion)) {
          // max-width: 100%;
          // max-height: 2px;
          overflow: hidden;
        }
      }

      :global(.dzq-img) {
        width: 100%;
        display: inline-block;
      }

      
      :global(.qq-emotion) {
        height: 30px;
        width: 30px;
        margin-top: -1px;
      }
    }

    :global(.dzq-code) {
      word-break: normal;
      width:auto;
      display:block;
      white-space:pre-wrap;
      word-wrap : break-word;
      overflow: hidden;
    }

    :global(.dzq-richText) {
      overflow: hidden;
    }

    // :global(.dzq-richText--mini) {
    //   display: flex;
    //   align-items: center;
    // }

    // :global(.dzq-p) {
    //   display: flex;
    //   align-items: center;
    // }
  }
  
  .hideCover {
    position: relative;
    overflow: hidden;
    max-height: 165px;
    &:after {
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: 165px;
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }
  }
  .showMore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: $font-size-primary;
    line-height: $font-line-height-primary;
    color: var(--color-primary);
    .icon {
      margin-left: 9px;
      transform: rotateZ(90deg);
    }
  }
  .payInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    .hidePercent {
      font-weight: normal;
      font-size: $font-size-primary;
      line-height: $font-line-height-primary;
      text-align: left;
      color: var(--color-primary);;
    }
    .payButton {
      margin-top: $padding-4n;
      line-height: 16.8px;
    }
    .payButtonIcon {
      margin-right: $padding-2n;
      width: 13.93px;
      height: 16.62px;
      background-color: var(--color-white);
    }
  }
}
