@import '@common/styles/index.scss';
@import '@common/styles/_variable.scss';
@import '@common/styles/mixin/index.scss';

.userCenterEditMiddle {
  padding: rem($padding-4n);
  padding-bottom: 0;
  h3 {
    font-size: rem($font-size-middle);
    // margin-bottom: rem(16);
  }
  .userCenterEditItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F4F6F7;
    padding: rem($padding-4n) 0;
    >div:nth-child(2) {
      margin-left: rem($margin-2n);
    }
    :global {
      .dzq-icon {
        font-size: rem($font-size-small) !important;
        color: $text-color-secondary;
      }
      .dzq-input {
        width: 100%;
        height: 0;
        line-height: 1;
      }
      .dzq-input__inner {
        text-align: right;
        border: none;
        font-size: rem($font-size-base);
        height: 0;
        line-height: 1;
        margin-top: rem(-$margin-2n);
        padding-right: 0;
        display: block;
      }
    }
  }
  .userCenterEditLabel {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: rem(36);
    // line-height: rem(36);
    font-size: rem($font-size-base);
    // border-bottom: 1px solid #F4F6F7;
    >label {
      color: $text-color-regular;
    }
    >div {
      color: $text-color-primary;
    }
    .userCenterEditWeChat {
      display: flex;
      align-items: center;
      span {
        margin-left: rem($margin-4n);
      }
    }
  }
}

.userCenterEditBottom {
  height: rem(156);
  padding: rem($padding-4n);
  box-sizing: border-box;
  padding-top: 0;
  h3 {
    margin-top: rem($margin-4n);
    // margin-bottom: rem(16);
    font-size: rem($font-size-middle);
  }
  // &::before {
  //   content: '';
  //   display: block;
  //   height: 10px;
  //   background: #F4F6F7;
  //   margin: 0 rem(-20);
  // }
  .userCenterEditItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem($padding-4n) rem($padding-5n);
    border-bottom: 1px solid #F4F6F7;
    margin: 0 rem(-$margin-5n) rem($margin-2n);
    >div:nth-child(2) {
      margin-left: rem($margin-2n);
    }
    :global {
      .dzq-icon {
        font-size: rem($font-size-small) !important;
        color: $text-color-secondary;
      }
    }
  }
  .userCenterEditLabel {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: rem(36);
    // line-height: rem(36);
    font-size: rem($font-size-base);
    // border-bottom: 1px solid #F4F6F7;
    >label {
      color: $text-color-regular;
    }
    >div {
      color: $text-color-primary;
    }
  }

}
.userCenterEditBtn {
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: rem(20);
  padding: 0 rem($padding-4n);
  @include ios-safe-area-inset-bottom;
  button {
    // width: rem(166);
    height: rem(42);
    font-size: rem($font-size-middle);
    border: none;
    border-radius: 5px !important;
  }
  button:nth-child(1) {
    margin-right: rem($margin-10);
    background-color: $text-bg-color2;
  }
}