@import '@common/styles/index.scss';

.container {
  background: var(--color-white);
}

.main {
  background: var(--color-white);
  padding: rem($margin-4n);
}

.button {
  width: 100%;
  font-size: rem($font-size-primary);
  line-height: rem($font-line-height-primary);
}

.input {
  margin-bottom: rem($margin-4n);
  width: 100%;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    margin-top: rem($margin-1n);
  }
}
