@import '@common/styles/index.scss';

.mobileLayout {
    background: $white;
}

.spinLoading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: rem($padding-4n);
}

.unit {
    &::before {
        content: '';
        display: block;
        height: rem(10);
        background: $spacer-bg-color;
    }
}

.dividerContainer {
    padding-left: rem($padding-4n);
    padding-right: rem($padding-4n);
    :global {
        .dzq-divider {
            margin: 0;
        }
    }
}

.divider {
    margin: rem($margin-2n) 0;
}

.threadUnit {
    padding: rem($padding-4n);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: rem(52);
    box-sizing: border-box;

    .threadTitle {
        font-weight: 600;
        font-size: rem($font-size-middle);
        color: $text-color-primary;
        margin-right: rem($margin-3n);
    }

    .threadCount {
        font-size: rem($font-size-small);
        color: $text-color-secondary;
    }
}