@import '@common/styles/variable/index.scss';

.container {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-primary);
  }
  :global(.dzq-dropdown__trigger) {
    font-size: 24px;
    color: var(--color-primary);
  }
  :global(.dzq-dropdown-menu__item) {
    padding: 10px 0;
  }
}
