@import '@common/styles/index.scss';

.inputClick {
  width: 176px;
  height: 36px;
  background: $comment-bg-color;
  display: flex;
  align-items: center;
  font-family: 'PingFang SC';
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  text-align: left;
  color: #c5c6ca;
  border-radius: 5px;
  border: 1px solid var(--border-line-color);
  .input {

  }

  .inputIcon {
    padding: 0 10px;

  }
}

.icon {
  margin-left: 24px;
  display: inline-block;
  position: relative;

  // TODO:暂未提供token
  color: #8590A6;

  :first-child {
    margin-left: 0;
  }
}

.badge {
  width: 20px;
  height: 20px;
  font-family: 'PingFang SC';
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  background: var(--color-error);
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: -8px;
}