@import '@common/styles/index.scss';

.inputClick {
  :global {
    .dzq-input.is-disabled .dzq-input__inner {
      background-color: var(--comment-box-bg-color);
      -webkit-appearance: none; // ios下去除上面阴影
    }
    .dzq-icon {
      line-height: 36px;
    }
  }
  .input {
    width: 176px;
  }
}

.icon {
  margin-left: $margin-6n;
  display: inline-block;
  position: relative;

  // TODO:暂未提供token
  color: var(--color-text-secondary);

  :first-child {
    margin-left: 0;
  }
}

.badge {
  min-width: 16px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  color: var(--color-white);
  background: var(--color-error);
  border-radius: 8px;
  padding: 0 6px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(50%);
}

.isCricle {
  width: 16px;
}
