@import '@common/styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: flex-start;
  justify-content: flex-start;
  background: var(--comment-content-bg-color);
}

.header {
  width: 100%;
}

.body {
  width: 100%;
  height: calc(100vh - 75px);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .bottom {
    margin-top: $margin-10;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    display: flex;
    flex-direction: column;
  }
}

.noMore {
  margin-bottom: constant(safe-area-inset-bottom); ///兼容 IOS<11.2/
  margin-bottom: env(safe-area-inset-bottom); ///兼容 IOS>11.2/
}


.view-inner{
  width: 100%;
  min-height: calc(100vh - 50px);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.footerContainer {
  height: 50px;
  width: 100%;
  flex: 0 0 50px;
  background: $white;
}

.footer {
  position: fixed;
  bottom: constant(safe-area-inset-bottom); ///兼容 IOS<11.2/
  bottom: env(safe-area-inset-bottom); ///兼容 IOS>11.2/
  left: 0;
  width: 100%;
  z-index: $zindex-backtotop;
  min-height: 50px;
  padding-left: $padding-4n;
  padding-right: $padding-4n;
  box-sizing: border-box;
  background: var(--color-white);
  border-top: var(--border-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  :global {
    .dzq-icon{
      top: -0.5px;
    }
    .dzq-input__inner {
      &::placeholder {
        color: #c5c6ca;
      }
    }
  }
}

.examine {
  width: 100%;
  height: 44px;
  background: var(--color-warn9);
  display: flex;
  align-items: center;
  justify-content: center;

  .tipsIcon {
    color: $warn-color;
  }

  .tipsText {
    margin-left: $margin-2n;
    font-size: $font-size-base;
    text-align: left;
    color: $warn-color;
  }
}
