@import '@common/styles/variable/index.scss';

.container {
  background: var(--color-white);
  padding: 16px;
}

.header {
  background: var(--color-white);
  display: flex;
  justify-content: space-between;
}

.userInfo {
  flex: 1;
}

.more {
  padding-left: 8px;
}

.essence {
  margin-right: 8px;
}

.body {
  margin-top: 16px;

  // {
  //   margin-bottom: 20px;
  // }
}

.image {
  width: 100%;
}

.reward {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rewardButton {
  margin: 0 auto;
  width: 156px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text-secondary);
  font-size: 14px;
}

.buyBtn {
  margin-top: 16px;
  width: 100%;
  height: 36px;
}

.tag {
  display: inline-block;
  color: var(--color-text-regular);
  background: var(--background-color);
  font-size: 20px;
  padding: 8px 4px;
  border-radius: 5px;
}

.thumbs {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.liked {
  display: flex;
  align-items: center;

  span {
    margin-left: 8px;
  }
}

.isLiked {
  color: var(--color-primary);
}

.likeReward {
  margin-left: 16px;
}