@import '@common/styles/index.scss';
.container {
  border-radius: $border-radius-small;
  :global {
    .dzq-card {
      border-radius: rem($border-radius-small);
    }
    .dzq-card__body {
      padding: 0 5%;
    }
    .dzq-submenu__title {
      padding-right: 0;
      padding-bottom: rem(19);
      padding-top: rem(19);
      line-height: 0;
    }
    .dzq-submenu__title.is-active {
      font-weight: 600;
      color: $primary-color;
    }
  
    .dzq-menu .dzq-menu-item.is-active {
      font-weight: 600;
      color: $primary-color;
    }
  
    .dzq-submenu > .dzq-menu .dzq-menu-item.is-active {
      font-weight: initial;
    }

    .dzq-submenu > .dzq-menu .dzq-menu-item {
      padding-bottom: rem(6);
      padding-top: rem(6);
    }

    .dzq-menu,
    .dzq-menu-item,
    .dzq-submenu__title,
    .dzq-submenu {
      &:last-child {
        border-bottom: none;
      }
    }

    .dzq-submenu > .dzq-menu {
      padding-bottom: rem(6);
      padding-top: rem(6);
      line-height: rem(20);
    }
  
    .dzq-submenu > .dzq-menu .dzq-menu-item {
      padding-right: 0;
      line-height: rem(20);
    }
    .dzq-menu-item {
      padding-right: 0;
      padding-bottom: rem(14);
      padding-top: rem(14);
      padding-left: 4%;
    }
  }
}

.activeItem {
  color: var(--color-primary) !important;
  font-weight: 600;
}

.span {
  color: var(--color-text-secondary);
  float: right;
  font-weight: normal;
  font-size: rem($font-size-base);
}

.subSpan {
  color: var(--border-color-hover);
  float: right;
  font-weight: normal;
  font-size: rem($font-size-base);
}

.verticalScrollbar::-webkit-scrollbar {
  width: rem(4);
  height: rem(8);
  border-radius: rem(4);
}
.verticalScrollbar::-webkit-scrollbar-thumb {
  border-radius: rem(5);
  background: $mask-bg-color;
}
.verticalScrollbar::-webkit-scrollbar-track {
  border-radius: rem(8);
}