@import '@common/styles/index.scss';
.container {
  :global {
    .dzq-card {
      border-radius: rem($border-radius-small);
    }
    .dzq-card__body {
      padding: 0 rem($padding-4n);
    }
    .dzq-submenu__title {
      padding-right: 0;
    }
    .dzq-submenu__title.is-active {
      font-weight: 600;
      color: $primary-color;
    }
  
    .dzq-menu .dzq-menu-item.is-active {
      font-weight: 600;
      color: $primary-color;
    }
  
    .dzq-submenu > .dzq-menu .dzq-menu-item.is-active {
      font-weight: initial;
    }
  
    .dzq-submenu > .dzq-menu .dzq-menu-item {
      padding-right: 0;
    }
    .dzq-menu-item {
      padding-right: 0;
      &:last-child {
        padding-bottom: rem($padding-4n);
      }
    }
  }
}

.activeItem {
  color: var(--color-primary) !important;
  font-weight: 600;
}

.span {
  color: var(--color-text-secondary);
  float: right;
  font-weight: normal;
  font-size: rem($font-size-base);
}
