@import '@common/styles/index.scss';
:global {
  .dzq-card {
    border-radius: rem($border-radius-small);
  }
  .dzq-card__body {
    padding: 0 rem($padding-4n);
  }

  .dzq-submenu__title.is-active {
    font-weight: 600;
    color: #0265ff;
  }

  .dzq-menu .dzq-menu-item.is-active {
    font-weight: 600;
    color: #0265ff;
  }

  .dzq-submenu > .dzq-menu .dzq-menu-item.is-active {
    font-weight: initial;
  }
}

.activeItem {
  color: var(--color-primary) !important;
  font-weight: 600;
}

.span {
  color: #8590a6;
  float: right;
  font-weight: normal;
}
