@import '@common/styles/index.scss';

.list {
  overflow-y: auto;
  height: 70vh;
  // min-height: 40vh;
}

.tabs {
  max-width: 572px;
  margin: 0 auto;
  border-top-left-radius: $border-radius-big;
  border-top-right-radius: $border-radius-big;
  :global(.dzq-tabs__bar.is-card) {
    box-shadow: none;
    padding-left: 4px;
  }
  :global {
    .dzq-tabs__panel {
      border-top: 1px solid rgba(238, 238, 238, 0.75);

    }
    .dzq-tabs__item {
      justify-content: flex-start;
      flex: none;
      padding: 0 12px;
    }
    .dzq-tabs__item.is-active {
      font-weight: 600;
    }
    .dzq-tabs__scroll {
      width: auto;
    }
  }
}

.tabIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 10px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    margin-right: 8px;
  }
  .title {
    line-height: 20px;
    margin-right: 5px;
  }
  .num {
  }
}

.spinner {
  height: 70vh;
  width: 100%;
  color: var(--color-text-placeholder);
}