page {
  font-family: var(--font-family);
  background-color: var(--color-white);

  .plusin {
    padding: 16px;
    background-color: var(--color-white);
    // background-color: red;
  }

  .toolbar {
    border-top: 1px solid var(--border-line-color);
    .tag-toolbar {
      padding: 0 16px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      background: var(--color-white);
    }
  }
}



