@import '@common/styles/index.scss';

.hot{
  background-color: $white;
  padding: 0 rem($padding-4n);

  &.popularContents{
    padding-bottom: 0;
  }
}
.pc_hot {
  border-radius: $border-radius-small;
  margin-bottom: $padding-6n;
  &.popularContents{
    padding-bottom: 0;
  }
}
.pc_hot_title {
  padding: 0 rem($padding-6n);
  border-radius: rem($border-radius-small);
  background: $white;
}
.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color-placeholder;
  height: rem(60);
  background: $white;
}
.threadContent {
  border-radius: rem($border-radius-small);
  padding: $padding-2n $padding-6n 0;
  margin-bottom: rem($margin-4n);
}