.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F5F7F8;
    .shareBtn {
        width: 100%;
        height: 74px;
        position: fixed;
        bottom: 0;
        background-color: #f5f7f8;
        border-radius: 10px,10px,0px,0px;
        box-shadow: 0px 0px 8px #dfe0e3;
        padding-bottom: constant(safe-area-inset-bottom);  ///兼容 IOS<11.2/
        padding-bottom: env(safe-area-inset-bottom);  ///兼容 IOS>11.2/
        .btn {
            width: 343px;
            height: 42px;
            border-radius: 5px;
            background: #2469f6;
            margin-top: 10px;
            font-size: 16px;
            text-align: center;
            color: #fff;
        }
    }
}