@import '@common/styles/index.scss';

.wrapper {
  width: 100%;
  background: $white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  View,
  Text {
    box-sizing: content-box;
  }

  /*内容展示区*/
  .block {
    flex: 1 0 100%;
    width: 100%;
    padding-top: $margin-4n;
    display: flex;
    justify-content: flex-start;
    transition: all 0.5s;
  }

  .avatar {
    flex: 0 0 38px;
    height: 38px;
    margin-left: $margin-2n;
    padding: 0 $padding-2n;

    :global {
      .dzq-badge {
        width: 100%;
        height: 100%;

        .dzq-badge__circle{
          top: rem(10px);
          right: rem(2px);
        }
      }
      .dzq-avatar {
        width: 100%;
        height: 100%;
        font-size: $font-size-large;
        color: $white;
        text-align: center;
        line-height: 38px;
        background: transparent;

        .dzq-avatar__img {
          width: 100%;
          height: 100%;
          vertical-align: top;
        }

        .dzq-avatar__text {
          width: 100%;
          height: 100%;
          line-height: 38px;
        }
      }
    }

    .badge{
      :global{
        .dzq-badge__circle{
          padding: 0 rem(6px);
          width: auto;
          border-radius: $border-radius-8;
        }
      }
    }
  }

  .detail {
    width: calc(100vw - 86px);
    overflow: hidden;
    padding-bottom: $padding-4n;
    margin-right: $margin-4n;
    font-size: $font-size-middle;
    border-bottom: $border-solid-1;
    &.border-none {
      border: none;
    }

    .top {
      display: flex;
      justify-content: space-between;
      height: 20px;

      .name {
        font-weight: 600;
        font-size: $font-size-primary;
        text-align: left;
        line-height: 20px;
        color: $text-color-primary;
      }

      .amount {
        font-weight: 600;
        font-size: $font-size-middle;
        line-height: 20px;
        text-align: right;
        color: $error-color;
      }
    }

    .middle {
      padding-top: $margin-1n;
      font-size: $font-size-primary;
      color: $text-color-secondary;
      line-height: 20px;

      :global {
        .qq-emotion {
          width: 14px;
          height: 14px;
          vertical-align: top;
        }

        a {
          color: $primary-color;
        }
      }
    }

    .bottom {
      margin-top: $margin-2n;
    }

    .time {
      font-weight: normal;
      font-size: $font-size-small;
      line-height: 20px;
      text-align: left;
      color: $text-color-secondary;
    }

    /*私信详情*/
    &.detail-chat {
      margin-left: $margin-2n;
    }
    /*帖子详情*/
    &.detail-thread {
      margin-left: $margin-2n;
      .middle {
        line-height: 22px;
      }
    }
    /*财务详情*/
    &.detail-financial {
      top: 0;
    }
    /*账号详情*/
    &.detail-account {
      .top {
        padding: 8px 8px 0;
        background: $body-bg-color;
        border-radius: 5px 5px 0 0;
      }
      .middle {
        padding: $padding-2n;
        padding-top: $padding-1n;
        font-size: $font-size-middle;
        line-height: 24px;
        background: $body-bg-color;
        border-radius: 0 0 5px 5px;
        .content-html {
          .tip {
            color: $primary-color;
            padding-right: $padding-5;
          }
        }
      }
    }
  }

  .single-line {
    @include text-ellipsis();
  }

  .multiple-line {
    @include lamp-clamp(3);
  }
}
