@import '@common/styles/index.scss';

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $body-bg-color;
  overflow-x: hidden;
}

.body{
  width: 100%;
  min-width: rem(800);
  padding-top: rem(20);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  background: $body-bg-color;
  overflow-y: auto;
  border-radius: rem(5);
  ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
  &.col-1{}
  &.col-2{
    max-width: rem(1100);
  }
  &.col-3{
    max-width: rem(1420);
  }
  .center {
    position: relative;
    max-width: rem(750);
    display: flex;
    flex-direction: column;
    flex: -1;
    flex-shrink: 0;
  }
  
  .left {
    position: sticky;
    top: rem(0);
    max-width: rem(300);
    flex: -1;
    flex-shrink: 0;
  }
  
  .right {
    position: sticky;
    top: rem(0);
    max-width: rem(330);
    flex: -1;
    flex-shrink: 0;
    &.home-right {
      top: rem(-136);
    }
  }
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  // padding: rem(20) 0;
}

@media only screen and (min-width: 1080px){
  .col-1{}
  .col-2{
    .center {
      width: rem(731);
    }
    .right {
      margin-left: rem(10);
      width: rem(300);
    }
  }
  .col-3{
    .center {
      width: rem(750);
    }
    .left {
      margin-right: rem(20);
      width: rem(300);
    }
    .right {
      margin-left: rem(20);
      width: rem(330);
    }
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1419px){
  .col-1{}
  .col-2{
    .center {
      width: 66%;
    }
    .right {
      margin-left: 0.9%;
      width: 27%;
    }
  }
  .col-3{
    .center {
      width: 53%;
    }
    .left {
      margin-right: 1.4%;
      width: 21%;
    }
    .right {
      margin-left: 1.4%;
      width: 23%;
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 1079px) {
  .col-1{}
  .col-2{
    .center {
      width: 66%;
    }
    .right {
      margin-left: 0.9%;
      width: 27%;
    }
  }
  .col-3{
    .center {
      width: 46%;
    }
    .left {
      margin-right: 0.9%;
      width: 24%;
    }
    .right {
      margin-left: 0.9%;
      width: 28%;
    }
  }
}

.list {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}
