@import '@common/styles/index.scss';

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $body-bg-color;
  overflow-x: auto;
}

.body{
  position: relative;
  width: rem(1420);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $body-bg-color;
  overflow-x: auto;
  ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  // padding: rem(20) 0;
}

.center {
  width: rem(750);
  min-width: rem(750);
  display: flex;
  flex-direction: column;
  margin-top: rem(20);
}

.left {
  position: sticky;
  top: rem(0);
  margin-right: rem(20);
  padding-top: rem(20);
  width: 21%;
  min-width: rem(300);
}

.right {
  position: sticky;
  margin-left: rem(20);
  top: rem(0);
  padding-top: rem(20);
  width: rem(330);
  min-width: rem(330);
  &.home-right {
    top: rem(-136);
  }
}

.list {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}
