@import '@common/styles/variable/index.scss';
@import '@common/styles/fn/rem.scss';

.container {
  padding: rem($padding-6n) 0;
  text-align: center;
  font-size: rem($font-size-primary);
  color: var(--loading-font-color);
}

.empty {
  height: rem(116);
  line-height: rem(116);
  font-size: rem($font-size-primary);
  color: var(--loading-font-color);
}