@import '../../../../../common/styles/mixin/login.scss';
@import '@common/styles/index.scss';
.content {
  padding: rem($padding-4n) rem($padding-6n) rem($padding-6n);
  height: 100%;
  background: $white;
  .item {
    position: relative;
    padding: rem($margin-2n) 0;
    &:after {
      content: '';
      height: 0;
      width: 0;
      visibility: hidden;
      clear: both;
      display: block;
    }
  }
  .input_value{
    width: 100%;
    :global(.dzq-input__inner) {
      font-size: rem($font-size-base);
      line-height: rem($font-line-height-base);
      -webkit-appearance: none;
      &::placeholder {
        color: $text-color-placeholder;
      }
    }
  }
  .button{
    @include button;
    margin-top: rem($margin-6n);
  }
  .required {
    color: $text-color-error;
  }
  .label{
    font-size: $font-size-base;
    line-height: $font-line-height-middle;
    text-align: left;
    color: $text-color-regular;
    padding-bottom: rem($margin-2n);
  }
  .imgUpload{
    :global(.dzq-upload) {
      padding: 0;
    }
    :global(.dzq-upload__area) {
      width: rem(100) !important;
      height: rem(100) !important;
      border: $border-solid-1 !important;
    }
    :global(.dzq-upload-list-card__item) {
      width: rem(100) !important;
      height: rem(100) !important;
    }
  }
  .attachmentsUpload{
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    :global(.dzq-upload) {
      padding: 0;
      width: 100%;
    }
    :global(.dzq-button--text) {
      background-color: $white;
      padding: 0;
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    :global(.dzq-icon) {
      padding-right: $padding-2n;
    }
    .attachmentsUpload-left{
      display: inline-block;
      font-size: rem($font-size-base);
      line-height: rem($font-line-height-middle);
      text-align: left;
      color: $text-color-regular;
    }
    .attachmentsUpload-right{
      cursor: pointer;
      display: inline-block;
      font-size: rem($font-size-base);
      line-height: rem($font-line-height-base);
      color: $text-color-primary;
      float: right;
    }
  }
  .attachmentsUpload_shade {
    width: 70%;
    height: 26px;
    position: absolute;
    bottom: 8px;
    left: 0;
    z-index: $zindex-backtotop;
  }
  .textarea{
    .textarea_item{
      width: 100%;
      box-sizing: border-box;
      :global(.dzq-textarea__limit){
        width: calc(100% - 15px);
        position: absolute;
        bottom: 0;
        padding-right: 0;
      }
    }
  }
  .checkbox{
    :global(.dzq-checkbox-wrap) {
      margin-right: $margin-4n;
    }
  }
}
