@import '../../../../../common/styles/mixin/login.scss';
@import '@common/styles/index.scss';
.content {
  padding: 0 rem($padding-6n);
}
.button{
  @include button;
  margin-top: rem($margin-4n);
}
@mixin paddingBottom {
  padding-bottom: rem($padding-4n);
}
.title{
  @include title;
}
.input{
  @include paddingBottom;
  margin-top: rem($margin-2n);
  input {
    width: 100%;
  }
}
.imgUpload{
  @include paddingBottom;
}
.imgUpload-dom{
  width: rem(100);
  height: rem(100);
  border-radius: rem($border-radius-small);
  background: var(--background-color);
  border: $border-solid-1;
  text-align: center;
  line-height: rem(100);
  font-size: rem($font-size-large);
  color: var(--color-text-secondary);
}
.attachmentsUpload{
  @include paddingBottom;
  float: left;
  width: 100%;
}
.attachmentsUpload-left{
  display: inline-block;
  font-size: rem($font-size-base);
  line-height: rem($font-line-height-middle);
  text-align: left;
  color: $text-color-regular;
}
.attachmentsUpload-right{
  display: inline-block;
  font-size: rem($font-size-base);
  line-height: rem($font-line-height-base);
  color: var(--color-text-primary);
  float: right;
}
.textarea{
  @include paddingBottom;
}
.radio{
  @include paddingBottom;
}
.checkbox{
  @include paddingBottom;
}