@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: rem($padding-4n) 0;
  border-bottom: 1px solid var(--border-line-color);
  .left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
      width: rem(16);
      height: rem(16);
      background-color: #000;
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.title {
  margin-left: rem($padding-2n);
  font-weight: var(--font-weight-regular);
  font-size: rem($font-size-middle);
  line-height: rem($font-line-height-primary);
  text-align: left;
  color: var(--color-text-primary);
}
.more {
  cursor: pointer;
  font-size: rem($font-size-primary);
  line-height: rem($font-line-height-middle);
  text-align: left;
  color: var(--color-text-primary);
  margin-right: rem($padding-2n);
}
.leftBox {
}
.icon1 {
  color: #3AC15F;
}
.icon2 {
  color: #FFC300;
}
.icon3 {
  color: #E02433;
}