@import '@common/styles/fn/rem.scss';

.userCenterAction {
    display: flex;
    padding: rem(16);
    flex-wrap: wrap;
    justify-content: space-between;

    .userCenterActionItemContainer {

        .userCenterActionItem {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: rem(32);
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            .userCenterActionItemIcon {}

            .userCenterActionItemDesc {
                margin-top: rem(8);
                color: #4F5A70;
            }
        }
    }

}

.userActionMobile {
    .userCenterActionItemContainer {
        display: flex;

        .userCenterActionItem {
            margin: 0;
        }
    }
}