@import '@common/styles/index.scss';

.userCenterAction {
    display: flex;
    padding: rem($padding-4n);
    flex-wrap: wrap;
    justify-content: space-between;

    .userCenterActionItemContainer {

        .userCenterActionItem {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: rem(32);
            min-width: rem(60);
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            .userCenterActionItemIcon {}

            .userCenterActionItemDesc {
                margin-top: rem($margin-2n);
                color: $text-color-regular;
                font-size: rem($font-size-small);
            }
        }
    }

}

.userActionMobile {
    .userCenterActionItemContainer {
        display: flex;

        .userCenterActionItem {
            margin: 0;
        }
    }
}