@import '@common/styles/index.scss';
@import '@common/styles/_variable.scss';

.pcEditBox {
  background: $body-bg-color;
}
.pcEditContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem($margin-5n);
}
.pcEdit {
  width: rem(1100);
  background: $white;
}
.pcEditNickname {
  padding-right: rem(194);
  height: rem(70);
  display: flex;
  justify-content: flex-end;
}
.pcEditNicknameCall {
  width: rem(595);
  display: flex;
  justify-content: space-between;
  border-bottom: rem(1) solid $border-color;
}
.pcEditNicknameText {
  font-weight: normal;
  font-size: rem( $font-size-middle);
  line-height: rem(70);
  text-align: left;
  color: $text-color-secondary;
  margin-right: rem(42);
}
.pcEditNicknameCallText {
  height: 100%;
  font-weight: normal;
  font-size: rem( $font-size-middle);
  line-height: rem(70);
  text-align: left;
  color: $text-color-primary;
  line-height: rem(70);
}
.pcEditNicknameCallMsodify {
  font-weight: normal;
  font-size: rem( $font-size-base);
  line-height: rem(70);
  text-align: right;
  color: $primary-color;
}
.pcEditAutograph {
  padding-right: rem(194);
  height: rem(146);
  display: flex;
  justify-content: flex-end;
  .pcEditAutographText {
    font-weight: normal;
    font-size: rem( $font-size-middle);
    line-height: rem(70);
    text-align: left;
    color: $text-color-secondary;
    margin-right: rem(42);
  }
  .pcEditAutographCall {
    width: rem(595);
    border-bottom: rem(1) solid $border-color;
    .pcEditAutographInput {
      width: rem(595);
      height: rem(46);
      border-radius: 5px;
      background-color: $body-bg-color;
      border: 1px solid $border-color;
      margin-top: rem($margin-6n);
      input {
        width: inherit;
        height: inherit;
        background-color: inherit;
        border: 0;
        padding: 12px 16px;
        font-size: rem( $font-size-middle);
        line-height: rem(22);
        text-align: left;
        color: $text-color-primary;
      }
    }
    .preservation {
      display: flex;
      justify-content:flex-end;
      right: 0;
      margin-top: rem($margin-4n);
      .preservationButton {
        width: rem(60);
        height: rem(36);
      }
      .preservationButton2 {
        width: rem(60);
        height: rem(36);
        background-color: $text-bg-color2;
        border: 0;
        margin-left: rem($margin-4n);
      }
    }
  }
}
.pcEditNicknameImgs {
  display: flex;
  justify-content: space-between;
}
.pcEditNicknameImg {
  width: rem(28);
  height: rem(28);
  margin: rem(26) rem($margin-3n) 0 0;
}
.pcEditWeiName {
  padding-top: rem(29);
  font-weight: normal;
  font-size: rem( $font-size-middle);
  line-height: rem(22);
  text-align: left;
  color: $text-color-primary;
}