@import '@common/styles/index.scss';

.homeContent {
  background: $white;
  margin-bottom: rem(10);
  z-index: $zindex-backtotop;
  border: 1px solid $border-color;
}
.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.homeContentTop {
  padding: 0 rem($padding-4n);
  background: $white;
  margin-bottom: rem(10);
}
.tabsBox {
  height: rem(52);
  :global {
    .dzq-tabs__bar {
      height: rem(52);
      .dzq-tabs__label {
        font-size: rem($font-size-primary);
        line-height: rem(20);
        margin-top: rem(16);
        // color: $text-color-regular;
      }
      .dzq-tabs__item.is-active {
        color: $primary-color;
      }
      .dzq-tabs__item {
        padding: 0 $padding-4n;
        color: $text-color-regular;
      }
      .dzq-tabs__scroll {
        display: flex;
      }
    }
    .dzq-tabs__panel {
      height: 0;
    }
  }
}
// .list {
//   flex: 1;
// }
.tabIcon {
  margin-left: rem($padding-2n);
  margin-right: rem($padding-4n);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .buttonIcon {
    color: var(--color-text-secondary);
  }
}

// 当tab悬浮后的占位元素样式
.tabPlaceholder {
  width: 100%;
  height: rem(58);
}
