@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.text {
    font-size: rem($font-size-label);
    color: var(--color-error);
}
.homeBox {
  background: #EFF1F3;
}
.homeContent {
  background: #fff;
  margin-bottom: rem(10);
}