@import '@common/styles/mixin/login.scss';
.container {
  height: 100vh;
}
.banner {
  @include banner;
}
.content {
  padding: 48px 24px;
  .title {
    @include title;
  }
  .otherLogin-title {
    @include otherLoginText;
    margin-top: 80px;
    font-size: 14px;
  }
  .otherLogin-button{
    text-align: center;
    margin: 16px;
  }
  .otherLogin-button-weixin {
    @include otherLoginBtn;
  }
  .otherLogin-button-user {
    @include otherLoginBtn;
  }
  .otherLogin-tips{
    @include otherLoginText;
    font-size: 12px;
    margin-top: 32px;
  }
}
 