@import '@common/styles/variable/index.scss';
@import '@common/styles/fn/rem.scss';

.setTop {
  width: rem(375);
  height: rem(52);
  background: #d7f3df;
  position: absolute;
  text-align: center;
  line-height: rem(52);
  color: #3ac15f;
  display: none;
  .setTopIcon {
    display: inline-block;
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    line-height: rem(20);
    color: var(--color-white);
    background: #3ac15f;
    margin-right: rem($margin-2n);
  }
}
.inTop {
  display: block;
  transition: all 2s; 
  opacity: 1;
}
.outTop {
  transition: all 2s; 
  opacity: 0;
  // display: none;
}

