@import '@common/styles/index.scss';

.setTop {
  width: rem(375);
  height: rem(52);
  background: var(--color-success4);
  position: absolute;
  text-align: center;
  line-height: rem(52);
  color: var(--color-success);
  display: none;
  z-index: var(--zindex-popup);
  .setTopIcon {
    display: inline-block;
    width: rem(20);
    height: rem(20);
    border-radius: $border-radius-circle;
    line-height: rem(20);
    color: var(--color-white);
    background: var(--color-success);
    margin-right: rem($margin-2n);
  }
}
.inTop {
  display: block;
  transition: all 2s;
  // TODO: 更换token
  opacity: 1;
}
.outTop {
  transition: all 2s;
  // TODO:
  opacity: 0;
}

