@import '@common/styles/index.scss';
.themeContent {
  margin-top: $margin-10;
  .item {
    margin-bottom: $margin-10;
  }
}
.bottomViewBox {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
