@import '@common/styles/index.scss';

.container {
  height: 100vh;
  width: 100vw;
  background: var(--comment-content-bg-color);
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  font-size: $font-size-primary;
  font-weight: bold;
  padding: 0 $padding-4n;
  margin-bottom: $margin-10;

  font-family: 'PingFangSC-Regular';
  font-weight: normal;
  text-align: left;
<<<<<<< Updated upstream
  color: var(--color-text-secondary);
  
  .totalMoneyNumber {
    font-family: 'PingFang SC';
    font-weight: var(--font-weight-regular);
  }
}

.body {
  background: var(--color-white);
  margin-bottom: constant(safe-area-inset-bottom); ///兼容 IOS<11.2/
  margin-bottom: env(safe-area-inset-bottom); ///兼容 IOS>11.2/
=======
  color: $text-color-secondary;
}

.body {
  background: $white;
>>>>>>> Stashed changes
  .content {
    font-weight: normal;
    padding: $padding-4n 0;
    margin: 0 $margin-4n;
    border-bottom: var(--border-border);
    .upper {
      display: flex;
      justify-content: space-between;
      font-family: 'PingFang SC';
      text-align: left;
<<<<<<< Updated upstream
      color: var(--color-text-primary);
      .title {
        font-weight: normal;
        font-size: $font-size-primary;
      }
      .amount {
        font-weight: var(--font-weight-regular);
        font-size: $font-size-middle;
      }
=======
      color: $text-color-primary;
>>>>>>> Stashed changes
    }
    .lower {
      display: flex;
      justify-content: space-between;
      font-family: 'PingFangSC-Regular';
      font-size: $font-size-label;
      text-align: left;
<<<<<<< Updated upstream
      color: var(--color-text-secondary);
      padding-top: $padding-2n;
=======
      color: $text-color-secondary;
      padding-top: $padding-5n;
>>>>>>> Stashed changes
    }
  }
}
