@import '@common/styles/index.scss';

@mixin img {
  height: 169px;
  width: 169px;
  border-radius: 5px;
  background: $body-bg-color;
  display: flex;
  align-items: center;
}

@mixin atta {
  height: 52px;
  border-radius: 5px;
  background: $body-bg-color;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.upload-atta {
  @include atta;
  justify-content: center;
  color: $text-color-secondary;

  .text {
    line-height: 52px;
    margin-left: 8px;
    font-size: var(--font-size-primary);
  }
}

.upload-img {
  @include img;
  justify-content: center;
  flex-direction: column;
  color: $text-color-secondary;
  margin-bottom: 5px;

  .text {
    margin-top: 8px;
    font-size: var(--font-size-primary);
  }
}

.atta {
  @include atta;
  justify-content: space-between;
  padding: 0 16px;

  .left {
    display: flex;
    align-items: center;
    width: 90%;
  }

  .name {
    line-height: 52px;
    color: var(--color-text-primary);
    margin-left: 8px;
    font-size: var(--font-size-primary);
    display: inline-block;
    white-space: nowrap;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .size {
    line-height: 52px;
    color: $text-color-regular;
    font-size: var(--font-size-label);
  }
}

.img {
  @include img;
  justify-content: space-between;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;

  Image {
    max-width: 100%;
    max-height: 100%;
  }

  .delete {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: $white;
    background-color: $black;
    opacity: 0.5;
    height: 40px;
    bottom: 0;
    width: 100%;
  }
}

.product {
  height: 114px;
  padding: 10px;
  border-radius: 5px;
  background: $body-bg-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .image {
    width: 82px;
    height: 82px;
  }
  .content {
    width: 225px;

    .desc {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 14px;
      line-height: 24px;
      text-align: left;
      color: $text-color-regular;
      margin-bottom: 8px;
    }

    .opera {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        color: var(--color-error);
      }
    }
  }
}

.video {
  margin-top: 8px;
  width: 100%;
  border-radius: 5px;
}

.tag {
  display: flex;
  align-items: center;
  height: 25px;
  border-radius: 5px;
  background: $text-bg-color2;
  color: $text-color-regular;
  padding: 4px;
  margin: 9px 8px 9px 0;
  font-size: var(--font-size-label);
}