@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.container {
  // width: 100%;
  width: calc(100% - rem(48));
  background: #fff;
  padding: 0 rem($font-line-height-primary);
}

.header {
  height: rem(50);
  display: flex;
  justify-content: space-between;
  font-family: 'PingFang SC';
  font-weight: normal;
  background: var(--color-white);
  .number {
    font-size: rem($font-size-middle);
    text-align: left;
    color: var(--color-text-primary);
    line-height: rem(50);
  }
  .sort {
    font-size: rem($font-size-primary);
    line-height: rem(50);
    text-align: left;
    color: var(--color-text-secondary);
    .sortText {
      padding-left: rem(4);
    }
  }
}

.body {
  .commentItems {
    padding-bottom: rem($padding-5n);
    border-bottom: solid rem(1) #eee;
  }
}
