@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.container {
  width: calc(100% - rem(32));
  background: #fff;
  padding: rem($padding-4n);
  margin-bottom: rem(20);
}

.operation {
  position: absolute;
  right: rem(44);
  top: rem(26);
  z-index: 999;
  text-align: center;
  .triangle {

  }
  .operationBtn {
    width: rem(100);
    height: rem(140);
    background: #fff;
    padding: rem(10);
    box-shadow: 0 2px 12px 0 rgba($color: #000, $alpha: 0.1);
    .btn {
      height: rem(36);
      color: #606266;
      padding: 0 rem($padding-5n);
      font-size: rem(14);
      text-align: center;
      line-height: rem(36);
      border-bottom: rem(1) solid #eee;
      border-radius: rem(4);
    }
    .btn:last-child {
      border-bottom: none;
    }
    .btn:hover{
      color: var(--color-primary);
      cursor: pointer;
    }
  }
}
.isShowOperation {
  display: none;
}

.header {
  // height: rem(54);
  background: var(--color-white);
  display: flex;
  justify-content: space-between;
  position: relative;
  .headerRigth {
    display: flex;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #8490a8;
    .manage {
      margin-left: rem($margin-4n);
    }
    .report {
      margin-left: rem($margin-4n);
    }
    .icon {
      margin-right: rem($margin-2n);
      margin-top: rem(-2);
    }
  }
}

.essence {
  margin-right: rem($margin-2n);
}

.body {
  margin-top: rem($margin-4n);

  >* {
    margin-bottom: rem($margin-5n);
  }
}

.image {
  width: 100%;
}

.reward {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rewardButton {
  margin: 0 auto;
  width: rem(156);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text-secondary);
  font-size: rem($font-size-primary);
}

.thumbs {
  display: flex;
  align-items: center;
  font-size: rem($font-size-primary);
}