@import '@common/styles/index.scss';
.commentList {
  padding: 16px;
  .header {
    display: flex;
    justify-content: flex-end;

    .showGet {
      width: 100%;
      padding-left: 48px;
      display: flex;
      justify-content: space-between;

      .revise {
        font-size: 14px;
        text-align: left;
        color: var(--color-text-secondary);
        margin-right: 10px;
      }

      .headerRigth {
        display: flex;
        .showMoneyNum {
          font-size: 12px;
          text-align: left;
          color: var(--color-text-primary);
          margin-left: 10px;
          .moneyNumber {
            color: var(--color-error);
          }
        }
        .more {
          font-size: 12px;
          text-align: left;
          color: var(--color-text-primary);
          margin-left: 20px;
          .moreIcon {
            margin-top: -4px;
          }
        }
      }

    }
  }
  .content {
    display: flex;
    padding-top: 10px;
    .commentListAvatar {
      margin-right: 10px;
      .avater {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        image {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
    .commentListContent {
      width: 100%;
      .commentListContentText {
        padding: 8px;
        border-radius: 5px;
        background: var(--comment-box-bg-color);
        .commentListName {
          font-weight: var(--font-weight-regular);
          font-size: 14px;
          line-height: 18px;
          text-align: left;
          color: var(--color-text-primary);
        }
        .commentListText {
          font-size: 16px;
          line-height: 26px;
          text-align: left;
          color: var(--color-text-primary);
        }
      }
      .commentListFooter {
        .commentBtn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 14px;
          text-align: left;
          color: var(--color-text-secondary);
          padding-top: 8px;
          .commentTime {
            // flex: 1;
          }
          .commentLiked {
            // flex: 1;
          }
          .commentLike {
            // flex: 1;
            color: var(--color-primary);
          }
          .commentReply {
            // flex: 1;
          }
          .commentDelete {
            // flex: 1;
          }
          .commentAdopt {
            // flex: 1;
          }
        }
        .moreReply {
          font-weight: var(--font-weight-regular);
          font-size: 14px;
          text-align: left;
          color: var(--color-text-primary);
          padding-top: 16px;
        }
      }
    }
  }
  .extra {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > View {
      margin-right: 8px;
    }
  }
  .extraBottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > View {
      margin-left: 24px;
    }
  }
}
