@import '@common/styles/index.scss';
@import '@common/styles/_variable.scss';

.verifyCodeBtn {
  min-width: rem(96);
  height: rem(36);
  font-size: rem($font-size-primary);
}
.verifyCodeDisabled {
  color: var(--color-disabled);
}