@import '@common/styles/index.scss';
.rewards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-white);
  :global {
    .dzq-input {
      display: inline-block;
      width: 40px;
    }
    .dzq-input__inner {
      border: none;
      padding: 0;
      text-align: center;
    }
    .datepicker-modal{
      z-index: 1500 !important;
    }
  }
  .line-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
  }
}

.btn {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 343px;
  height: 52px;
  border-top: 1px solid #eee;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  :global {
    .dzq-button {
      width: 166px;
      height: 42px;
    }
  }
}