@import '@common/styles/index.scss';
.indexLeft {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .indexLeftBox {
    width: 100%;
  }
}
.indexRight {
  width: 100%;
  .indexRightCon {
    margin-top: rem($margin-5n);
    border-radius: rem($border-radius-small);
    overflow: hidden;
  }
}
.indexContent {
  // margin-top: rem(68);
  width: 100%;
  position: relative;
  // min-width: rem(652);
  .contnetTop {
    width: 100%;
    background: var(--color-white);
    box-sizing: border-box;
    border-radius: rem(5);
  }
}
.publishBtn {
  width: rem(88);
  height: rem(36);
}

.topWrapper {
  width: 100%;
  position: sticky;
  top: rem(-1);
  left: 0;
  display: flex;
  z-index: 1000;
  background: $body-bg-color;
  border-radius: rem(5);

  &:after {
    content: '';
    background-color: var(--border-line-color);
    height: 1px;
    position: absolute;
    right: rem(24);
    left: rem(24);
    bottom: 0;
  }

  .topBox {
    position: relative;
    width: 100%;
    padding: rem(6.5) rem(24);
    display: flex;
    align-items: center;
    background: var(--color-white);
    border-radius: rem(5);
    flex-wrap: wrap;
    justify-content: center;

   
    @media only screen and (min-width: 800px) and (max-width: 990px) {
      align-items: flex-start;
      flex-direction: column;
      .PostTheme {
        flex-shrink: 0;
        width: 100%;
        :global {
          .dzq-button{
            width: 100%;
          }
        }
      }
    }

    .PostTheme {
      flex-shrink: 0;
    }
  }
}
.TopNewsBox {
  padding: rem($padding-2n) 0;
  margin: 0 rem($margin-6n);
  border-bottom: 1px solid var(--border-line-color);
}
.noBorder {
  border-bottom: none;
}
.topNewContent {
  padding: rem($padding-10) 0;
  margin: 0 rem($margin-6n);
  border-radius: rem(5);
}
.themeBox {
  overflow: hidden;
  margin-top: rem($margin-5n);
  .themeItem {
    margin-bottom: rem($margin-10);
  }
}

.backTop {
  visibility: visible;
  position: fixed;
  right: rem(20);
  bottom: rem(20);
}
.footer {
  height: rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem($font-size-primary);
  color: var(--color-text-secondary);
  .spin {
    margin-right: rem(4);
  }
}


