@import '@common/styles/index.scss';
.indexLeft {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .indexLeftBox {
    width: 100%;
  }
}
.indexRight {
  width: 100%;
  .indexRightCon {
    margin-top: rem($margin-5n);
    border-radius: rem($border-radius-small);
    overflow: hidden;
  }
}
.indexContent {
  width: 100%;
  min-width: rem(652);
  .contnetTop {
    width: 100%;
    background: var(--color-white);
    box-sizing: border-box;
    border-radius: rem($border-radius-small);
  }
}
.publishBtn {
  width: rem(88);
  height: rem(36);
}
.topBox {
  position: relative;
  padding: rem(7) 0  rem(7) rem($margin-2n);
  .PostTheme {
    position: absolute;
    right: rem($padding-6n);
    top: rem($padding-4n);
  }
}
.TopNewsBox {
  padding: rem($padding-2n) 0;
  margin: 0 rem($margin-6n);
  border-top: 1px solid var(--border-line-color);
  border-bottom: 1px solid var(--border-line-color);
}
.noBorder {
  border-bottom: none;
}
.topNewContent {
  padding: rem($padding-10) 0;
  margin: 0 rem($margin-6n);
}
.themeBox {
  overflow: hidden;
  margin-top: rem($margin-5n);
  .themeItem {
    margin-bottom: rem($margin-10);
  }
}

.backTop {
  visibility: visible;
  position: fixed;
  right: rem(20);
  bottom: rem(20);
}
.footer {
  height: rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem($font-size-primary);
  color: var(--color-text-secondary);
  .spin {
    margin-right: rem(4);
  }
}


