@import '@common/styles/var.scss';
@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.container {
  overflow: hidden;
  height: rem(165);
  position: relative;
  .topBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem($padding-4n);
    box-sizing: border-box;
    .goback{
      transform: rotate(180deg);
    }
  }
  .logoBox {
    margin-top: rem(57.8);
    max-height: rem(40);
    overflow: hidden;
    .logo {
      display: block;
      max-height: rem(40);
      margin: 0 auto;
    }
  }
  .digest{
    margin-top: rem(32);
    display: flex;
    align-items: center;
    justify-content: center;
    .left{
      margin-right: rem(16);
    }
    .left,.right{
      font-weight: normal;
      font-size: rem($font-size-primary);
      line-height: rem($font-line-height-middle);
      color: var(--color-white);
    }
  }
  .siteInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 rem($padding-10);
    box-sizing: border-box;
    position: absolute;
    bottom: rem($font-line-height-primary);
    .text {
      font-size: rem($font-size-middle);
      line-height: rem(24);
      color: var( --color-white);
      font-weight: normal;
      opacity: 0.6;
    }
    .shareText {
      font-family: PingFangSC-Regular;
      font-size: rem($font-size-middle);
      line-height: rem(24);
      color: var( --color-white);
      font-weight: normal;
    }
    .content {
      font-size: rem($font-size-middle);
      color: var( --color-white);
      font-weight: normal;
      padding-left: rem($padding-2n);
    }
    .shareIcon {
      display: inline-block;
      color: var( --color-white);
      opacity: 0.6;
      padding-bottom: rem(2);
      padding-right: rem($padding-2n);
      box-sizing: border-box;
    }
    
  }
}