@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.list {
  width: 100%;
  .item {
    display: flex;
    align-items: center;
    font-size: rem($font-size-primary);
    line-height: rem(54);
    height: rem(54);
    border-bottom: 1px solid #eee;
    &:last-child{
      border-bottom: none;
    }
    .index {
      font-size: inherit;
      line-height: rem($font-line-height-primary);
      margin-right: rem($padding-2n);
      text-align: center;
    }
    .text {
      font-size: inherit;
      line-height: rem($font-line-height-primary);
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }
  .footerItem {
    margin-bottom: 0;
  }
}

.itemIndex1 {
  color: var(--color-error);
}
.itemIndex2 {
  color: var(--color-error);
  opacity: 0.8;
}
.itemIndex3 {
  color: var(--color-error);
  opacity: 0.6;
}
.itemIndex4 {
  color: var(--color-error);
  opacity: 0.5;
}
.itemIndex5 {
  color: #ffc300;
}
.itemIndex6 {
  color: #ffc300;
  opacity: 0.8;
}
.itemIndex7 {
  color: #ffc300;
  opacity: 0.6;
}
.itemIndex8 {
  color: #ffc300;
  opacity: 0.5;
}
.itemIndex9 {
  color: #ffc300;
  opacity: 0.4;
}
.itemIndex10 {
  color: #ffc300;
  opacity: 0.3;
}
