.painter {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: '#fff';
  }
  .cent {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: --color(--qui-FC-FFF);
    border-radius: 10px;
    box-shadow: 0 3rpx 6rpx rgba(0, 0, 0, 0.16);
    
  }
  .centImage {
    display: block;
    width: 100%;
    height: 100%;
  }
  .canvasBox {
    width: 100%;
    height: 100%;
    padding-top: 41rpx;
    margin-bottom: 80rpx;
  }
  .shareBtn {
    margin:20px 20px;
    .btn {
        background-color: #007aff;
    }
}
