@import '@common/styles/index.scss';

.content {
  padding: rem($padding-6n);
  padding-bottom: 0;
  h3 {
    font-size: rem($font-size-large);
    color: $text-color-primary;
    margin-bottom: rem($margin-5n);
    letter-spacing: 1px;
  }
  .labelInfo {
    padding: rem($margin-3n) 0 rem($margin-4n);
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem($margin-6n);
    .labelName {
      color: $text-color-regular;
      font-size: $font-size-primary;
      margin-right: rem($margin-4n);
    }
    .labelValue {
      color: $text-color-primary;
      font-size: $font-size-middle;
    }
    .codeBtn {
      height: rem(36);
      font-size: rem($font-size-primary);
    }
    .labelInput {
      :global {
        .dzq-input__inner {
          border: none;
        }
      }
    }
  }
  .bindCode {
    color: $text-color-regular;
    font-size: $font-size-primary;
  }
}

#findPayPwdContent {
  .bottom {
    position: fixed;
    bottom: 0;
    width: calc(100% - 32px);
    border-top: 1px solid $border-color;
    padding: rem($padding-2n) rem($padding-4n) rem($padding-4n);
    display: flex;
    justify-content: center;
    background-color: $white;
    .btn {
      height: rem(42);
      font-size: $font-size-middle;
      border-radius: $border-radius-small;
    }
  }
}

.labelInfo {
  padding: 0 rem($padding-6n) 0;
  height: rem(62);
  box-sizing: border-box;

  .labelValue {
    color: $text-color-primary;
    font-size: $font-size-middle;
    border-bottom: 1px solid $border-color;
    flex: 1;
    height: rem(61);
    display: flex;
    align-items: center;

    :global {
      .dzq-input {
        width: 100%;
        height: 100%;
        padding-top: rem(24);
        box-sizing: border-box;
      }

      .dzq-input__inner {
        width: 100%;
        border: none;
        height: rem(22);
        font-size: $font-size-middle;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
      }

      .dzq-input__icon {
        top: rem(24) ;
        height: rem(22);
        line-height: rem(22);

        &:hover {
          color: $disabled-color;
        }

        &:active {
          color: $primary-color;
        }
      }
    }
  }
}


#findPayPwdContent {
  .bootom2 {
    bottom: rem(200);
  }
}


