@import '@common/styles/index.scss';
.container {
  width: 100%;

  .activeItem {
    color: $primary-color !important;
    position: relative;
    font-weight: 600;
  }

  :global {
    .dzq-menu--horizontal {
      box-sizing: border-box;
      height: rem(68);
      padding-top: rem(8);
      border-top-left-radius: rem($border-radius-small);
      border-top-right-radius: rem($border-radius-small);
      padding-left: rem($padding-2n);
    }
    .dzq-submenu__title {
      .dzq-icon {
        font-size: rem(10) !important; // Menu组件里面的icon写死了12px大小
      }
    }

    .dzq-menu--horizontal .dzq-submenu > .dzq-menu .dzq-menu-item.is-divided:last-child {
      border-bottom: none !important; // 组件库中有相应逻辑但被加了important
    }

    .dzq-submenu__title.is-active {
      font-weight: 600;
    }

    .dzq-menu .dzq-menu-item.is-active {
      font-weight: 600;
    }

    .dzq-submenu > .dzq-menu .dzq-menu-item.is-active {
      font-weight: initial;
    }
  }
}
.line {
  position: absolute;
  bottom: rem(12);
  left: 30%;
  width: 40%;
  height: 2px;
  border-radius: rem(1);
  background: $primary-color;
}
