@import '@common/styles/index.scss';
.container {
  width: 100%;

  .activeItem {
    color: #0265ff !important;
    position: relative;
    font-weight: 600;
  }

  :global {
    .dzq-submenu__title.is-active {
      font-weight: 600;
    }

    .dzq-menu .dzq-menu-item.is-active {
      font-weight: 600;
    }

    .dzq-submenu > .dzq-menu .dzq-menu-item.is-active {
      font-weight: initial;
    }
  }
}
.line {
  position: absolute;
  bottom: 10px;
  left: 30%;
  width: 40%;
  height: 2px;
  border-radius: 1px;
  background: #0265ff;
}
