@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: rem($padding-4n) 0;
  .left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.title {
  font-weight: var(--font-weight-regular);
  font-size: rem($font-size-middle);
  line-height: rem($font-line-height-primary);
  text-align: left;
  color: var(--color-text-primary);
}
.more {
  font-size: rem($font-size-primary);
  line-height: rem($font-line-height-middle);
  text-align: left;
  color: var(--color-text-primary);
  margin-right: rem($padding-2n);
}
