@import '@common/styles/index.scss';

.container {
  background: var(--color-white);
  border-radius: $border-radius-big $border-radius-big 0 0;
}

.main {
  padding: $padding-4n $padding-4n 0;
  border-bottom: --border-border;
}

.header {
  font-weight: bold;
  font-size: $font-size-middle;
  line-height: 17.8px;
  text-align: left;
  color: var(--color-text-primary);
}

.body {
  width: 100%;
  .percentage {
    display: flex;
    flex-direction: column;
    border-bottom: var(--border-border);
    .text {
      font-weight: normal;
      font-size: $font-size-primary;
      line-height: 17.8px;
      text-align: left;
      color: $text-color-regular;
      padding: $padding-4n 0 $padding-2n 0;
    }
    .slider {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: $padding-2n;
      .perCent {
        color: $text-color-primary;
      }
      :global {
        .dzq-slider__progress__button {
          width: 0px;
          height: 0px;
          padding: 5px;
          border-radius: 50%;
          border: solid 7px var(--color-primary);
        }
        .dzq-slider__progress--active {
          height: 4px;
        }
        .dzq-slider__feature {
          height: 4px;
        }
      }
    }
  }
  .rewardMoney {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-primary;
    font-weight: normal;
    padding: $padding-4n 0;
    .text {
      line-height: 17.8px;
      text-align: left;
      color: $text-color-regular;
    }
    .moneyNum {
      line-height: 16.8px;
      text-align: left;
      color: $text-color-primary;
    }
    :global {
      .dzq-input {
        width: 90px;
        height: 30px;
        .dzq-input__inner {
          width: 90px;
          height: 30px;
        }
      }
    }
  }
}

.button {
  display: flex;
  justify-content: space-between;
  padding: $padding-2n $padding-4n 19px;

  .cancel {
    width: 167px;
    height: 42px;
    line-height: $font-line-height-base;
    border-radius: $border-radius-small;
    color: $text-color-primary;
    background: var(--background-color-text2);
  }
  .ok {
    width: 167px;
    height: 42px;
    line-height: $font-line-height-base;
    border-radius: $border-radius-small;
    background: var(--color-primary);
  }
}
