@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.container {
  position: relative;
  max-width: rem(44);
  .img {
    border-radius: rem(12);
    border: var(--color-white) solid rem(1);
    width: rem(24);
  }
  .imgAfter {
    position: absolute;
    z-index: -1;
    border-radius: rem(12);
    right: -rem(1);
    top: 0;
    width: rem(24);
  }
}