.list {
  width: 100%;
  flex: 1;
  .userItem {
    padding: $padding-4n;
    &:after {
      content: ' ';
      position: absolute;
      right: 16px;
      left: 16px;
      height: 1px;
      bottom: 0;
      background-color: $border-color;
    }
  }
}
