@import '@common/styles/index.scss';

.inputClick {
  :global {
    .dzq-input.is-disabled .dzq-input__inner {
      background-color: var(--comment-box-bg-color);
    }
  }
  .input {
    width: rem(176);
  }
}

.icon {
  margin-left: rem($margin-6n);
  display: inline-block;

  // TODO:暂未提供token
  color: #8590A6;

  :first-child {
    margin-left: 0;
  }
}
