@import '@common/styles/index.scss';

.inputClick {
  :global {
    .dzq-input.is-disabled .dzq-input__inner {
      background-color: var(--comment-box-bg-color);
      -webkit-appearance: none; // ios下去除上面阴影
    }
  }
  .input {
    width: rem(176);
  }
}

.icon {
  margin-left: rem($margin-6n);
  display: inline-block;
  position: relative;

  // TODO:暂未提供token
  color: var(--color-text-secondary);

  :first-child {
    margin-left: 0;
  }
}

.badge {
  min-width: rem(16);
  height: rem(16);
  font-size: rem(12);
  text-align: center;
  color: var(--color-white);
  background: var(--color-error);
  border-radius: rem(8);
  padding: 0 rem(6);
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: rem(-8);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(50%);
  .text{
    font-size: rem(12);
    line-height: rem(18);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.83);
  }
}

.isCricle {
  width: rem(16);
}
