@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: flex-start;
  justify-content: flex-start;
  background: #f4f6f7;
}

.header {
  width: 100%;
  height: rem(50);
  padding: 0 rem($padding-4n);
  box-sizing: border-box;
  background: var(--color-white);
  border-bottom: var(--border-border);
  display: flex;
  align-items: center;
}

.setTop {
  width: rem(375);
  height: rem(52);
  background: #d7f3df;
  position: absolute;
  text-align: center;
  line-height: rem(52);
  color: #3ac15f;
  display: none;
  .setTopIcon {
    display: inline-block;
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    line-height: rem(20);
    color: var(--color-white);
    background: #3ac15f;
    margin-right: rem($margin-2n);
  }
}
.inTop {
  display: block;
  transition: all 2s; 
  opacity: 1;
}
.outTop {
  transition: all 2s; 
  opacity: 0;
  // display: none;
}

.body {
  width: 100%;
  flex: 1;
  overflow-y: auto;

  .bottom {
    margin-top: rem($margin-10);
  }
}

.footer {
  width: 100%;
  height: rem(50);
  padding: 0 rem($padding-4n);
  box-sizing: border-box;
  background: var(--color-white);
  border-top: var(--border-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
