@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.container {
  background: var(--color-white);
  padding: rem($padding-4n);
}

.header {
  // height: rem(54);
  background: var(--color-white);
  display: flex;
  justify-content: space-between;
}

.essence {
  margin-right: rem($margin-2n);
}

.body {
  margin-top: rem($margin-4n);

  >* {
    margin-bottom: rem($margin-5n);
  }
}

.image {
  width: 100%;
}

.reward {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rewardButton {
  margin: 0 auto;
  width: rem(156);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text-secondary);
  font-size: rem($font-size-primary);
}

.thumbs {
  display: flex;
  align-items: center;
  font-size: rem($font-size-primary);
}

.buyBtn {
  margin-top: rem($margin-4n);
  width: 100%;
  height: rem(36);
}

.tag {
  display: inline-block;
  color: var(--color-text-regular);
  background: var(--background-color);
  font-size: rem($font-size-label);
  padding: rem($padding-2n) rem($padding-1n);
  border-radius: rem($border-radius-small);
}

.liked {
  display: flex;
  align-items: center;

  span {
    margin-left: rem(8);
  }
}

.isLiked {
  color: var(--color-primary);
}

.likeReward {
  margin-left: rem(16);
}