@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.container {
  background: var(--color-white);
  padding: rem($padding-4n);
}

.header {
  height: rem(54);
  background: var(--color-white);
}

.body {
  margin-top: rem($margin-4n);

  >* {
    margin-bottom: rem($margin-5n);
  }
}

.image {
  width: 100%;
}
