@import '@common/styles/index.scss';

.additionalWrapper {
  background-color: $white;
  padding: $padding-4n;
}

.additionalContainer {
  .title {
    display: flex;
    justify-content: space-between;
    margin-top: $margin-2n;
    height: 28px;
    line-height: 28px;
    margin-bottom: $margin-2n;
  }
  .titleValue {
    flex: 1;
    font-size: $font-size-large;
    color: $text-color-primary;
    font-weight: var(--font-weight-regular);
  }
  .additionItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size-primary;
    padding: $padding-4n 0;
    border-bottom: var(--border-border);
    .additionLabel {
      color: $text-color-regular;
      height: 20px;
      line-height: 20px;
    }
    .additionValue {
      color: $text-color-primary;
      height: 20px;
      line-height: 20px;
      .additionFile {
        margin-left: $margin-1n;
      }
    }
  }
  .additionIdentityCard {
    flex-direction: column;
    .additionLabel {
      align-self: flex-start;
    }
    .cardItem {
      display: flex;
      justify-content: space-between;
      margin-top: $margin-4n;
    }
    .identityCard {
      width: 166px;
      height: 104px;
      border-radius: 5px;
      background: #eee;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .iCardText {
        position: absolute;
        z-index: 1;
        color: $text-color-regular;
      }
    }
    .identityCard:nth-child(1) {
      margin-right: $margin-5n;
    }
  }
  .additionTips {
    margin-top: 14px;
    color: $text-color-secondary;
    font-size: $font-size-small;
    .note {
      color: $error-color;
    }
  }
}
