@import '@common/styles/index.scss';

.container {
  width: 245px;
  height: 125px;
  border-radius: var(--border-radius-small);
  background: var(--color-white);
  margin: 0 auto;
  .deleteTips {
    color: var(--color-text-primary);
    border-bottom: var(--border-border);
    .tips {
      width: 100%;
      font-weight: var(--font-weight-regular);
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      padding-top: 20px;
    }
    .content {
      width: 100%;
      font-size: 14px;
      line-height: 26px;
      text-align: center;
      padding: 10px 0;
    }
  }
  .btn {
    display: flex;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    .close {
      width: 50%;
      border-right: var(--border-border);
    }
    .ok {
      width: 50%;
      color: var(--color-primary);
    }
  }
}

.button {
  width: 100%;
}
