@import '@common/styles/index.scss';

.container {
  padding: rem($padding-4n) 0;
  background-color: $white;
  border-bottom: 1px solid var(--border-line-color);

  .title {
    font-size: rem($font-size-middle);
    line-height: rem($font-line-height-middle);
    font-weight: var(--font-weight-bold);
    color: $text-color-primary;
  }
  .content {
    display: box;
    font-size: rem($font-size-middle);
    line-height: rem(26);
    max-height: rem(50);
    margin: rem($padding-4n) 0;
    @include lamp-clamp($line: 2);
    .richText{
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: rem($font-size-middle);
    }
  }
  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    .tag {
      font-size: rem($font-size-base);
      line-height: rem($font-line-height-middle);
      color: $text-color-secondary;
    }
    .dot {
      margin: 0 rem($padding-2n);
      color: $text-color-secondary;
    }
  }
}

