@import '@common/styles/var.scss';
@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.section {
  margin: 0 auto;
  .title {
    font-weight: bold;
    font-size: rem($font-size-middle);
    line-height: rem($font-line-height-primary);
    color: #0b0b37;
    padding: rem(14) 0 rem($padding-4n);
  }
  .itemWrap {
    display: flex;
    flex-flow: wrap;
  }
  .itemWrap li {
    min-width: rem(76);
    height: rem(36);
    border-radius: rem($border-radius-small);
    padding: rem($padding-2n) rem($padding-10);
    box-sizing: border-box;
    font-size: rem($font-size-primary);
    line-height: rem(20);
    text-align: center;
    color: var( --color-text-primary);
    margin: 0 rem($padding-10) rem($padding-10) 0;
  }
  .itemDetail li {
    background: var(--background-color-text2);
  }
  .itemDetail .active {
    background: var(--color-primary);
    color: var(--color-white);
  }
  .secondLevel li {
    background: #e8f0fe;
  }
  .secondLevel .active {
    color: var(--color-primary);
  }
}