@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.list {
  width: 100%;
  padding: rem(24) 0;
  .item {
    display: flex;
    margin-bottom: rem(22);
    .img {
      width: rem(116);
      height: rem(116);
      background: #eee;
    }
    .content {
      padding: rem(4) rem(24) 0;
    }
    .title {
      font-size: rem(16);
      line-height: rem(26.25);
      color: #0b0b37;
      font-weight: 700;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    .num {
      display: flex;
      font-size: rem(12);
      line-height: rem(16.8);
      color: #8590a6;
      margin: rem(8) 0;
      .numItem {
        margin-right: rem(12);
      }
      .numIcon {
        margin-right: rem(4);
      }
    }
    .text {
      font-size: 16px;
      line-height: 26px;
      color: #0b0b37;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
  .item:last-child {
    margin-bottom: 0;
  }
}
