@import '@common/styles/index.scss';

.container {
  background: var(--color-white);
  padding: rem($padding-4n);
}

.header {
  background: var(--color-white);
  display: flex;
  justify-content: space-between;
}

.userInfo {
  flex: 1;
}

.more {
  padding-left: rem($padding-2n);
}

.essence {
  margin-right: rem($margin-2n);
}

.body {
  margin-top: rem($margin-4n);

  > * {
    margin-bottom: rem($margin-5n);
  }
}

.title {
  color: var(--color-text-primary);
  line-height: 21px;
  font-weight: var(--font-weight-regular);
  font-size: rem($font-size-middle);
}

.image {
  width: 100%;
}

.reward {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rewardBody {
  text-align: center;
  margin-bottom: rem($margin-6n);
}

.rewardButton {
  margin: 0 auto;
  width: rem(156);
}

.payButton {
  width: rem(234);
}

.pay {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payIcon {
  margin-right: rem($margin-2n);
}

.rewardext {
  font-size: rem($font-size-base);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text-secondary);
  font-size: rem($font-size-primary);
}

.buyBtn {
  margin-top: rem($margin-4n);
  width: 100%;
  height: rem(36);
}

.buyContent {
  display: flex;
  align-items: center;
  justify-content: center;

  .buyText {
    // margin-left: rem($margin-2n);
  }
}

.tag {
  display: inline-block;
  // TODO:token  $text-color-regular不生效
  // color: $text-color-regular;
  color: var(--color-text-regular);
  background: #f0f1f3; // TODO:token
  font-size: rem($font-size-label);
  padding: rem($padding-1n);
  border-radius: rem($border-radius-small);
  margin-bottom: rem($padding-4n);
  line-height: rem(17);
}

.thumbs {
  display: flex;
  align-items: center;
  font-size: rem($font-size-primary);
}

.liked {
  display: flex;
  align-items: center;

  span {
    margin-left: rem($margin-2n);
  }
}

.isLiked {
  color: var(--color-primary);
}

.likeReward {
  margin-left: rem($margin-4n);
}

.examine {
  padding: rem(8) 0;
  background: var(--color-error);
  color: var(--color-white);
  text-align: center;
  font-size: rem(14);
}

.rewardText {
  padding: rem($padding-4n) 0;
  background: $body-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $border-radius-small;
  
  .rewardMoney {
    line-height: rem($font-line-height-base);
    font-size: rem($font-size-primary);
    color: var(--color-text-primary);
  }
  .rewardNumber {
    color: var(--color-error);
  }

  .rewardTime {
    margin-top: rem($margin-1n);
    font-size: rem($font-size-label);
    color: var(--color-text-secondary);
    text-align: center;
  }
}
