@import '@common/styles/index.scss';

.contianer {
  position: relative;
  display: flex;
  cursor: pointer;
  font-family: 'PingFangSC-Semibold';
}

.avatar {
  width: rem(38);
  height: rem(38);
}

.right {
  flex: 1;
  margin-left: rem($margin-2n);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}

.name {
  color: var(--color-text-primary);
  font-size: rem($font-size-primary);
  font-weight: bold;
  max-width: rem(100);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.groupName {
  color: var(--color-text-secondary);
  font-size: rem($font-size-label);
  margin-left: rem($margin-2n);
  max-width: rem(100);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta {
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  font-size: rem($font-size-label);
}

.time {
  margin-right: rem($margin-10);
  font-size: rem($font-size-label);
}

.location {
  margin-right: rem($margin-10);
  display: flex;
  align-items: center;

  span {
    margin-left: rem($margin-1n);
    font-size: rem($font-size-label);
    max-width: rem(100);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.view {
  margin-right: rem($margin-10);
  display: flex;
  align-items: center;

  span {
    margin-left: rem($margin-1n);
    font-size: rem($font-size-label);
  }
}

.tags {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;

  >div {
    margin-left: rem(8);
  }
  :global {
    .dzq-tag::after {
      z-index: 1;
    }
  }
}
