@import '@common/styles/index.scss';

.contianer {
  position: relative;
  display: flex;
  font-family: 'PingFangSC-Semibold';
}

.cursor {
  @include cursor-on-pc;
}

.avatar {
  width: rem(38);
  height: rem(38);
}

.right {
  flex: 1;
  margin-left: rem($margin-2n);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.name {
  color: var(--color-text-primary);
  font-size: rem($font-size-primary);
  font-weight: bold;
  max-width: rem(100);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: rem(20);

  &.pc {
    max-width: rem(210);
  }
}

.groupName {
  color: var(--color-text-secondary);
  font-size: rem($font-size-label);
  margin-left: rem($margin-2n);
  max-width: rem(100);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: rem(20);
}
.groupNameText {
  max-width: rem(62.5);
}
.meta {
  margin-top: rem(1);
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  font-size: rem($font-size-label);
  height: rem(17);
}

.time {
  margin-right: rem($margin-10);
  font-size: rem($font-size-label);
}

.location {
  margin-right: rem($margin-2n);
  display: flex;
  align-items: center;

  span {
    margin-left: rem($margin-1n);
    font-size: rem($font-size-label);
    max-width: rem(100);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.view {
  margin-right: rem($margin-2n);
  display: flex;
  align-items: center;

  span {
    margin-left: rem($margin-1n);
    font-size: rem($font-size-label);
  }

  .viewIcon {
    color: $text-color-secondary;
  }
}

.tags {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;

  .categoryEssence {
    box-sizing: border-box;
    color: var(--color-orange);
    border: rem(1) solid var(--color-orange6);
    &:after {
      background-color: var(--color-orange);
    }
  }

  .pay {
    color: $success-color;
    border: rem(1) solid $success-color;
    &:after {
      background-color: $success-color;
    }
  }

  .reward {
    color: $warn-color;
    border: rem(1) solid $warn-color;
    &:after {
      background-color: $warn-color;
    }
  }

  .red {
    color: $text-color-error;
    border: rem(1) solid $text-color-error;
    &:after {
      background-color: $text-color-error;
    }
  }

  > div {
    margin-left: rem(8);
  }
  :global {
    .dzq-tag{
      display: flex;
      align-items: center;
      justify-content: center;

      &:after {
      z-index: 1;
    }
  }
  }
}
.listItemIcon {
  color: $primary-color;
}
