@import '@common/styles/index.scss';

.contianer {
  @include cursor-on-pc;
  position: relative;
  display: flex;
  font-family: 'PingFangSC-Semibold';
}

.avatar {
  width: rem(38);
  height: rem(38);
}

.right {
  flex: 1;
  margin-left: rem($margin-2n);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}

.name {
  color: var(--color-text-primary);
  font-size: rem($font-size-primary);
  font-weight: bold;
  max-width: rem(100);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: rem(20);
}

.groupName {
  color: var(--color-text-secondary);
  font-size: rem($font-size-label);
  margin-left: rem($margin-2n);
  max-width: rem(100);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta {
  margin-top: rem(1);
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  font-size: rem($font-size-label);
  line-height: rem(17);
}

.time {
  margin-right: rem($margin-10);
  font-size: rem($font-size-label);
}

.location {
  margin-right: rem($margin-2n);
  display: flex;
  align-items: center;

  span {
    margin-left: rem($margin-1n);
    font-size: rem($font-size-label);
    max-width: rem(100);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.view {
  margin-right: rem($margin-2n);
  display: flex;
  align-items: center;

  span {
    margin-left: rem($margin-1n);
    font-size: rem($font-size-label);
  }

  .viewIcon {
    color: $text-color-secondary;
  }
}

.tags {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;

  p {
    width: rem(40);
    height: rem(22);
    margin-left: rem($margin-2n);
    border-radius: rem($border-radius-small);
    font-size: rem($font-size-label);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.1;
      top: 0;
      left: 0;
    }
  }

  .categoryEssence {
    color: var(--color-orange);
    border: rem(1) solid var(--color-orange);
    &:after {
      background-color: var(--color-orange);
    }
  }

  .pay {
    color: $success-color;
    border: rem(1) solid $success-color;
    &:after {
      background-color: $success-color;
    }
  }

  .reward {
    color: $warn-color;
    border: rem(1) solid $warn-color;
    &:after {
      background-color: $warn-color;
    }
  }

  .red {
    color: $text-color-error;
    border: rem(1) solid $text-color-error;
    &:after {
      background-color: $text-color-error;
    }
  }
  > div {
    margin-left: rem(8);
  }
  :global {
    .dzq-tag:after {
      z-index: 1;
    }
  }
}
