@import '@common/styles/index.scss';

.list {
  width: 100%;
  .userItem {
    padding: rem($padding-4n) 0;
    &:after {
      content: ' ';
      position: absolute;
      right: rem(16);
      left: rem(16);
      height: 1px;
      bottom: 0;
      background-color: rgba(238, 238, 238, 0.75);
    }
  }
}
