
@import '@common/styles/index.scss';
.container {
  margin-top: rem($margin-5n);
  margin-bottom: rem($margin-5n);
  &.center {
    text-align: center;
  }
  .text {
    font-size: rem($font-size-label);
    line-height: rem($font-line-height-small);
    color: $text-color-secondary;
  }
}
