@import '@common/styles/index.scss';
.friendsWrapper {
  overflow: hidden !important;
  // margin: 0 rem(-8)
}

.fansWrapper {
  padding-top: rem(8);
  padding-bottom: rem(8);
}

.titleWrapper {
  padding-left: rem(16);
  padding-right: rem(16);
}
.borderRadius {
  border-radius: $border-radius-small;
}