@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';
.avatarBox{
    position: relative;
    .userInfoBox{
        position: absolute;
        width: rem(423);
        height: rem(257);
        border-radius: rem(5);
        background: var(--color-white);
        box-shadow: var(--box-shadow);
        z-index: var(--zindex-backtotop);
        transform: translateY(100%);
        bottom: rem(-16);
        box-sizing: border-box;
        padding: rem(24);
        .header{
            
        }
        .content{}
    }
}
