@import '@common/styles/index.scss';
@import '@common/styles/_variable.scss';

.loadMoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color-placeholder;
    padding-top: rem(16);
    padding-bottom: rem(16);

    :global {
        .dzq-spin--spinner {
            color: $text-color-placeholder;
        }
    }
}