@import '../vars.scss';

.pcDialogBox {
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow-y: auto;
  @include scrollbar();
  &::-webkit-scrollbar {
    display: block;
    width: 8px;
  }

  .box__inner{
    padding: 0 $padding-4n;

    .itself {
      .msgContent {
        background-color: var(--comment-box-bg-color);
        &:before {
          border-right-color: var(--comment-box-bg-color);
        }
      }
    }
  }
}



.h5DialogBox {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 93px);
  overflow-y: auto;
}

.h5DialogBox-emoji {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 314px);
  overflow-y: auto;

}

.box__inner{
  padding: 0 $padding-4n;

  .itself {
    .msgContent {
      background-color: $white;
      &:before {
        border-right-color: $white;
      }
    }
  }
}



.msgTime {
  // @include text-font($color: $text-color-secondary);
  display: flex;
  justify-content: center;
  margin: rem(8) 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 16.8px;
  text-align: left;
  color: var(--border-color-hover);
}

.persona {
  display: flex;
  margin: rem(16) 0;
}

.profileIcon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: $im-profile-icon-size;
  height: $im-profile-icon-size;
  // background-color: $primary-color;
}


.msgImgContent {
  padding: 8px !important;
}

.msgContent {
  display: flex;
  position: relative;
  align-items: center;
  padding: 8px 16px;
  word-break: break-word;
  flex-wrap: wrap;
  border-radius: rem($border-radius-small);
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: #0b0b37;
  :global {
    .qq-emotion {
      width: 30px;
      height: 30px;
    }
  }

  &:before {
    content: '';
    border: 12px solid;
    border-color: transparent;
    position: absolute;
    top: 8px;
  }
}

.myself {
  flex-direction: row-reverse;
  .msgContent {
    @include text-font;
    margin-left: $im-msg-space-aside;
    margin-right: $im-gap-btw-icon-and-msg;
    background-color: $primary-color;
    &:before {
      border-left-color: $primary-color;
      right: -20px;
    }
  }
}

.itself {
  flex-direction: row;
  .msgContent {
    @include text-font($color: $text-color-primary);
    margin-right: $im-msg-space-aside;
    margin-left: $im-gap-btw-icon-and-msg;
    background-color: $comment-bg-color;
    &:before {
      border-right-color: $comment-bg-color;
      left: -20px;
    }
  }
}




