@import '../vars.scss';

.pcDialogBox {
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow-y: auto;
}



.h5DialogBox {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 93px);
  overflow-y: auto;
}

.h5DialogBox-emoji {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 314px);
  overflow-y: auto;

}

.box__inner{
  padding: 0 $padding-4n;

  .itself {
    .msgContent {
      background-color: $white;
      &:before {
        border-right-color: $white;
      }
    }
  }
}



.msgTime {
  @include text-font($color: $text-color-secondary);
  display: flex;
  justify-content: center;
  padding-top: rem($padding-1n);
  padding-bottom: rem($padding-1n);
}

.persona {
  display: flex;
  margin: rem($margin-2n) 0;
}

.profileIcon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: $im-profile-icon-size;
  height: $im-profile-icon-size;
  // background-color: $primary-color;
}

.msgContent {
  display: flex;
  position: relative;
  align-items: center;
  padding: rem($padding-2n);
  word-break: break-word;
  border-radius: rem($border-radius-small);
  :global {
    .qq-emotion {
      width: 30px;
      height: 30px;
    }
  }

  &:before {
    content: '';
    border: 8px solid;
    border-color: transparent;
    position: absolute;
    top: 10px;
  }
}

.myself {
  flex-direction: row-reverse;
  .msgContent {
    @include text-font;
    margin-left: $im-msg-space-aside;
    margin-right: $im-gap-btw-icon-and-msg;
    background-color: $primary-color;
    &:before {
      border-left-color: $primary-color;
      right: -13px;
    }
  }
}

.itself {
  flex-direction: row;
  .msgContent {
    @include text-font($color: $text-color-primary);
    margin-right: $im-msg-space-aside;
    margin-left: $im-gap-btw-icon-and-msg;
    background-color: $comment-bg-color;
    &:before {
      border-right-color: $comment-bg-color;
      left: -13px;
    }
  }
}




