@import '@common/styles/index.scss';
@import '@common/styles/mixin/index.scss';

// 外部容器
.amountWrapper {
  background: var(--color-white);
  // height: rem(300);
  font-size: rem($font-size-large);
  padding: rem($padding-4n);
  overflow-y: auto;

  .btnBox{
    margin-top: rem($margin-2n);
    height: rem(60);
    box-sizing: border-box;
    width: calc(100% - 32px);
    padding-left: rem($padding-4n);
    padding-right: rem($padding-4n);
    @include ios-safe-area-inset-bottom;

    &::before {
      content: '';
      display: block;
      // width: 100%;
      height: rem(1);
      background: var(--border-line-color);
      position: relative;
      top: rem(-8);
      margin: rem($margin-4n) rem(-32) 0;
    }

    .btn{
      height: rem(42);
      font-size: rem($font-size-middle);
      border-radius: 5px;
    }
  }
}

.payBoxCloseIcon {
  position: absolute;
  right: rem(3);
  top: rem(5);
  width: rem(40);
  height: rem(40);
  // background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color-regular;
  cursor: pointer;
}