@import '@common/styles/index.scss';
@import '@common/styles/mixin/index.scss';

// 外部容器
.amountWrapper {
  background: var(--color-white);
  // height: rem(300);
  font-size: rem($font-size-large);
  padding: rem($padding-4n);
  overflow-y: auto;

  .amountSubmit {
    @include ios-safe-area-inset-bottom;
    .asBtn {
      border-radius: rem(5);
      font-size: rem(16);
      height: rem(42);
    }
  }
}

.payBoxCloseIcon {
  position: absolute;
  right: rem(3);
  top: rem(5);
  width: rem(40);
  height: rem(40);
  // background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8590A6;
  cursor: pointer;
}