@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

// 外部容器
.amountWrapper {
  background: var(--color-white);
  // height: rem(300);
  font-size: rem($font-size-large);
  padding: rem($padding-4n);
  overflow-y: auto;
}