@import '@common/styles/index.scss';

.loadingBox{
    width: 100%;
    min-height: rem(300);
    background: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .loading{
      display: block;
      animation: loading 1s linear infinite;
      color: var(--loading-font-color);
    }
  }

  @keyframes loading
  {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
  }