@import '@common/styles/index.scss';
.contaner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popupWrapper {
  width: rem(572);
  height: rem(680);
  overflow: hidden;
  background: $white;
  border-radius: rem($border-radius-small);
  .title {
    text-align: center;
    font-weight: 600;
    font-size: rem($font-size-large);
    height: rem(76);
    line-height: rem(76);
    color: $text-color-primary;
    position: relative;
  }

  .closeIcon {
    position: absolute;
    right: rem(24);
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .titleHr {
    height: rem(1);
    width: 100%;
    background: $border-color;
  }
}

.splitEmelent {
  padding: 0 rem($padding-4n);
  :global {
    .dzq-divider {
      margin: 0;
    }
  } 
 }


:global {
  .dzq-modal__container {
    padding: {
      left: rem(8);
      right: rem(8);
      top: 0;
      bottom: 0;
    }
  }

  .dzq-modal__body {
    padding: 0;
  }
}