@import '@common/styles/variable/index.scss';
.topicWrap {
  background: var(--background-color-text2);
  display: flex;
  flex-direction: column;
  height: 100vh;
  .list {
    flex: 1;
  }
  .topBox {
    padding: 16px;
    background: var(--color-white);
  }
}
