@import '@common/styles/variable/index.scss';
@import '@common/styles/fn/rem.scss';

.container {
  background: var(--color-white);
  border-radius: 10px 10px 0 0;
}

.body {
  padding: 16px;
  width: 100%;

  .percentage {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    .text {
      font-size: 14px;
      padding: 0 4px;
    }
  }
}
