@import '@common/styles/index.scss';

.container {
  width: 100%;

  img {
    border-radius: $border-radius-small;
    object-fit: cover;
    background-color: $body-bg-color;
    width: 100%;
    height: 100%;
  }

  .containerNum5 {
    .bigImages {
      height: 126px;
      margin-bottom: 4px !important;
      .col {
        height: 100%;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
    .smallImages {
      height: 111px;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      .col {
        position: relative;
        height: 100%;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }

  .containerNum4 {
    height: 260px;
    margin-bottom: 0 !important;
    .col {
      height: 100%;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .smallCol {
      height: 33.33%;
    }
    .smallRow {
      width: 100%;
    }
  }

  .containerNum3 {
    .bigImages {
      height: 126px;
      margin-bottom: 4px;
    }
    .smallImages {
      height: 126px;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      .col {
        height: 100%;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }

  .containerNum2 {
    height: 260px;
    margin-bottom: 0 !important;
    .col {
      height: 100%;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  .containerNum1 {
    height: 260px;
  }
}

.containerPC {
  width: 100%;

  img {
    border-radius: $border-radius-small;
    object-fit: cover;
    background-color: $body-bg-color;
    width: 100%;
    height: 100%;
  }

  .containerNum5 {
    .bigImages {
      height: 262px;
      margin-bottom: 6 !important;
      .col {
        height: 100%;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
    .smallImages {
      height: 232px;
      margin-bottom: 0 !important;
      .col {
        position: relative;
        height: 100%;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }

  .containerNum4 {
    height: 532px;
    margin-bottom: 0 !important;
    .col {
      height: 100%;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .smallCol {
      height: 33.33%;
    }
  }

  .containerNum3 {
    .bigImages {
      height: 266px;
      margin-bottom: 6px;
    }
    .smallImages {
      height: 262px;
      margin-bottom: 0 !important;
      .col {
        height: 100%;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }

  .containerNum2 {
    height: 532px;
    margin-bottom: 0 !important;
    .col {
      height: 100%;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  .containerNum1 {
    height: 532px;
  }
}
 
.modalBox {
  position: absolute;
  top: 0;
  right: 2px;
  left: 2px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: $font-size-large;
  color: var(--color-white);
  border-radius: $border-radius-small;
  background-color: rgba(0, 0, 0, 0.5);
}
  














