@import '@common/styles/index.scss';
.tag {
  @include tag-default;

  :global {
    .dzq-icon-PositionOutlined {
      margin-right: rem($margin-1n);
    }
    .dzq-icon-CloseOutlined {
      transform: scale(0.8);
    }
    .dzq-tag-text {
      display: inline-flex;
      align-items: center;
    }
  }
}

.checked {
  @include tag-checked;
}
