@import '@common/styles/index.scss';
.tag {
  @include tag-default;

  :global {
    .dzq-icon-PositionOutlined {
      margin-right: rem($margin-1n);
    }
    .dzq-icon-CloseOutlined {
      margin-left: $margin-2n !important;
      font-size: 8px !important;
    }
    .dzq-tag-text {
      display: inline-flex;
      align-items: center;
    }
  }
}

.checked {
  @include tag-checked;
}
