@import "@common/styles/index.scss";

:global {
  .normal-badge {
    width: 100%;
    height: 100%;

    .dzq-badge {
      width: 100%;
      height: 100%;
    }

    .dzq-badge__circle {
      width: 17px;
      height: 17px;
      font-size: 12px;
      font-weight: normal;
      color: $white !important;
      background: $error-color !important;
      display: block;
      text-align: center;
      line-height: 18px;
    }
  }

  .avatar-badge {
    .dzq-badge__circle {
      top: rem(8px);
      right: rem(2px);
    }
  }

  .icon-badge {
    .dzq-badge__circle {
      top: 2px;
    }
    &.special-badge {
      .dzq-badge__circle {
        right: -6px;
      }
    }
    &.large-badge {
      .dzq-badge__circle {
        right: -8px;
      }
    }
  }

  .special-badge {
    .dzq-badge__circle {
      width: 26px;
      border-radius: 8px/50%;
    }
  }

  .large-badge {
    .dzq-badge__circle {
      width: 36px;
      border-radius: 8px/50%;
    }
  }

  .dzq-badge__info {
    display: none;
  }
}
