@import "@common/styles/index.scss";

:global {
  .normal-badge {
    width: 100%;
    height: 100%;

    .dzq-badge {
      width: 100%;
      height: 100%;
    }

    .dzq-badge__circle {
      height: 16px;
      line-height: 16px;
      font-size: $font-size-small;
      font-weight: normal;
      color: $white !important;
      background: $error-color !important;
      border-radius: $border-radius-8 !important;
    }
  }

  .avatar-badge {
    .dzq-badge__circle {
      top: rem(8px);
      right: rem(2px);
    }
  }

  .icon-badge {
    .dzq-badge__circle {
      top: 2px;
    }
    &.special-badge {
      .dzq-badge__circle {
        right: -5px;
      }
    }
    &.large-badge {
      .dzq-badge__circle {
        right: -8px;
      }
    }
  }

  .special-badge {
    .dzq-badge__circle {
      width: 26px;
    }
  }

  .large-badge {
    .dzq-badge__circle {
      width: 34px;
    }
  }

  .dzq-badge__info {
    display: none;
  }
}
