
@import '@common/styles/index.scss';
.code {
  width: 100%;
  height: rem(115);
  background: var(--color-white);
  display: flex;
  border-radius: rem($border-radius-small);
  padding: rem($padding-4n);
  box-sizing: border-box;
  align-items: center;
  .codeBox {
    width: rem(83);
    height: rem(83);
    margin-right: rem($margin-4n);
    .codeBoxImg {
      width: 100%;
      height: 100%;
    }
  }
  .codeText {
    .codeTextVisit {
      font-size: rem($font-size-large);
      line-height: rem($font-line-height-primary);
      color: var(--color-text-primary);
      font-weight: bold;
    }
    .codeTextLogo {
      margin-top: rem($margin-2n);
      font-weight: normal;
      font-size: rem($font-size-large);
      line-height: rem($font-line-height-primary);
      color: $text-color-regular;
    }
  }
}