@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.list {
  padding: rem(16) 0 rem(24);
  .item {
    width: 100%;
    margin-bottom: rem(16);
    height: 82px;
    border-radius: 5px;
    background: #f5f7f8;
    display: flex;
    align-items: center;
    padding: rem(16) rem(24);
    box-sizing: border-box;
    &:last-child {
      margin-bottom: 0;
    }
    .content {
      width: 100%;
      height: 100%;
      padding-left: rem(16);
    }
    .top {
      margin-bottom: rem(8);
      .name {
        font-weight: 700;
        font-size: rem(16);
        line-height: rem(17.8);
        color: #0b0b37;
        margin-right: rem(8);
      }
      .group {
        font-size: rem(14);
        line-height: rem(22);
        color: #8490a8;
      }
    }
    .num {
      display: flex;
      .numItem {
        font-size: rem(14);
        line-height: rem(22);
        color: #2469f6;
        padding: 0 rem(8);
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          border-right: none;
        }
      }
      .numTitle {
        color: #4F5A70;
        margin-right: rem(8);
      }
    }
    .button {
      padding: rem(8) rem(36);
      font-size: rem(14);
      line-height: rem(18);
      .addIcon {
        margin-right: rem(8);
      }
    }
  }
}
