@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.list {
  padding: rem($padding-4n) 0 rem($padding-6n);
  .item {
    width: 100%;
    margin-bottom: rem($margin-4n);
    height: rem(82);
    border-radius: rem($border-radius-small);
    background: var(--comment-box-bg-color);
    display: flex;
    align-items: center;
    padding: rem($padding-4n) rem($padding-6n);
    box-sizing: border-box;
    &:last-child {
      margin-bottom: 0;
    }
    .content {
      width: 100%;
      height: 100%;
      padding-left: rem($padding-4n);
    }
    .top {
      margin-bottom: rem($margin-2n);
      .name {
        font-weight: 700;
        font-size: rem($font-size-middle);
        line-height: rem(18);
        color: var(--color-text-primary);
        margin-right: rem($margin-2n);
      }
      .group {
        font-size: rem($font-size-primary);
        line-height: rem($font-line-height-small);
        color: var(--color-text-secondary);
      }
    }
    .num {
      display: flex;
      .numItem {
        font-size: rem($font-size-primary);
        line-height: rem($font-line-height-small);
        color: var(--color-primary);
        padding: 0 rem($padding-2n);
        position: relative;
        &::after {
          position: absolute;
          left: 0;
          top: rem($padding-1n);
          content: '';
          width: rem(1);
          height: rem($font-size-label);
          background: var(--border-line-color);
        }
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          border-right: none;
        }
      }
      .numTitle {
        color: var(--pc-user-info-title);
        margin-right: rem($margin-5);
      }
    }
    .button {
      height: rem(36);
      font-size: rem($font-size-primary);
      line-height: rem(18);
      padding: rem(8) rem(36);
      display: flex;
      align-items: center;
      .addIcon {
        margin-right: rem($margin-5);
      }
    }

    .follow {
      background-color: var(--color-primary);
    }
    .isFollow {
      background-color: var(--color-primary5);
    }
    .withdraw {
      background-color: var(--color-warn);
    }
  }
}
