@import '@common/styles/index.scss';

.contain{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .choice {
        height: 125px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        Button {
          margin: 0px;
          padding: 0px;
          border: 0px;
        }
        .fabulous {
            @include cursor-on-pc;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: $padding-10 0;
            //background-color: ;
            .fabulousIcon {
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: $font-size-primary ;
            }
            .fabulousPost {
              font-size: $font-size-primary;
              color: $text-color-secondary;
              height: 35px;
              display: flex;
              align-items: center;
            }
            .icon {
              color: $text-color-secondary;
            }
        }
    }
    .space {
      width: 100%;
      height: 5px;
      background: var(--background-color-text2);
    }
    .bottom {
      background-color: #fff;
      height: 50px;
      font-size: 15px;
      line-height: 100rpx;
      color: '#333';
      text-align: center;
      margin-bottom: 20px;
      &::after {
        display: block;
        content: '';
        width: 100%;
        height: 20px;
        background-color:var(--background-color-text2);
      }
    }
}