@import '@common/styles/index.scss';

.contain{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .choice {
        height: 187px;
        width: 100%;
        background-color: #EEEEEE;
        Button {
          margin: 0px;
          padding: 0px;
          border: 0px;
        }
        .fabulous {
            @include cursor-on-pc;
            float: left;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 14px;
            padding: $padding-10 0;
            //background-color: ;
            .fabulousIcon {
              height: 40px;
              width: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: $font-size-primary ;
              background-color: #fff;
              border-radius: 5px;
            }
            .fabulousPost {
              font-size: 12px;
              color: #4F5A70;
              height: 35px;
              display: flex;
              align-items: center;
            }
            .icon {
              color: $text-color-secondary;
            }
        }
    }
    .bottom {
      background-color: #f8f8f8;
      height: 66px;
      font-size: 14px;
      color: '#4F5A70';
      text-align: center;
      Text {
        display: block;
        margin-top: 16px;
      }
    }
}