
@import '@common/styles/index.scss';
.container {
  .box {
    height: rem(104);
    border-radius: rem($border-radius-small);
    background:var(--color-warn5);
    display: flex;
    align-items: center;
    margin-bottom: rem($margin-4n);
    .money {
      flex: 0 0 rem(94);
      height: rem(104);
      border-radius: rem($border-radius-small) 0 0 rem($border-radius-small);
      background: #C61A2F;
      text-align: center;
      position: relative;
      overflow: hidden;
      .moneyText {
        font-size: 20px;
        line-height: 28px;
        font-weight: normal;
        color: var(--color-white);
        text-align: center;
        margin: 32px auto 0;
      }
      .moneyTop {
        width: 200%;
        height: 100%;
        border-radius: 0 0 50% 50%;
        background: #F94151;
        position: absolute;
        top: -80px;
        left: -50%;
      }
      .moneyBottom {
        width: 200%;
        height: 100%;
        border-radius: 50% 50% 0 0;
        background: #F94151;
        position: absolute;
        top: 76px;
        left: -50%;
      }
      .moneyReward {
        width: 30px;
        height: 30px;
        background: #FFDF47;
        border-radius: 50%;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #C61A2F;
        position: absolute;
        top: 64px;
        left: 32px;
      }
    }
    .content {
      height: rem(104);
      border-radius: rem($border-radius-small) 0 0 rem($border-radius-small);
      padding: rem($padding-10) rem($padding-4n);
      box-sizing: border-box;
      .title {
        width: 100%;
        font-weight: normal;
        font-size: rem($font-size-primary);
        line-height: rem(29.67);
        height: rem(29.67);
        color: var(--color-text-primary);
        overflow: hidden;
      }
      .avatar {
        width: rem(16);
        height: rem(16);
        border-radius: 50%;
        margin: 0 rem($margin-1n);
        background: #727170;
      }
      .username {
        color: var(--color-primary);
        margin-right: rem($margin-1n);
      }
      .text {
        height: rem(48);
        font-weight: normal;
        font-size: rem($font-size-middle);
        line-height: rem($font-line-height-middle);
        color: var(--color-text-primary);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
.button {
  width: 100%;
  height: rem(36);
}
