@import '@common/styles/index.scss';
@import '@common/styles/_variable.scss';

.userCenterEditMiddle {
  padding: $padding-4n;
  padding-bottom: 0;
  h3 {
    font-size: $font-size-middle;
    // margin-bottom: 16;
  }
  .userCenterEditItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F4F6F7;
    padding: $padding-4n 0;
    >div:nth-child(2) {
      margin-left: $margin-2n;
    }
    :global {
      .dzq-icon {
        font-size: $font-size-small !important;
        color: $text-color-secondary;
      }
      .dzq-input {
        width: 100%;
        height: 0;
        line-height: 1;
      }
      .dzq-input__inner {
        text-align: right;
        border: none;
        font-size: $font-size-base;
        height: 0;
        line-height: 1;
        margin-top: -$margin-2n;
        padding-right: 0;
        display: block;
      }
    }
  }
  .userCenterEditLabel {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 36;
    // line-height: 36;
    font-size: $font-size-base;
    // border-bottom: 1px solid #F4F6F7;
    >label {
      color: $text-color-regular;
    }
    >div {
      color: $text-color-primary;
    }
    .userCenterEditWeChat {
      display: flex;
      align-items: center;
      span {
        margin-left: $margin-4n;
      }
    }
  }
}

.userCenterEditBottom {
  height: 156px;
  padding: $padding-4n;
  box-sizing: border-box;
  padding-top: 0;
  h3 {
    margin-top: $margin-4n;
    // margin-bottom: 16;
    font-size: $font-size-middle;
  }
  // &::before {
  //   content: '';
  //   display: block;
  //   height: 10px;
  //   background: #F4F6F7;
  //   margin: 0 -20;
  // }
  .userCenterEditItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $padding-4n $padding-5n;
    border-bottom: 1px solid #F4F6F7;
    margin: 0 -$margin-5n $margin-2n;
    >div:nth-child(2) {
      margin-left: $margin-2n;
    }
    :global {
      .dzq-icon {
        font-size: $font-size-small !important;
        color: $text-color-secondary;
      }
    }
  }
  .userCenterEditLabel {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 36;
    // line-height: 36;
    font-size: $font-size-base;
    // border-bottom: 1px solid #F4F6F7;
    >label {
      color: $text-color-regular;
    }
    >div {
      color: $text-color-primary;
    }
  }
  .userCenterEditBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20;
    button {
      width: 166px;
      height: 42px;
      font-size: $font-size-middle;
      border: none;
    }
    button:nth-child(1) {
      margin-right: $margin-10;
      background-color: $text-bg-color2;
    }
  }
}