@import '@common/styles/index.scss';

.userCenterWrapper {
  height: 100vh;
  background-color: $white;
}

.userCenterEditMiddle {
  padding: $padding-4n;
  padding-bottom: 82px;
  .title {
    font-size: $font-size-middle;
    // margin-bottom: rem(16);
  }
  .userCenterEditItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F4F6F7;
    padding: $padding-4n 0;
    height: 52px;
    box-sizing: border-box;
    // >div:nth-child(2) {
    //   margin-left: rem($margin-2n);
    // }
  }
  .userCenterEditLabel {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: rem($font-size-base);
    .userLabelName {
      color: $text-color-regular;
    }
    .userCenterEditWeChat {
      display: flex;
      align-items: center;
      .wxNickname {
        margin-left: rem($margin-4n);
      }
      .linkText {
        color: $primary-color;
        cursor: pointer;
        margin-left: rem($margin-4n);
      }
    }
  }
}

.userCenterEditValue {
  display: flex;
  align-items: center;
  .ucText {
    font-size: $font-size-base;
    margin-right: $margin-2n;
  }
  :global {
    .dzq-icon {
      color: $text-color-secondary;
    }
  }
}

.userInputContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--comment-content-bg-color);
  box-sizing: border-box;
  height: 52px;
  overflow: hidden;
  .uerInputItem {
    height: 52px;
    line-height: 51px;
    font-size: rem($font-size-base);
    :global {
      .dzq-icon {
        color: $text-color-secondary;
      }
      .dzq-input {
        width: 100%;
        height: 51px;
        display: flex;
        align-items: center;
        font-size: rem($font-size-base);
        padding: 0;
      }
      .dzq-input__inner {
        text-align: right;
        border: none;
        font-size: rem($font-size-base);
        margin-top: 0;
        padding-right: 0;
        display: block;
        height: 51px;
        line-height: 51px;
        padding: 0;
      }
    }
    @include text-ellipsis();
  }
  .userLabelName {
    color: $text-color-regular;
    flex-shrink: 0;
    margin-right: $margin-2n;
    font-size: $font-size-base;
  }
}
.userCenterEditBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  padding: 0 $padding-4n;
  .btn {
    height: 42px;
    padding: 0;
    line-height: 42px;
    font-size: $font-size-middle;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .btn:nth-child(1) {
    margin-right: $margin-10;
    background-color: $text-bg-color2;
  }

  .buttonContent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}