@import '@common/styles/index.scss';
@import '@common/styles/_variable.scss';

.payList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .payListItem{
    border-bottom: var(--border-border);
    width: rem(46);
    height: rem(49);
    text-align: center;
    line-height: rem(49);
    font-size: rem($font-size-middle);
    &:not(:last-child) {
      margin-right: rem($margin-2n);
    }

    &.curr{
      border-bottom-color: $border-color-hover;
    }
    &.activation{
      border-bottom-color: $border-color-hover;
    }
  }
}

.keyboard{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: rem(90);
  z-index: 1111;
  background-color: $white;
  .line{
    display: flex;
    align-items: center;
    .column{
      box-sizing: border-box;
      flex: 1;
      font-size: rem($font-size-large);
      color: var(--color-text-primary);
      height: rem(50);
      text-align: center;
      border: 1px solid var(--border-line-color);
      border-bottom: none;
      border-right: none;
      line-height: rem(50);
    }
    .special{
      box-sizing: border-box;
      flex: 1;
      font-size: rem($font-size-middle);
      color: var(--color-text-primary);
      height: rem(50);
      text-align: center;
      border: 1px solid var(--border-line-color);
      border-bottom: none;
      border-right: none;
      line-height: rem(50);
      background: var(--comment-content-bg-color);
    }
  }
}