@import '@common/styles/index.scss';
@import '@common/styles/_variable.scss';

.userCenterEditHeader {
  position: relative;
  width: rem(1100);
  min-height: rem(246);
  .userCenterEditHeaderImg {
    width: 100%;
    height: rem(153);
    background:  no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
  }
  // background-color: pink;
  .headImgBox{
    position: absolute;
    left: 50%;
    top: rem(193);
    transform: translateX(-50%) translateY(-100%);
  }
  .userCenterupload {
    position: absolute;
    top: rem(120);
    right: rem(24);
    font-size: rem($font-size-small);
    line-height: 22px;
    color: $text-color-secondary;
    display: flex;
    align-items: center;
    cursor: pointer;
    .uploadIcon {
      margin-right: rem(6);
    }
  }
  .userCenterReturn {
    top: rem(177);
    right: rem(24);
    font-size: rem($font-size-base);
    .userCenterReturnIcon {
      margin-right: rem(6);
    }
  }
  .userCenterEditDec {
    position: absolute;
    top: rem(221);
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #0B0B37;
    font-size: rem($font-size-middle-extra);
    font-weight: 600;
    line-height: rem(25);
    text-align: center;
  }
  .userCenterEditCameraIcon {
    position: absolute;
    width: rem(34);
    height: rem(34);
    background-color: $primary-color;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    border: rem(2) solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    :global {
      .dzq-icon {
        color: $white;
      }
    }
  }
}