@import '@common/styles/index.scss';
@import '@common/styles/_variable.scss';
@mixin captchaBtn {
  position: absolute;
  right: 8px;
  bottom: 0;
  text-align: center;
  line-height: 44px;
  border-radius: $border-radius-small;
  font-size: $font-size-base;
  color: $icon-color;
  cursor: pointer;
  padding-right: $padding-2n;
}

.userMobileWrapper {
  :global {
    .dzq-modal__container {
      width: rem(409);
      height: rem(297);
      border-radius: rem(var(--border-radius-small));
      background: $white;
      box-sizing: border-box;
      padding: rem($padding-6n);
    }
    .dzq-modal__body {
      padding: 0;
    }
  }
}

.userMobileContent {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem($margin-6n);
  }
  .titleValue {
    flex: 1;
    text-align: center;
    font-size: rem($font-size-middle);
    color: $text-color-primary;
    font-weight: var(--font-weight-regular);
    letter-spacing: 1px;
    height: rem(22);
    line-height: rem($font-line-height-small);
  }
  .inputItem {
    margin-bottom: rem($margin-6n);
    .labelName {
      font-size: rem($font-size-base);
      color: $text-color-regular;
      height: rem(20);
      line-height: rem(20);
    }
    .labelValue {
      position: relative;
    }
    .verifyCodeBtn {
      position: absolute;
      right: rem(4);
      top: rem(4);
    }
    .codeBtn {
      .btn {
        border: none;
      }
    }
    :global {
      .dzq-input {
        width: 100%;
        height: rem(44);
        margin-top: rem($margin-4n);
      }
      .dzq-input__inner {
        width: 100%;
        height: rem(44);
      }
    }
  }
  .mobileItem {
    position: relative;
  }
  .sendCaptcha {
    @include captchaBtn;
    color: $primary-color;
    &:hover {
      color: $text-color-secondary;
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn {
    width: rem(248);
    height: rem(36);
    line-height: rem(36);
    padding: 0;
  }
}

.btnColor {
  border: none;
  color: $text-color-secondary;
  &:hover {
    color: $primary-color;
  }
}

.bgBtnColor {
  :global {
    .dzq-button--primary.is-mouseenter {
      @include button-primary();
    }
  }
}
