@import '@common/styles/index.scss';
@import '@common/styles/_variable.scss';
@mixin captchaBtn {
  position: absolute;
  right: 8px;
  bottom: 0;
  text-align: center;
  line-height: 44px;
  border-radius: $border-radius-small;
  font-size: $font-size-base;
  color: $icon-color;
  cursor: pointer;
  padding-right: $padding-2n;
}

.userMobileWrapper {
  :global {
    .dzq-modal__container {
      width: rem(409);
      height: rem(423);
      border-radius: rem(var(--border-radius-small));
      background: $white;
    }
  }
}

.userMobileContent {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem($margin-6n);
    :global {
      .dzq-icon {
        font-size: $font-size-base !important;
      }
    }
  }
  .titleValue {
    flex: 1;
    text-align: center;
    font-size: rem($font-size-middle);
    color: $text-color-primary;
    font-weight: var(--font-weight-regular);
    letter-spacing: 1px;
  }
  .inputItem {
    margin-bottom: rem($margin-6n);
    .labelName {
      font-size: rem($font-size-base);
      color: $text-color-regular;
    }
    .labelValue {
      position: relative;
    }
    :global {
      .dzq-input {
        width: 100%;
        height: rem(44);
        margin-top: rem($margin-4n);
      }
      .dzq-input__inner {
        width: 100%;
        height: rem(44);
      }
    }
  }
  .sendCaptcha {
    @include captchaBtn;
    color: $primary-color;
    &:hover {
      color: $text-color-secondary;
    }
  }
  .bottom {
    position: absolute;
    bottom: rem(24);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn {
    width: rem(248);
    height: rem(36);
  }
} 