@import '@common/styles/index.scss';

.listItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: $padding-3n 0;
  background-color: $white;

  .wrapper {
    display: flex;
    align-items: center;
  }

  .header {
    position: relative;
    height: 38px;
    margin-right: 12px;
    box-sizing: border-box;
    // .img {
    //   display: inline-block;
    //   width: 38);
    //   height: 38);
    //   border-radius: 19);
    //   line-height: 38);
    //   text-align: center;
    //   font-size: 20);
    //   background: $body-bg-color;
    // }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -2px;
      right: -4px;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      border: var(--color-white) solid 1px;
      text-align: center;
      line-height: 20px;
      color: var(--color-white);
      &.like {
        background-color: $error-color;
      }
      &.heart {
        background-color: $warn-color;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $font-size-primary;
    .title {
      color: var(--color-text-primary);
      line-height: 20px;
    }
    .subTitle {
      color: var(--color-text-secondary);
      line-height: 17px;
      font-size: $font-size-small;
    }
  }

  .footer {
    font-size: $font-size-label;
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    .label {
      margin-right: 7;
    }
  }
  .button {
    height: 25px;
    width: 72px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

.bottomLine {
  &:after {
    content: ' ';
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    bottom: 0;
    background-color: rgba(238, 238, 238, 0.75);
  }
}

.sidebarPadding {
  padding-left: $padding-4n;
  padding-right: $padding-4n;

  &:after {
    content: ' ';
    position: absolute;
    right: rem(16);
    left: rem(16);
    height: 1px;
    bottom: 0;
    background-color: rgba(238, 238, 238, 0.75);
  }
}