@import '@common/styles/index.scss';

$margin16: rem($margin-4n);

.dvditor-toolbar {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $body-bg-color;
  &__left {
    margin-left: $margin16;
    font-size: $font-size-primary;
  }
  &__right {
    margin-right: $margin16;
    font-size: $font-size-primary;
    color: $text-color-primary-color;
  }
  &__item {
    position: relative;
    margin-right: rem(24);
    display: inline-flex;
    font-size: $font-size-primary;
    color: $icon-color;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }

    &.active {
      color: $icon-color-active;
    }
  }
}
@supports (bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom)) {
  .dvditor-toolbar {
    padding-bottom: calc(1px + constant(safe-area-inset-bottom));
    padding-bottom: calc(1px + env(safe-area-inset-bottom));
  }
}

.dvditor-attachment-toolbar {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $font-size-label;
  background-color: $white;
  border-top: 1px solid $border-color;
  &__left {
    margin-left: $margin16;
    font-size: $font-size-label;
  }
  &__right {
    margin-right: rem($margin-2n);
    &.show {
      width: rem(36);
      margin-right: rem($margin-2n);
      text-align: right;
      border-left: 1px solid $border-color;
      background-clip: padding-box;
    }
    :global {
      .dzq-icon {
        color: $icon-color;
        cursor: pointer;
        &:first-child {
          margin-left: rem(-$margin-1n);
        }
      }
    }
  }
  &__inner {
    margin: 0 $margin16;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    border-radius: $border-radius-small;
  }
  &__item {
    display: inline-block;
    margin-left: $margin-6n;
    color: $icon-color;
    cursor: pointer;
    &:first-child {
      margin-left: 0;
    }
    :global {
      .dzq-icon {
        color: $icon-color;
        cursor: pointer;
      }
    }
    &.active {
      color: $icon-color-active;
      :global {
        .dzq-icon {
          color: $icon-color-active;
        }
      }
    }
  }
}

.dvditor-seletion-toolbar {
  margin: 0 $margin16;
  height: 36px;
  display: flex;
  align-items: center;
  &__item {
    margin-right: $margin-6n;
    &:last-child {
      margin-right: 0;
    }
  }
}

.pc {
  background-color: $white;
}
