@import '@common/styles/index.scss';
.post-good-box {
  margin: 16px;
  background: #fff;
  .title {
    font-size: 16px;
    line-height: 22px;
    color: var(--color-text-primary);
  }
  .content {
    display: flex;
    margin-top: 16px;
    padding: 16px;
    background: $body-bg-color;
    .content-left {
      width: 82px;
      height: 82px;
      border-radius: 5px;
      .image {
        width: 100%;
        height: 100%;
      }
    }
    .content-right {
      flex: 1;
      margin-left: 16px;
      margin-right: 8px;
      position: relative;
      .content-title {
        height: 44px;
        font-size: 14px;
        line-height: 24px;
        color: var(--color-text-regular);
        @include lamp-clamp(2);
      }
      .content-price {
        display: inline-block;
        margin-top: 8px;
        font-family: PingFangSC-Semibold;
        font-size: 20px;
        line-height: 30px;
        color: #e02433;
      }
    }
  }
  .delete-icon {
    position: absolute;
    bottom: -3px;
    right: -14px;
    padding: 5px;
  }
  .good-add-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 114px;
    background: var(--background-color-text);
    border-radius: 5px;
    .good-add-text {
      font-size: 14px;
      line-height: 18px;
      color: #8590A6;
    }
  }
}

.pc {
  .delete-icon {
    position: absolute;
    bottom: 50%;
    right: 0;
    transform: translate(0, 50%);
  }
}