@import '@common/styles/fn/rem.scss';
@import '@common/styles/variable/index.scss';

.container {
    padding: rem($padding-4n) rem($padding-4n) 0;
    background: var(--color-white);
}

.content {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    padding-bottom: rem($padding-4n);
    color: var(--color-text-primary);
    .text {
        font-family: 'PingFangSC-Regular';
        font-size: rem($font-size-primary);
        text-align: left;
        line-height: rem(16);
    }
    .money {
        font-family: "PingFang SC";
        font-weight: 600;
        font-size: rem($font-size-middle);
        text-align: left;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    font-family: 'PingFangSC-Regular';
    font-weight: normal;
    font-size: rem($font-size-label);
    .time {
        text-align: left;
        color: var(--color-text-secondary);
    }
    .withdrawalStatus1 {
        color: var(--color-primary);
    }
    .withdrawalStatus2 {
        color: var(--pc-user-info-title);
    }
    .withdrawalStatus3 {
        color: var(--color-error);
    }
    .withdrawalStatus4 {
        color: #3ac15f;
    }
}

.serialNumber {
    font-family: 'PingFangSC-Regular';
    font-weight: normal;
    font-size: rem($font-size-label);
    text-align: left;
    color: #8490a8;
    padding: rem($padding-4n) 0;
    border-bottom: var(--border-border);
}