@import '../vars.scss';

.interactionBox {
  @include im-pagebed;
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  padding: rem($padding-2n) rem($padding-4n);
  background-color: var(--color-white);
}

.inputWrapper {
  display: flex;
  background-color: var(--background-color-text2);
  border-radius: rem($border-radius-small);
  :global {
    .dzq-input {
      width: auto;
    }
    .dzq-input__inner {
      background-color: var(--background-color-text2);
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
      &:focus-visible {
        border: none;
      }
    }
  }
}

.tools {
  display: flex;
  align-items: center;
  padding: rem($padding-2n);
}

.submit {
  display: flex;
  align-items: center;
  margin-left: rem($margin-2n);
}

.pictureUpload {
  margin-left: rem($margin-2n);
}
