@import '../vars.scss';

.interactionBox {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  padding-top: rem($padding-2n);
  padding-bottom: rem($padding-2n);
  background-color: var(--color-white);
  width: 100vw;
}

.inputWrapper {
  display: flex;
  background-color: $text-bg-color2;
  border-radius: $border-radius-small;
  flex: 2;
  justify-content: space-between;
  margin-left: $im-pagebed-padding;
  :global {
    .dzq-input {
      width: 100%;
    }
    .dzq-input__inner {
      background-color: $text-bg-color2;
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
      &:focus-visible {
        border: none;
      }
    }
  }
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 $im-space-in-between-btns;
}

.submit {
  display: flex;
  align-items: center;
  margin-left: $im-space-in-between-btns;
  margin-right: $im-pagebed-padding;
}

.submitBtn {
  padding: $padding-2n $padding-4n;
}

.pictureUpload {
  margin-left: $im-space-in-between-btns;
}
