@import '@common/styles/index.scss';

.tan {
  :global { /* stylelint-disable-line */
    .popup-cacel {
      height: 44px;
      line-height: 44px;
      text-align: center;
      font-size: var(--font-size-primary);
      color: #4f5a70;
      border-top: var(--border-border);
    }
    .dzq-popup__container {
      width: rem(343);
      margin-right: rem(-10);
      padding: rem(16);
      background: var(--color-white);
      border-radius: rem(10) rem(10) 0 0;
      //   box-shadow: 0 -1px 15px 0 rgba(0, 0, 0, 0.3);
      overflow: hidden;
    }
    .dzq-popup__overlay {
      background-color: rgba(51, 51, 51, 0.3) !important;
    }
  }
}
.popup-title {
  margin-bottom: rem(16);
  font-size: var(--font-size-middle);
  font-weight: 600;
}
.pc-title {
  &.popup-title {
    margin: 36px 0 var(--margin-4n);
    display: flex;
    align-items: center;
  }
  :global { /* stylelint-disable-line */
    .dzq-icon {
      margin-right: var(--margin-2n);
    }
  }
}
.popup-content {
  width: 100%;
  margin-bottom: rem(-10);
  padding: rem(16) 0;
  :global { /* stylelint-disable-line */
    .dzq-button {
      max-width: rem(310);
      padding: 0 rem(10);
      height: 36px;
      border-radius: 5px;
      background: var(--background-color-text2);
      margin-right: rem(10);
      margin-bottom: rem(10);
      border: none;
      font-size: var(--font-size-primary);
      line-height: 24px;
      text-align: center;
      color: var(--color-text-primary);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .dzq-button.active {
      background: var(--color-primary);
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: var(--color-white);
    }
    .dzq-button.is-pc {
      margin-right: var(--margin-4n);
    }
  }
}
.popup-content__children {
  margin-bottom: rem(-10);
  padding: rem(16) 0;
  border-top: var(--border-border);
  :global { /* stylelint-disable-line */
    .dzq-button.active {
      color: var(--color-primary);
      background-color: var(--color-primary10);
    }
    .dzq-buton {
      background-color: var(--color-primary10);
    }
  }
}