@import '@common/styles/index.scss';

.tan {
  :global { /* stylelint-disable-line */
    .dzq-button {
      max-width: rem(310);
      padding: 0 rem(10);
      height: 36px;
      border-radius: 5px;
      background: #eff1f3;
      margin-right: rem(10);
      margin-bottom: rem(10);
      border: none;
      font-size: var(--font-size-primary);
      line-height: 24px;
      text-align: center;
      color: #0b0b37;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .dzq-button.active {
      background: #2469f6;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #fff;
    }

    .dzq-popup__container {
      width: rem(343);
      margin-right: rem(-10);
      padding: rem(16);
      background: #fff;
      border-radius: rem(10) rem(10) 0 0;
      //   box-shadow: 0 -1px 15px 0 rgba(0, 0, 0, 0.3);
      overflow: hidden;
    }
    .popup-title {
      margin-bottom: rem(16);
      font-size: var(--font-size-middle);
      font-weight: 600;
    }
    .popup-content {
      width: 100%;
      margin-bottom: rem(-10);
      padding: rem(16) 0;
    }
    .popup-content__children {
      margin-bottom: rem(-10);
      padding: rem(16) 0;
      border-top: 1px solid #eee;
      .dzq-button.active { /* stylelint-disable-line */
        color: #2469f6;
        background-color: #e8f0fe;
      }
      .dzq-buton{ /* stylelint-disable-line */
        background-color: #e8f0fe;
      }
    }
    .popup-cacel {
      height: 44px;
      line-height: 44px;
      text-align: center;
      font-size: var(--font-size-primary);
      color: #4f5a70;
      border-top: 1px solid #eee;
    }

  }
}