@import '@common/styles/index.scss';
.index {
  height: 100vh;
  width: 100vw;
  background: $white;

  .header {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    padding: 0 $padding-4n;
    .show {
      .showGet {
        display: flex;
        justify-content: flex-end;
        .icon {
          line-height: 50px;
        }
        .showMoneyNum {
          font-weight: $font-weight-regular;
          font-size: var($font-size-label);
          line-height: 50px;
          text-align: left;
          color: $text-color-primary;
          margin-left: $margin-2n;
          .moneyNumber {
            color: $error-color;
          }
        }
      }
    }
    .more {
      line-height: 20px;
      padding-left: $padding-2n;
      color: $text-color-secondary;
    }
  }

  .body {
    height: 100%;
    overflow-y: auto;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
