@import '@common/styles/index.scss';

.container {
  position: relative;
  max-width: rem(44);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .img {
    border-right: rem(1) solid var(--color-white);
    border-radius: 50%;
    z-index: 1;
  }
  .imgAfter {
    position: relative;
    left: rem(-5);
    z-index: 0;
  }

  .moreIcon {
    position: absolute;
    right: 0;
    bottom: rem(2.5);
    transform: translateX(50%);
    color: $text-color-secondary;
    width: rem(20);
    height: rem(12);
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    border-radius: rem(6);
    border: $border-solid-1;
    box-sizing: border-box;

    .icon {
      transform: rotate(90deg);
    }
  }
}
