@import '@common/styles/index.scss';

.container {
  position: relative;
  max-width: rem(44);
  .img { }
  .imgAfter {
    position: absolute;
    border: var(--color-white) solid rem(1);
    border-radius: 50%;
    right: rem(-1);
    top: rem(-1);
  }
}