@import '@common/styles/index.scss';
.header{
  height: rem(40);
  display: block;
  .headerContent{
    display: flex;
    padding: rem($padding-2n) rem($padding-4n);
    box-sizing: border-box;
    background: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(40);
    border-bottom: 1px solid var(--border-line-color);
    z-index: var(--zindex-too0p);
    .left{
      width: 50%;
      font-size: rem($font-size-base);
      color: $text-color-primary;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .left-arrow {
        transform: rotate(
          180deg
        );
      }
      .text {
        padding-left: $padding-2n;
      }
    }
    .right{
      width: 50%;
      display: block;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .icon{
        &:not(:last-child) {
          margin-right: rem($margin-4n);
        }
        font-size: rem(18) !important;
        color: var(--color-text-secondary);
      }
    }
  }
}