@import '@common/styles/index.scss';

.container {
  width: 100%;
  background: var(--color-white);
  padding: rem($padding-4n) rem($padding-6n) 0 rem($padding-6n);
  border-radius: var(--border-radius-small);
  box-sizing: border-box;

  &.isEmpty {
    padding-bottom: rem($padding-4n);
  }
}

.header {
  margin-bottom: rem($margin-4n);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
  background: var(--color-white);
  line-height: rem(22);

  .number {
    font-size: rem($font-size-middle);
    color: var(--color-text-primary);
  }

  .sort {
    font-size: rem($font-size-primary);
    color: var(--color-text-secondary);
    cursor: pointer;

    .sortText {
      padding-left: rem($padding-2n);
      cursor: pointer;
    }
    .sortIcon {
      cursor: pointer;
    }
  }
}

.body {
  background: var(--color-white);

  .commentItems {
    border-bottom: var(--border-border);

    &:last-child {
      border-bottom: none;
    }
  }
}
