@import "@common/styles/index.scss";

@mixin flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  padding: 0 $padding-4n;
  background: $white;
  border-top: $border-solid-1;

  :global {
    .tea-checkbox-group {
      .dzq-checkbox-wrap {
        margin-right: 0;
        -webkit-tap-highlight-color: transparent;
        &:last-child {
          margin-left: $margin-6n;
        }

        .dzq-checkbox {
          width: 20px;
          height: 20px;
          border-radius: $border-radius-small;
          &::after {
            width: 40px;
            height: 40px;
            border-radius: $border-radius-big;
          }
        }

        .dzq-icon {
          font-size: $font-size-label !important;
        }

        .dzq-checkbox__label {
          color: $text-color-primary;
        }

        &.is-checked {
          .dzq-checkbox::after {
            border: none;
          }
        }
      }
    }

    .dzq-input {
      .dzq-input__inner {
        padding: $padding-2n;
        text-align: right;
        border: none;
      }

      .input-placeholder {
        color: $text-color-placeholder;
      }
    }
  }

  .reward-item {
    @include flex();
    padding: $padding-4n 0;
    font-size: $font-size-primary;
    color: $text-color-primary;
    border-top: $border-solid-1;
    &:first-child {
      border-top: none;
    }

    .left {
      width: 100px;
      color: $text-color-regular;
      line-height: 18px;
      text-align: left;
    }

    .right {
      flex: 1;
      @include flex();
      justify-content: flex-end;
    }

    &.like {
      justify-content: flex-end;
      border-top: none;

      .right {
        flex: 0;
        width: 70px;
        border-bottom: $border-solid-1;
      }
    }
  }

  .btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);
    margin: 0 $margin-10;
    padding: $padding-2n 0;
    background: $white;
    border-top: $border-solid-1;

    :global {
      .dzq-button {
        width: 48%;
        padding: $padding-10 0;
        font-size: $font-size-middle;
        color: $text-color-regular;
        line-height: $font-line-height-small;
        border: none;
        border-radius: $border-radius-small;
        background: $text-bg-color2;
        -webkit-tap-highlight-color: transparent;
      }
    }

    .btn-confirm {
      color: $white;
      background-color: $primary-color;
    }
  }
}
