@import '@common/styles/fn/rem.scss';
.orCode{
  width: rem(327);
  height: rem(290);
  margin-top: rem(10);
  background: var(--border-line-color);
  position: relative;
  text-align: center;
  .orCode__img {
    margin-top: rem(40);
    width: rem(150);
    height: rem(150);
    display: inline-block;
  }
  .orCode__text {
    padding: rem(40) rem(20) 0;
    text-align: left;
  }
}